.checklist ul {
	padding-left: 1em;
}

.checklist .items > li {
	display: flex;
	align-items: center;
}

.checklist li input {
	margin-right: 1em;
}
.checklist li p {
	max-width: 80%;
	margin: 0.6em 0;
}

.checklist img {
	max-width: 100%;
}
