.landing__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	color: white;
}
.landing__header h1 {
	color: inherit;
}

.landing__header header {
	text-align: center;
	max-width: 800px;
}
.landing__header ul {
	list-style: none;
	padding-left: 0;
}
.landing__header li img {
	width: 1.2em !important ;
	height: 1.2em !important ;
	vertical-align: middle !important;
}
.landing__header a {
	margin: 6rem auto;
}

.landing__reassurance {
	height: 20vh;
	padding: 3rem;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.landing__reassurance > * {
	height: 100%;
	text-align: center;
	flex: 1;
}
.landing__reassurance img {
	max-height: 100%;
	max-width: 100%;
}
