.landing__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

@media (min-width: 500px) {
	.landing__header {
		padding: 1.75rem;
	}
	.landing__banner {
		border-top-left-radius: 0.7rem;
		border-top-right-radius: 0.7rem;
	}
}
.landing__header h1 {
	color: inherit;
}

.landing__header header {
	text-align: center;
	animation: fade-in 1s;

	background: linear-gradient(
		80deg,
		rgba(39, 69, 195, 0.87) 5%,
		rgba(41, 117, 209, 1) 50%,
		rgba(200, 40, 120, 0.52) 100%
	);
	color: white;

	border: 1px solid rgba(255, 255, 255, 1);
	padding: 1rem;
}
.landing__header ul {
	list-style: none;
	padding-left: 0;
}
.landing__header li img {
	width: 1.2em !important ;
	height: 1.2em !important ;
	vertical-align: middle !important;
}
.landing__header .cta {
	margin: 6rem auto;
}

.landing__banner {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: white;
	padding: 1rem;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Pris sur urssaf.fr */
@media (min-width: 1200px) {
	.landing__banner,
	.landing__header header {
		width: 1170px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.landing__banner,
	.landing__header header {
		width: 970px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.landing__banner,
	.landing__header header {
		width: 750px;
	}
}

.landing__banner img {
	height: 100%;
}
