.landing__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.landing__header h1 {
	color: inherit;
	font-size: 3rem;
}

.landing__header header {
	min-height: 30rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: linear-gradient(
		80deg,
		rgba(39, 69, 195, 0.87) 0%,
		rgba(41, 117, 209, 1) 50%,
		rgba(39, 69, 195, 0.87) 100%,
		rgba(41, 117, 209, 1) 150%
	);
	background-size: 200%;
	color: white;
	animation: move-background 30s linear infinite;
	padding: 1rem;
	padding-bottom: 5rem;
}
@keyframes move-background {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 200%;
	}
}

.landing__header__svg {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 3rem;
}

.landing-explanation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0 1rem;
}
.landing-explanation > div {
	padding: 1rem 3rem;
}
@media (max-width: 500px) {
	.landing-explanation-content {
		flex-direction: column;
	}
	.landing-explanation > div {
		padding: 1rem 1rem;
	}
}

.landing-explanation h2 {
	font-weight: 300;
	text-align: center;
}
.landing-explanation ul {
	margin: 0;
	padding-left: 1rem;
}
.landing-explanation p {
	margin-top: 0;
	text-align: center;
}

.landing-explanation-content {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	justify-content: flex-start;
}

.landing-explanation img {
	width: 72px !important;
	height: 72px !important;
	margin: 0 1rem !important;
}
