#targets {
	margin: 10% auto;
	text-align: center;
}
#targets > .content {
	border-radius: 6px;
	background: var(--colour);
	padding: 1em;
	width: 18em;
	margin: 0 auto;
}
#targets .value {
	font-size: 180%;
}
#targets .unit {
}

#targets .explanation {
	margin-top: 0.6em;
	font-size: 90%;
	color: var(--colour);
}
