html,
body,
#js {
	min-height: 100%;
}

.app-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}
.app-content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

@media (min-width: 500px) {
	.app-content {
		min-height: 100vh;
		flex: 1;
	}
	.app-container {
		overflow: auto;
		min-height: 100vh;
		height: auto;
	}
}
