.feedback-page {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	background: var(--lighterColour);
	border-radius: 0.9rem;
	max-width: 36em;
	padding: 0.6em;
	margin: 1em 0 1em auto;
}
.feedback-page.stickToFooter {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.feedback-page button.link-button {
	margin: 0 0.6em;
}
