{
	"presets": ["@babel/react", "@babel/flow"],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-do-expressions",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-dynamic-import",
		"react-hot-loader/babel",
		["webpack-alias", { "config": "./source/webpack.dev.js" }],
		[
			"ramda",
			{
				"useES": true
			}
		],
		"babel-plugin-styled-components"
	]
}
