root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
# We shall not define indent_size ⬇️  when using tabs.
# tab_width doesn't make much sense as it can be left to the reader to decide.
indent_style = tab
insert_final_newline = true

[**.{js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 80


[**.{yml,yaml}]
# Spaces are mandatory for yaml files:
indent_style = space
indent_size = 2
# A high max_line_length is needed as prettier doesn't manage property-name
# line-wrapping correctly:
# See https://github.com/prettier/prettier/issues/5599
max_line_length = 1000
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4
