rules:
  indent:
    - 1
    - tab
  linebreak-style:
    - 2
    - unix
  semi:
    - 1
    - never
  quotes:
    - 1
    - single
  jsx-quotes:
    - 1
    - prefer-double
  no-unused-vars: 1
  no-console: 1
  no-global-assign: 0
  no-unsafe-negation: 0
  no-undef: 1
  no-mixed-spaces-and-tabs: 1
  react/jsx-uses-vars: 2
  react/jsx-uses-react: 2

parser: babel-eslint

plugins:
  - react
env:
  browser: true
  commonjs: true
  es6: true
extends:
  - eslint:recommended
parserOptions:
  ecmaFeatures:
    jsx: true
