rules:
  linebreak-style:
    - 2
    - unix
  quotes:
    - 1 // While https://github.com/eslint/eslint/issues/9662#issuecomment-353958854 we don't enforce this
    - single
  no-console: 1
  no-restricted-globals: [2, "length"]
  no-global-assign: 0
  no-unsafe-negation: 0
  react/prop-types: 0
  no-restricted-globals: [2, length]
parser: babel-eslint

plugins:
  - react
  - flowtype
env:
  browser: true
  commonjs: true
  es6: true

overrides: 
  files: "*.test.js"
  env: 
    mocha: true

extends:
  - eslint:recommended
  - plugin:flowtype/recommended
  - plugin:react/recommended
  - prettier
  - prettier/flowtype
  - prettier/react
parserOptions:
  ecmaFeatures:
    jsx: true
