rules:
 indent:
  - 2
  - tab
 quotes:
  - 2
  - single
 linebreak-style:
  - 2
  - unix
 semi:
  - 2
  - never
 curly:
  - 2
  - multi-or-nest
 space-before-blocks: 2
 no-console: 1
 react/prop-types: 0
 react/display-name: 0

parser: babel-eslint

env:
 browser: true
 commonjs: true
extends:
  - eslint:recommended
  - plugin:react/recommended
plugins:
  - react
parserOptions:
  ecmaFeatures:
jsx: true
