.tags*
.tmp
/tmp
.DS_Store
yarn-error.log
package-lock.json
node_modules/
.env
dist/

# Local Netlify folder
.netlify

# Webstorm (and other Jetbrains IDE)
.idea/

# Yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
