{
	"bracketSpacing": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)", "^\\.(.*)"],
	"importOrderSortSpecifiers": true,
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
	"importOrderMergeDuplicateImports": true,
	"importOrderCombineTypeAndValueImports": true
}
