[[headers]]
for = "/*"
[headers.values]
# TODO : self-host emojies to remove twemoji.maxcdn.com
# https://github.com/betagouv/mon-entreprise/issues/1219
#
# TODO : report-only for now to see if there are any errors in Senty
# https://github.com/betagouv/mon-entreprise/pull/1544#issuecomment-838511556
Content-Security-Policy-Report-Only = "default-src 'self' mon-entreprise.fr; style-src 'self' 'unsafe-inline' mon-entreprise.zammad.com; connect-src 'self' *.sentry.io raw.githubusercontent.com *.xiti.com mon-entreprise.zammad.com; form-action 'self' *.sibforms.com *.sentry.io mon-entreprise.zammad.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' entreprise.data.gouv.fr geo.api.gouv.fr *.xiti.com stonly.com code.jquery.com mon-entreprise.zammad.com; img-src 'self' data: https://twemoji.maxcdn.com *.xiti.com user-images.githubusercontent.com; frame-src 'self' https://www.youtube-nocookie.com https://codesandbox.io"

############
# Redirects following architectural changes

# :SITE_<name> is a placeholder replaced before deploy (depends on the environment)

# FR | coronavirus -> simulateurs/chômage-partiel
[[redirects]]
  from=":SITE_FR/coronavirus"
  to=":SITE_FR/simulateurs/ch%C3%B4mage-partiel"
  status = 301

[[redirects]]
  from=":SITE_FR/%C3%A9conomie-collaborative"
  to=":SITE_FR/simulateurs/%C3%A9conomie-collaborative"
  status = 301

# FR | salarié -> salaire-brut-net
[[redirects]]
  from=":SITE_FR/simulateurs/salari%C3%A9"
  to=":SITE_FR/simulateurs/salaire-brut-net"
  status = 301

# FR | assimilé-salarié -> sasu
[[redirects]]
  from=":SITE_FR/simulateurs/assimil%C3%A9-salari%C3%A9"
  to=":SITE_FR/simulateurs/sasu"
  status = 301

# FR | dirigeant-sasu -> sasu
[[redirects]]
  from=":SITE_FR/simulateurs/dirigeant-sasu"
  to=":SITE_FR/simulateurs/sasu"
  status = 301

# FR | s%C3%A9curit%C3%A9-sociale/auto-entrepreneur -> simulateurs/auto-entrepreneur
[[redirects]]
  from=":SITE_FR/s%C3%A9curit%C3%A9-sociale/auto-entrepreneur"
  to=":SITE_FR/simulateurs/auto-entrepreneur"
  status = 301

# FR | sécurité-social/salarié -> simulateurs/salaire-brut-net
[[redirects]]
  from=":SITE_FR/s%C3%A9curit%C3%A9-sociale/salari%C3%A9"
  to=":SITE_FR/simulateurs/salaire-brut-net"
  statys = 301

# FR | sécurité-social/salarié -> simulateurs/salaire-brut-net
[[redirects]]
  from=":SITE_FR/s%C3%A9curit%C3%A9-sociale/salari%C3%A9"
  to=":SITE_FR/simulateurs/salaire-brut-net"
  status = 301

# SEO redirect
[[redirects]]
  from = ":SITE_FR/documentation/contrat-salari%C3%A9/salaire/*"
  to = ":SITE_FR/documentation/contrat-salari%C3%A9/r%C3%A9mun%C3%A9ration/:splat"
  status = 301


# Embauche redirection settings
[[redirects]]
  from = "https://mon-entreprise.fr/simulation"
  to = "https://mon-entreprise.fr/s%C3%A9curit%C3%A9-sociale/salari%C3%A9"
  status = 301

## Old iframe adress
[[redirects]]
  from = "https://mon-entreprise.fr/modules/v2/dist/simulateur.js"
  to = "https://mon-entreprise.fr/simulateur-iframe-integration.js"
  status = 301

[[redirects]]
  from = "https://mon-entreprise.fr/dist/simulateur.js"
  to = "https://mon-entreprise.fr/simulateur-iframe-integration.js"
  status = 301


############
# Redirects for single page app config & prerendering purpose


# Publicode
[[redirects]]
  from = ":SITE_PUBLICODES/*"
  to = "/publicodes.html"
  status = 200


# Mon-entreprise.fr
[[redirects]]
  from = ":SITE_FR/robots.txt"
  to = "/robots.infrance.txt"
  status = 200

[[redirects]]
  from = ":SITE_FR/sitemap.txt"
  to = "/sitemap.infrance.fr.txt"
  status = 200

[[redirects]]
  from = ":SITE_FR"
  to = "/prerender/mon-entreprise/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/cr%C3%A9er"
  to = "/prerender/mon-entreprise/cr%C3%A9er/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/g%C3%A9rer"
  to = "/prerender/mon-entreprise/g%C3%A9rer/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/simulateurs/ch%C3%B4mage-partiel"
  to = "/prerender/mon-entreprise/simulateurs/ch%C3%B4mage-partiel/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/simulateurs/salaire-brut-net"
  to = "/prerender/mon-entreprise/simulateurs/salaire-brut-net/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/simulateurs/auto-entrepreneur"
  to = "/prerender/mon-entreprise/simulateurs/auto-entrepreneur/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/simulateurs/ind%C3%A9pendant"
  to = "/prerender/mon-entreprise/simulateurs/ind%C3%A9pendant/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/simulateurs/dirigeant-sasu"
  to = "/prerender/mon-entreprise/simulateurs/dirigeant-sasu/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/simulateurs/artiste-auteur"
  to = "/prerender/mon-entreprise/simulateurs/artiste-auteur/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/iframes/simulateur-embauche"
  to = "/prerender/mon-entreprise/iframes/simulateur-embauche/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/iframes/simulateur-chomage-partiel"
  to = "/prerender/mon-entreprise/iframes/simulateur-chomage-partiel/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/iframes/pamc"
  to = "/prerender/mon-entreprise/iframes/pamc/index.html"
  status = 200

[[redirects]]
  from = ":SITE_FR/*"
  to = "/mon-entreprise.html"
  status = 200


# Mycompanyinfrance

[[redirects]]
  from = "https://www.mycompanyinfrance.fr/*"
  to = "https://mycompanyinfrance.fr/:splat"
  status = 301

[[redirects]]
  from = "https://www.mycompanyinfrance.com/*"
  to = "https://mycompanyinfrance.fr/:splat"
  status = 301

[[redirects]]
  from = "https://mycompanyinfrance.com/*"
  to = "https://mycompanyinfrance.fr/:splat"
  status = 301


[[redirects]]
  from = ":SITE_EN/robots.txt"
  to = "/robots.infrance.txt"
  status = 200

[[redirects]]
  from = ":SITE_EN/sitemap.txt"
  to = "/sitemap.infrance.en.txt"
  status = 200

[[redirects]]
  from = ":SITE_EN"
  to = "/prerender/infrance/index.html"
  status = 200

[[redirects]]
  from = ":SITE_EN/calculators/salary"
  to = "/prerender/infrance/calculators/salary/index.html"
  status = 200

[[redirects]]
  from = ":SITE_EN/iframes/simulateur-embauche"
  to = "/prerender/infrance/iframes/simulateur-embauche/index.html"
  status = 200

[[redirects]]
  from = ":SITE_EN/*"
  to = "/infrance.html"
  status = 200
