# 302 Redirect following URL changes (waiting the hostname change to mon-entreprise.fr for 301)
[[redirects]]
from = "https://embauche.beta.gouv.fr/règle/contrat-salarié--salaire--net-après-impôt"
to = "/documentation/contrat-salarié/salaire/net-après-impôt"
status = 302

[[redirects]]
from = "https://embauche.beta.gouv.fr/règle/prime-de-fin-de-contrat"
to = "/documentation/contrat-salarié/CDD/prime-de-fin-de-contrat"
status = 302

[[redirects]]
from = "https://embauche.beta.gouv.fr/règle/contrat-salarié--salaire--brut-de-base"
to = "/documentation/contrat-salarié/salaire/brut-de-base"
status = 302

[[redirects]]
from = "https://embauche.beta.gouv.fr/règle/contrat-salarié--rémunération-total"
to = "/documentation/contrat-salarié/rémunération/total"
status = 302

[[redirects]]
from = "https://embauche.beta.gouv.fr/règle/contribution-au-dialogue-social"
to = "/documentation/contrat-salarié/contribution-au-dialogue-social"
status = 302

[[redirects]]
from = "https://embauche.beta.gouv.fr/règle/contrat-salarié--CDD--motif--complément-formation"
to = "/documentation/contrat-salarié/CDD/motif/complément-formation"
status = 302

# InFrance PRODUCTION settings

[[redirects]]
from = "https://www.mycompanyinfrance.fr/*"
to = "https://mycompanyinfrance.fr/:splat"
status = 301

[[redirects]]
from = "https://mycompanyinfrance.fr/robots.txt"
to = "/robots.infrance.txt"
status = 200

[[redirects]]
from = "https://mycompanyinfrance.fr/sitemap.txt"
to = "/sitemap.infrance.en.txt"
status = 200

[[redirects]]
from = "https://mycompanyinfrance.fr"
to = "/prerender/infrance/index.html"
status = 200

[[redirects]]
from = "https://mycompanyinfrance.fr/social-security"
to = "/prerender/infrance/social-security/index.html"
status = 200

[[redirects]]
from = "https://mycompanyinfrance.fr/*"
to = "/infrance.html"
status = 200

# Mon-entreprise.fr PRODUCTION settings
[[redirects]]
from = "https://mon-entreprise.fr/robots.txt"
to = "/robots.infrance.txt"
status = 200

[[redirects]]
from = "https://mon-entreprise.fr/sitemap.txt"
to = "/sitemap.infrance.fr.txt"
status = 200

[[redirects]]
from = "https://mon-entreprise.fr"
to = "/prerender/mon-entreprise/index.html"
status = 200

[[redirects]]
from = "https://mon-entreprise.fr/*"
to = "/mon-entreprise.html"
status = 200


# Embauche PRODUCTION settings
[[redirects]]
from = "https://embauche.beta.gouv.fr/stats"
to = "https://rough-college.glitch.me/"
status = 200

[[redirects]]
from = "https://embauche.beta.gouv.fr/modules/v2/*"
to = "/:splat"

[[redirects]]
from = "https://embauche.beta.gouv.fr/robots.txt"
to = "/robots.embauche.txt"
status = 200

# When in iframe, we don't prerender the page
[[redirects]]
from = "https://embauche.beta.gouv.fr/"
query = {iframe=":iframe", s=":e", couleur=":couleur", integratorUrl=":integratorUrl", lang=":lang"}
to = "/embauche.html?iframe=:iframe&s=:e&couleur=:couleur&integratorUrl=:integratorUrl&lang=:lang"
status = 200

# Otherwise, we redirect to a prerendered version for the home
[[redirects]]
from = "https://embauche.beta.gouv.fr/"
to = "/prerender/embauche/index.html"
status = 200

[[redirects]]
from = "https://embauche.beta.gouv.fr/*"
to = "/embauche.html"
status = 200

# Redirect for embauche in staging and development settings
[[redirects]]
from = "/"
query = {s = "e"}
to = "/prerender/embauche/index.html"
status = 200

[[redirects]]
from = "/*"
query = {s = "e"}
to = "/embauche.html"
status = 200

# Redirect to mycompanyinfrance in staging and development settings
[[redirects]]
from = "/"
query = {s = "m"}
to = "/prerender/infrance/index.html"
status = 200


[[redirects]]
from = "/*"
query = {s = "m"}
to = "/infrance.html"
status = 200

# Redirect to mon-entreprise in staging and development settings
[[redirects]]
from = "/"
to = "/prerender/mon-entreprise/index.html"
status = 200
[[redirects]]
from = "/*"
to = "/mon-entreprise.html"
status = 200



[context.deploy-preview.environment]
  EN_SITE = "${path}?s=m"
  FR_SITE = "${path}"

[context.production.environment]
  EN_SITE = "https://mycompanyinfrance.fr${path}"
  FR_SITE = "https://mon-entreprise.fr${path}"
