.step fieldset {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: baseline;
}

.step fieldset ul {
	list-style-type: none;
}

.step fieldset .step.question .variantLeaf,
.step fieldset .step.question {
	justify-content: flex-end;
}

.step.question .variant {
	margin-bottom: 1em;
}

.step.question .variant > ul {
	border-right: 1px dashed #333;
	text-align: right;
	padding-right: 0.6em;
	padding-top: 0.6em;
	padding-left: 2em;
	margin-left: 1rem;
}
.step.question .variant > div {
	padding-right: 0.6em;
	font-weight: 600;
	text-align: right;
}

.step.question fieldset span {
	white-space: nowrap;
}
.step.question .variantLeaf {
	display: flex;
	margin-bottom: 0.6em;
}

.step.question .variant .variantLeaf {
	display: inline-flex;
	align-items: center;
}
.step.question .variantLeaf.aucun label {
	font-weight: 800;
	text-decoration: underline;
}

.step label.radio {
	text-align: center;
	cursor: pointer;
	background: none;
	border-radius: 1em;
	padding: 0.25em 0.85em;
	line-height: 1.3em;
	font-size: 120%;
}

.step.question input[type='radio'] {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	position: absolute;
	z-index: -1;
}

.step .input {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
}
.step .input > :first-child {
	text-align: right;
}

.step input[type='text'],
.ui__.input {
	border: 1px solid var(--color);
	border-radius: 0.3em;
	background-color: white;
	color: var(--color);
	display: inline-block;
	line-height: 1.6em;
	height: 1.6em; /* IE 11 needs this */
	font-size: 120%;
	padding: 0;
	padding-right: 0.4em;
	width: 12rem;
	text-align: right;
	padding-left: 0.2em;
}

/* Remove IE's clear button the appears before our suffix */
.step input::-ms-clear {
	width: 0;
	height: 0;
}

.step input::placeholder {
	opacity: 0.6;
	color: grey;
}
.step input[type='tel']::placeholder {
	font-family: monospace;
	font-size: 120%;
}

.step input.suffixed {
	margin: 0.6rem 0;
	border-radius: 0.2em;
}

.step label.suffix {
	vertical-align: baseline;
	transition: color 0.1s;
	margin-left: 0.6rem;
}
.step input .step input[type='text']:focus,
.step input[type='number']:focus {
	border-color: #d0d4d8;
	outline: none;
}

.step label.userAnswerButton {
	border: 1px solid var(--color) !important;
	text-transform: none !important;
	background-color: white;
	color: var(--textColorOnWhite) !important;
}
.step label.userAnswerButton.selected {
	background: var(--color);
	border: 1px solid var(--color);
	color: var(--textColor) !important;
}
@media print {
	.step label.userAnswerButton.selected {
		border: none;
	}

	.step label.userAnswerButton:not(.selected) {
		display: none;
	}
}
@media (hover) {
	.step label.userAnswerButton:hover:not(.selected) {
		background: var(--color);
		border: 1px solid var(--color);
		color: var(--textColor) !important;
		transition: all 0.05s;
	}
}
