<!-- Bloc de personnalisation du plugin, à coller dans l'interface de l'extension Contact Form sur app.crisp.chat si modification, onglet Customization  -->
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const params = new URLSearchParams(window.location.href.split('?')[1])
		const page = params.get('page')

		// Hide subject input
		let subject = document.getElementById('subject')
		if (subject) {
			subject.style.display = 'none'
			subject.value = `Suggestion sur la page : ${page}` || '   '
			subject.nextElementSibling.style.display = 'none'
		}

		// Hide name input
		let name = document.getElementById('name')
		if (name) {
			name.style.display = 'none'
			name.value = '   '
			name.nextElementSibling.style.display = 'none'
		}

		// Modify E-mail input label
		let email = document.getElementById('email')
		if (email) {
			email.required = false
			email.nextElementSibling.textContent =
				'E-mail (pour recevoir une réponse)'
		}

		// Modify message field
		const message = document.getElementById('message')
		const form = document.getElementById('form')

		if (message && form) {
			form.prepend(message.parentNode)
			message.setAttribute('minlength', 'undefined')
			message.nextElementSibling.textContent =
				"Que pouvons-nous améliorer afin de mieux répondre à vos attentes ? (ne pas mettre d'informations personnelles)"
		}

		const legend = document.querySelector('legend')
		if (legend) {
			legend.style.display = 'none'
		}

		// Rise 1 level the position of labels
		const labels = document.querySelectorAll('label')
		if (labels.length > 0) {
			labels.forEach((label) => label.parentElement.prepend(label))
		}

		// Avoid the server side 40 characters check
		const button = document.getElementById('send')
		if (button && message.value.length < 40) {
			button.addEventListener('click', () => {
				message.value += ' '.repeat(40 - message.value.length)
			})
		}
	})
</script>
<style>
	label {
		position: static !important;
		padding-left: 0 !important;
		margin-bottom: 0.5rem !important;
		font-size: 1rem !important;
	}
	.form-wrapper {
		padding: 0 !important;
	}
	textarea,
	input {
		border-radius: 6px !important;
		padding: 0.75rem !important;
	}
	.acknowledge-label {
		display: none;
	}
</style>
