
#sim #help {
	box-shadow: -1px 1px 15px 1px #eee;
	border: 1px solid #aaa;
	border-radius: .3em;
	margin: 3em;
  padding: .6em 1em;
	width: 35%;
	color: #444;
	visibility: hidden;
  position: relative;
  overflow: hidden;
	background: white;
}

#sim #help blockquote {
	font-style: italic;
	font-size: 90%;
	border-left: 4px solid #eee;
	margin-left: .6em;
	padding-left: .6em;
}

#sim #help.active {
	visibility: visible;
}

#sim #help i.fa-info-circle {
  margin-right: .3em;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 1000%;
  color: black;
  opacity: .03
}

#sim #help i.fa-times-circle {
  color: #4a89dc;
  font-size: 120%;
  position: absolute;
  top: .6em;
  right: .6em;
  cursor: pointer;
}

#sim #help h3 {
	margin: .3em 0;
}
