#sim #helpWrapper {
	margin: 1em auto;
	display: none;
}

#sim #help {
	border-radius: 0.2em;
	padding: 0.1em 1em;
	background: #e7f8e1;
	position: relative;
}

#sim #help blockquote {
	font-style: italic;
	font-size: 90%;
	border-left: 4px solid #eee;
	margin-left: 0.6em;
	padding-left: 0.6em;
}

#sim #helpWrapper.active {
	display: block;
}

#sim #help i.fa-times-circle {
	font-size: 120%;
	position: absolute;
	top: 0.6em;
	right: 0.6em;
	cursor: pointer;
}

#sim #help h3 {
	margin: 0.3em 0;
}
