.Rule-value {
	transition: background 0.8s;
	font-size: 105%;
}
.Rule-value .figure {
	font-weight: bold;
}

/* Animation of summary figures changes : flash ! */
.flash-enter {
	background: rgba(255, 255, 255, 1);
}

.flash-leave {
	/* Completely hide the button while it's being animated and before it's removed from the DOM. */
	display: none;
}
