.answer-list table {
	border-collapse: collapse;
	width: 100%;
}
.answer-list tr:nth-child(2n) {
	background-color: rgba(41, 117, 209, 0.06);
}

.answer-list td {
	padding: 0 0.8rem;
}

.answer-list td:last-of-type {
	text-align: start;
}

.answer-list button.answer {
	display: inline-block;
	padding: 0.8rem;
	color: inherit;
	width: 100%;
	text-align: start;
	font-weight: 500;
}

.answer-list button.answer:hover {
	opacity: 0.8;
}
