.ui__.banner {
	display: flex;
	align-items: center;
	margin: 1rem auto;
	max-width: 100%;
	color: var(--lighterInverseTextColour);
	width: 45rem;
	justify-content: center;
}

.ui__.banner img {
	margin-right: 1rem !important;
	font-size: 2rem;
	margin-bottom: 0.6rem !important;
}
