.banner {
	display: flex;
	align-items: center;
	margin: 1rem auto;
	max-width: 100%;

	width: 40em;
	justify-content: center;
	animation: fade-in 1s;
}
.banner p {
	text-align: center;
	color: #4b4b66;
}

.banner i {
	margin-right: 1em;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
