#action a {
	cursor: default;
}

.blueButton {
	color: white;
	display: block;
	padding: 0.3em 1em;
	font-size: 200%;
	width: 8em;
	margin: 0 auto;
	border: none;
	box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
	opacity: 0.95;
	border-radius: 0.2em;

	transition: background 0.3s;
}
.blueButton:hover {
	box-shadow: none;
	opacity: 1;
}
.blueButton:disabled {
	background: #4b4b66 !important;
}
.blueButton a {
	color: inherit;
}
