#ComparativeSimulation {
	padding: 0 1.5em;
}

#ComparativeSimulation #simulationContent button {
	padding: 0.6em 1em;
	text-align: center;
	border-radius: 6px;
	font-weight: 500;
}
#ComparativeSimulation header {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
}
#ComparativeSimulation header > h1 {
	font-size: 120%;
	margin: 0.3em 0;
}

#ComparativeSimulation .step-question h1 {
	margin-top: 1rem;
}

#ComparativeSimulation .conversationContainer {
	margin-bottom: 10%;
}
