.blockingControl {
	text-align: center;
	font-size: 150%;
}

#controlsBlock h3 {
	text-align: center;
	margin: 0 0 0.6em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#controlsBlock #controlContent {
	font-size: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/* Display the values of the variables in the explanation of the failed control */
#controlsBlock .variable .situationValue {
	display: inline-block;
}
#controlsBlock img {
	width: 2em !important;
	height: 2em !important;
}

#controlsBlock #solution {
	display: flex;
	align-items: center;
}
