.blockingControl {
	text-align: center;
	font-size: 150%;
}

#controlsBlock #control {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#controlsBlock img {
	width: 2.5em !important;
	height: 2.5em !important;
}
