
.dictionaryPanelWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.86);
	z-index: 1;
}
.dictionaryPanel {
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 33%;
	border: 2px solid #333350;
	margin: 1em;
	padding: 0em 1.5em;
	min-height: 6em;
	border-radius: .3em;
}
.dictionaryPanel h3 {
	color: #333350
}
.dictionaryPanel blockquote {
	font-style: italic;
	border-left: 4px solid #eee;
	padding-left: 1em;
	margin-left: 0;
}
.dictionaryPanel blockquote p {
	color: #666;
}
.dictionaryPanel code {
	border: 1px solid #aaa;
	padding: .05em .3em;
	border-radius: .3em;
}
