#dictionaryPanel h3 {
	color: #333350;
	font-weight: bold;
	font-size: 125%;
}
#dictionaryPanel blockquote {
	font-style: italic;
	border-left: 4px solid #eee;
	padding-left: 1em;
	margin-left: 0;
}
#dictionaryPanel blockquote p {
	color: #666;
}
#dictionaryPanel code {
	border: 1px solid #aaa;
	padding: 0.05em 0.3em;
	border-radius: 0.3em;
}
