#GenericSimulation {
}
#GenericSimulation #simulationContent button {
	padding: 0.6em 1em;
	text-align: center;
	border-radius: 6px;
	font-weight: 500;
}
#GenericSimulation header {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
}
#GenericSimulation header > h1 {
	margin: 0.6em 1em 0;
}
#GenericSimulation img {
	max-width: 800px;
	max-height: 18em;
}
@media (min-width: 1200px) {
	#GenericSimulation header > h1 {
		width: 10em;
	}
	#GenericSimulation header {
		margin-left: 10%;
	}
}

#GenericSimulation .step-question h1 {
	margin-top: 1rem;
}
