#homeEmbauche {
  font-weight: 400;
  font-size: 18px;
}

/* Viewport explained here :
http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972?ec_unit=translation-info-language
*/
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.narrow-screen {
  display: none;
}

#project {
  color: white;
  position: absolute;
  left: 1.5%;
  top: 3%;
  display: block;
  height: 3em;
}

#project img {
  width: 5em;
}

nav ul {
  font-size: 120%;
  position: absolute;
  top: 4%;
  right: 6%;
  margin: 0;
  line-height: 3em;
  font-weight: 400;
}

nav a {
  color: #222;
  text-decoration: none;
}

nav li {
  list-style: none;
  display: inline;
  padding-left: 1.2em
}

nav li a {
  font-size: 75%;
  opacity: 0.85
}

nav li a:hover {
  opacity: 1
}

nav li:first-child {
  left: 10%
}

#splash {
  padding: 13em 0 8em;

  background: white;

  /* Get fancy or not ?
  -webkit-box-shadow: 2px 8px 21px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 8px 21px -11px rgba(0,0,0,0.75);
  box-shadow: 2px 8px 21px -11px rgba(0,0,0,0.75);
  */
}

#showcase {
  color: white;
  width: 70%;
  display:block;
  margin: auto;
}

#image-wrap {
  display: inline-block;
  width: 65%;
  padding: 0 1em;
  background: white;
  border-radius: .4em;
  opacity: 0.75;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);

  transition: opacity .5s;

  filter: grayscale(0.7)
}

#image-wrap:hover {
  opacity: 1;
}

#showcase h1 {
  color: #333;
  display: inline-block;
  width: 25%;
  font-size: 250%;
  font-weight: 400;
  line-height: 1.6em;
  vertical-align: top;
  text-align: left;
  float: right;
}

@media (max-width: 1366px) {
  #showcase h1 {
    line-height: 1.2
  }
}

@media (max-width: 1280px) {
  #showcase h1 {
    font-size: 215%;
    margin: .5em 0;
  }
}

#main-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5em 0;
  width: 70%;
  line-height: 3em;
  max-width: 50em;
}

#main-actions a {
  background: #4A89DC;
  color: white;
  display: inline-block;
  font-size: 100%;
  padding: .1em 1.5em;
  margin-top: .6em;
  border: 1px solid white;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

#main-actions > span {
  position: relative;
}

#main-actions > span > span {
  border: 1px solid #4A89DC;
  color: #4A89DC;
  line-height: normal;
  position: absolute;
  top: -1.2em;
  padding: 0 .6em;
  border-radius: .1em;
  left: 50%;
  transform: translateX(-50%)
}
#main-actions a:hover {
  filter: grayscale(.3);
}

@media (max-width: 1024px) {
  #main-actions {
    text-align: center;
  }
  #splash {
    padding-top: 8em;
  }
  #showcase {
    width: 80%;
  }
  #showcase h1 {
    font-size: 210%;
    float: none;
    width: 100%;
    text-align: center;
  }
  #image-wrap {
    width: 95%;
  }
}


/* Narrow screens */
@media (max-width: 800px) {
  .wide-screen {
    display: none;
  }
  .narrow-screen {
    display: block;
  }

  #project {
    transform: scale(.75);
    transform-origin: left;
  }

  nav li {
    display: block;
  }

  nav ul {
    display: block;
    line-height: 1.5em;
    text-align: right;
  }

  #splash {
    padding: 9em 0 5em;
  }

  #showcase {
    width: 90%;
  }

  #showcase h1 {
    font-size: 180%;
  }
  #image-wrap {
    width: 100%;
    padding: 0;
  }
}


/* Mobile screens */
@media (max-width: 400px) {
  #project .name {
    display: none;
  }
}

#image-wrap {
  position: relative;
}

#image-wrap>img {
  width: 100%;
}
#image-wrap .static, #image-wrap:hover .animated {
    display: inline;
}
#image-wrap .animated,
#image-wrap:hover .static,
#image-wrap:hover #play-button {
    display: none;
}

#image-wrap #play-button {
  position: absolute;
  color: black;
  font-size: 3em;
  left: 3%;
  bottom: 0%;
  opacity: 0.1;
  /*
  border: 1px solid black;
  border-radius: 50%;
  padding: 0 0.2em 0 0.35em
  */
}

#homeEmbauche section {
  color: rgba(0,0,0,0.6);
  padding: 2em 0;
  text-align: center;
}

#homeEmbauche section p {
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

@media (max-width: 1024px) {
  #homeEmbauche section p,
  #homeEmbauche section code {
    max-width: 90%;
  }
}

#homeEmbauche section h1 {
  margin: 0.2em 0 1em;
  font-size: 135%;
  color: #3C4963;
}

#homeEmbauche section em {
  font-weight: 600;
  font-style: normal;
}

#homeEmbauche section a {
  color: #3C4963
}

#homeEmbauche a.button {
  display: inline-block;
  margin: 1.2em 0 0;
  padding: .5em 5%;
  color: white;
  background: #3C4963;
  font-weight: 400;
  font-size: 120%;
}
#homeEmbauche a.button:hover {
  background: #4C5C7D;
}

#homeEmbauche section.light {
  background: #f8f8f8;
  border-top: 1px solid rgba(0,0,0,0.10);
  border-bottom: 1px solid rgba(0,0,0,0.10)
}

#homeEmbauche section#integration p {
  width: 40em;
  margin-top: 3em;
  vertical-align: top;
  position: relative;
}
#homeEmbauche section#integration code {
  position: relative;
  display: inline-block;
  font-size: 80%;
  width: 40em;
  padding: 1em 0em;
  background: white;
  margin: auto;
  margin-bottom: 1em;

  box-shadow: 0 1px 1px rgba(0,0,0,0.05), -1px 1px 1px rgba(0,0,0,0.02);
}

#homeEmbauche section#integration code em {
  font-weight: 300;
  color: black;
}

section#integration code:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #e8e8e8 #f8f8f8;
}

#homeEmbauche section#integrations a {
  text-decoration: none;
}


#homeEmbauche section.dark {
  background: #3C4963;
  color: white;
}

#homeEmbauche section.dark h1 {
  color: white;
  margin-bottom: 3em;
}

#homeEmbauche h2 {
  font-size: 100%;
  font-weight: 400;
}

#homeEmbauche section.dark a {
  color: white;
}

#homeEmbauche section.blocks article {
  vertical-align: top;
  max-width: 15em;
  padding: 0 2%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin-bottom: 2em;
}

#homeEmbauche section.blocks article img {
  width: 8em;
  height: 8em;
  border-radius: 8em
}

#homeEmbauche section.blocks .question-mark {
  display: inline-block;
  font-size: 6.5em;
  border: 1px solid white;
  border-radius: 10em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em
}

#homeEmbauche section.blocks.extended {
  padding-bottom: 0;
  border-bottom: none;
}

#homeEmbauche section.extended .block-wrap {
  margin-top: 3em;
  width: 100%;
}


#homeEmbauche section.extended.blocks article {
  padding: 0 5% 2em;
  margin-bottom: 0;
  font-size: 90%;
}

#homeEmbauche section.extended.blocks article h2 {
  font-weight: 600;
  color: #3C4963;
}

#homeEmbauche section.extended.blocks article p {
  display: inline;
}

#homeEmbauche section.extended.blocks article img {
  width: 8em;
  border-radius: 0;
}

#scriptColor {
  color: #4A89DC
}
