#home {
}

#home #header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#home #header h1 {
	line-height: 1.1em
}

#home #marianne {
	width: 100px;
	margin: 1em;
}

#home > #content {
	display: flex;
	align-items: center;
	justify-content: center;
}
