#home {
}

#home #header h1 {
	margin-top: 3em;
	text-align: center;
	font-size: 300%
}

#home #marianne {
	position: absolute;
	left: 2em;
	top: 2em;
	width: 8em;
}

#home > #content {
	display: flex;
	align-items: center;
	justify-content: center;
}
