/*
  Thanks https://github.com/GitbookIO/markdown-css
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0

  background: -webkit-linear-gradient(top,#F8F8F8 10%,#E0E0EA 80%);
  background: -moz-linear-gradient(top,#F8F8F8 10%,#E0E0EA 80%);
  background: -o-linear-gradient(top,#F8F8F8 10%,#E0E0EA 80%);
  background: -ms-linear-gradient(top,#F8F8F8 10%,#E0E0EA 80%);
  background: linear-gradient(to bottom,#F8F8F8 10%,#E0E0EA 80%);
}

.md {
       min-width: 200px;
       max-width: 790px;
       margin: 0 auto;
       padding: 30px;
   }

.md {
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  color: rgba(0,0,0,0.8);
  line-height: 1.7;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Printing */
  /* Typography */
  /* Spacing */
  /* Links */
  /* Images */
  /* Horizontal lines */
  /* Headings */
  /* Code blocks */
  /* Tables */
  /* Lists */
  /* Blockquote */
  /* Description Lists */
}
.md * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}
.md > *:first-child {
  margin-top: 0 !important;
}
.md > *:last-child {
  margin-bottom: 0 !important;
}
.md pre,
.md code,
.md blockquote,
.md tr,
.md img,
.md table,
.md figure {
  page-break-inside: avoid;
}
.md p,
.md h2,
.md h3,
.md h4,
.md h5 {
  orphans: 3;
  widows: 3;
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5 {
  page-break-after: avoid;
}
.md strong,
.md b {
  font-weight: bold;
}
.md em {
  font-style: italic;
}
.md p,
.md blockquote,
.md ul,
.md ol,
.md dl,
.md table {
  margin-top: 0;
  margin-bottom: 0.85em;
}
.md a {
  color: #4183c4;
  text-decoration: none;
  background: transparent;
}
.md a:hover,
.md a:focus,
.md a:active {
  outline: 0;
  text-decoration: underline;
}
.md img {
  border: 0;
  max-width: 100%;
}
.md hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none;
}
.md hr:before,
.md hr:after {
  display: table;
  content: " ";
}
.md hr:after {
  clear: both;
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-top: 1.275em;
  margin-bottom: 0.85em;
  font-weight: 400;
  color: #3C4963;
}
.md h1 {
  font-size: 2em;
}
.md h2 {
  font-size: 1.75em;
}
.md h3 {
  font-size: 1.5em;
}
.md h4 {
  font-size: 1.25em;
}
.md h5 {
  font-size: 1em;
}
.md h6 {
  font-size: 1em;
  color: #777;
}
.md code,
.md pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  margin: 0px;
  padding: 0px;
  border: none;
  color: inherit;
}
.md pre {
  overflow: auto;
  word-wrap: normal;
  margin: 0px;
  padding: 0.85em 1em;
  margin-bottom: 1.275em;
  background: #f7f7f7;
}
.md pre > code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: 0.85em;
  white-space: pre;
  background: transparent;
}
.md pre > code:before,
.md pre > code:after {
  content: normal;
}
.md code {
  padding: 0.2em;
  margin: 0;
  font-size: 0.85em;
  background-color: #f7f7f7;
  border: 1px solid RGBA(60, 73, 99, 0.6);
}
.md code:before,
.md code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.md table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}
.md table td,
.md table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.md table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.md table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.md table th {
  font-weight: bold;
}
.md ul,
.md ol {
  padding: 0;
  margin: 0;
  margin-bottom: 0.85em;
  padding-left: 2em;
}
.md ul ol,
.md ol ol,
.md ul ul,
.md ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.md ol ol {
  list-style-type: lower-roman;
}
.md blockquote {
  margin: 0;
  margin-bottom: 0.85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid RGBA(60, 73, 99, 0.6);
}
.md blockquote:first-child {
  margin-top: 0;
}
.md blockquote:last-child {
  margin-bottom: 0;
}
.md dl {
  padding: 0;
}
.md dl dt {
  padding: 0;
  margin-top: 0.85em;
  font-style: italic;
  font-weight: bold;
}
.md dl dd {
  padding: 0 0.85em;
  margin-bottom: 0.85em;
}
.md dd {
  margin-left: 0;
}
ma
