/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 4em;
	height: 3em;
	right: 2em;
	top: 2em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
	display: none;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
	background: #373a47;
	padding: 3em 0.6em;
	font-size: 280%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: white;
	padding: 0.8em;
	height: auto !important;
}

.bm-item-list a {
	margin-bottom: 0.6em;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}
