#overlayWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 1;
}
#overlayContent {
	position: absolute;
	padding-bottom: 1rem;
	min-height: 6em;
}
#overlayCloseButton {
	position: absolute;
	top: 0rem;
	text-decoration: none;
	font-size: 200%;
	color: rgba(51, 51, 80, 0.8);
	right: 0.5rem;
}
@media (min-width: 600px) {
	#overlayContent {
		transform: translateX(-50%);
		top: 100px;
		left: 50%;
		width: 80%;
		max-width: 40em;
	}
}
