#PeriodSwitch {
	margin: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#PeriodSwitch label {
	margin: 0 0.4em;
	color: var(--colour);
}

#PeriodSwitch input[type='radio'] {
	position: fixed;
	left: -100%;
}

input[type='radio'] + span {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0.3em;
	vertical-align: middle;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 0 0px 1px #297da1;
	box-shadow: 0 0 0px 1px var(--colour);
}
input[type='radio'] ~ span {
	cursor: pointer;
}

input[type='radio']:checked + span {
	background: #297da1;
	background: var(--colour);
	border: 4px solid white;
}
input[type='radio']:focus ~ .radioText {
	border: 1px dotted gray;
}
input[type='radio']:checked ~ .radioText {
	font-weight: 500;
}
