.progressTip {
	max-width: 35em;
	margin: .2em auto;


}
.progressTip svg {
		display: inline-block;
		width: 62%;
		margin-right: 2%
}
.progressTip p {
		display: inline-block;
		width: 35%;
		margin: .1em 0 1.6em;
		text-align: right;
		font-weight: 600;
}

.progressTip i {
		margin-right: .4em;}
