#sim .tip {
	font-style: italic;
	margin-bottom: 1em;
	text-align: center;
}
#sim .tip p {
	margin: 0;
}
#sim .tip progress {
	margin-left: 1em;
	background: white;
	border-width: 1px;
	border-style: solid;
}

progress::-webkit-progress-bar {
	background: white;
}

progress::-webkit-progress-value {
}
