.progressTip {
	max-width: 40em;
	margin: 0.2em auto;
}

.progressTip p {
	display: inline-block;
	width: 100%;
	margin: 0.1em 0 1.6em;
	text-align: center;
	font-style: italic;
	text-align: right;
	color: rgba(0, 0, 0, 0.7);
}

.progressTip i {
	margin-right: 0.4em;
}
