
#results {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	padding: .1em;
	background: #4A89DC;
	font-size: 80%;
	color: white;
	padding: .6em 0;
	text-align: center;
	height: 12em;

	box-shadow: 1px -7px 20px 2px #ccc;

	opacity: 0;
	transform: translateY(12em);
	transition: transform .5s;
	transition-delay: .3s;
	transition-timing-function: cubic-bezier(0, 1.01, 0.24, 1)
}
#results.show {
	transform: translateY(0);
	opacity: 1;
}


#results-actions,
#results-titles {
	display: inline-block;
	float: left;
	width: 18%;
	margin: 0;
	padding: 0 0 0 2em;
}

#results-actions {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

#toSimulation {
	font-size: 190%;
	color: white;
	background: #4A89DC;
	padding: .6em .6em;
	text-decoration: none;
	border-radius: .2em;
	position: relative;
}
#toSimulation i {
	margin-right: .6em;
}

#results-titles {
	color: white;
	line-height: 1.2em;
	font-weight: 400;
	font-size: 120%;
	text-align: left;
}
#results-titles h2 {
	font-size: 250%;
	margin: .4em 0;
}
#results-titles p {
	color: inherit;
}
#results-titles i {
	margin: 0 .3em;
}
#resultText {
	font-weight: 600;
	font-size: 100%;
}




#results ul {
	display: inline-flex;
	justify-content: space-around;
	height: 100%;
	width: 80%;
	list-style: none;
	padding-left: 0;
	margin: 0;
}




@media (max-width: 1280px) {
	#results .rule-type {
		display: none;
	}
	#results {
		padding: 0;
	}
	#results-titles {
		width: 100%;
		text-align: center;
		margin-bottom: .6em;
	}
	#results-titles p {
		margin: 0;
		margin-right: 3em;
	}
	#results-titles h2 {
		font-size: 150%;
		display: none;
	}
	#results-titles #resultText {
		font-size: 120%
	}
	#results h2 {
		margin: 0.3em 1em 0 0;
		display: inline-block;
	}
	#results-titles > p {
		display: inline-block;
	}
	#results-titles #understandTip {
		display: none;
	}

	#results ul {
		width: 100%;
		font-size: 90%;
	}


}
