

#results {
	margin-right: -3em;
	padding: .1em;
	border: 3px solid #333350;
	border-radius: 2em;
	font-size: 80%;
	padding: .6em 0;
	text-align: center;
	width: 60%;
	box-shadow: 0px 0px 20px 2px #ddd;

	opacity: 0;
	transform: translateY(12em);
	transition: transform .5s;
	transition-delay: .3s;
	transition-timing-function: cubic-bezier(0, 1.01, 0.24, 1)
}
#results.show {
	transform: translateY(0);
	opacity: 1;
}


#results-titles {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 0 0 2em;
	font-size: 160%;
}

#results h3 {
	font-size: 140%
}

#results-actions {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}


#results-titles {
	color: #333350;
	line-height: 1.2em;
	font-weight: 400;
	font-size: 120%;
	text-align: left;
}
#results-titles h2 {
	font-size: 250%;
	margin: .4em 0;
}
#results-titles p {
	color: inherit;
}
#results-titles i {
	margin: 0 .3em;
}
#resultText {
	font-weight: 600;
	font-size: 100%;
}


#understandTip {
	font-size: 120%;
	position: absolute;
	bottom: 0;
	left: 2em;
}



@media (max-width: 1280px) {
	#results .rule-type {
		display: none;
	}
	#results {
		padding: 0;
	}
	#results-titles {
		width: 100%;
		text-align: center;
		margin-bottom: .6em;
	}
	#results-titles p {
		margin: 0;
		margin-right: 3em;
	}
	#results-titles h2 {
		font-size: 150%;
		display: none;
	}
	#results-titles #resultText {
		font-size: 120%
	}
	#results h2 {
		margin: 0.3em 1em 0 0;
		display: inline-block;
	}
	#results-titles > p {
		display: inline-block;
	}
	#results-titles #understandTip {
		display: none;
	}

	#results .rule-name {
		font-size: 150%;
	}

}
