.result-view__tabs {
	display: flex;
	align-items: center;
	box-shadow: 0 -1px 0 0 #d4d4d5, 1px 0 0 0 #d4d4d5, -1px 0 0 0 #d4d4d5;
	border-top-right-radius: 0.6em;
	border: none;
	border-top-left-radius: 0.6em;
	margin-bottom: -1px;
	border-bottom: 1px solid transparent;
}
.result-view__tabs button {
	padding: 1em !important;
	border-right: 1px solid #d4d4d5 !important;
	text-decoration: none !important;
}
.result-view__tabs button.selected {
	border-bottom: 1px solid white;
}
.result-view__tabs button:last-of-type {
	border-right: none !important;
}
.result-view__header {
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
}

.result-view__body {
	border-top-left-radius: 0;
	margin-bottom: 2em;
}
