#results {
	margin: 0 auto;
	padding: .1em .3em;
	position: relative;

	background: #2975D1;
	color: white;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
}

#results-actions {
	background: #333350;
}

#toSimulation {
	font-size: 150%;
	color: white;
	margin-left: .6em;
	line-height: 1.8em;
	text-decoration: none;
	border-radius: .2em;
	position: relative;
}
#toSimulation i {
	margin-right: .6em;
}

#results h2 span {
	font-size: 70%;
	margin: 0 .6em
}

#results .edit {
	position: absolute;
	top: 1.3em;
	right: 1em;

	vertical-align: middle;
	border: none;
	font-size: 80%;
	color: white;
}

#results ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 70%;
	margin: .2em auto 1.2em;
}


#results li {
	margin: 0 1.2em;
	display: inline-block;
	width: 100%;
}



@media (max-width: 1280px) {


}
