
#results {
	position: fixed;
	bottom: 2.5%;
	left: 0;
	width: 90%;
	margin: 0 5%;

	padding: .1em;
	background: #4A89DC;
	color: white;
	padding: .6em 0;
	font-size: 120%;
	box-shadow: 0px 0px 20px 2px #ccc;

	opacity: 0;
	transform: translateY(12em);
	transition: transform .5s;
	transition-delay: .3s;
	transition-timing-function: cubic-bezier(0, 1.01, 0.24, 1)
}
#results.show {
	transform: translateY(0);
	opacity: 1;
}


#results-actions {
	display: inline-block;
	float: left;
	width: 18%;
	margin: 0;
	padding: 0 0 0 2em;
}

#results-actions {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

#toSimulation {
	font-size: 190%;
	color: white;
	background: #4A89DC;
	padding: .6em .6em;
	text-decoration: none;
	border-radius: .2em;
	position: relative;
}
#toSimulation i {
	margin-right: .6em;
}

#results h2 {
	margin: 0 .6em;
	font-weight: 600;
	color: white;
	text-align: left;
	font-size: 125%;
}

#results h2 i {
	margin-right: .6em;
}
#results ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 70%;
	width: 96%;
	margin: .6em auto;

}




@media (max-width: 1280px) {


}
