#RulePage {
	max-width: 47em;
	padding: 1em;
	margin: 0 auto;
}
.rule-page__header {
	display: flex;
	flex-direction: column;
}
.rule-page__search {
	align-self: flex-end;
}
#toSimulation {
	margin: 0.6em 0;
	display: block;
	color: white;
	font-size: 180%;
	text-align: center;
	padding: 0.2em 0.6em;
	border-radius: 0.2em;
}

#toSimulation i {
	margin: 0 0.6em;
}
