#RulePage {
	margin-top: 2rem;
}
.rule-page__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.3em;
	text-decoration: none;
}
.rule-page__search {
	align-self: flex-end;
	text-decoration: none;
}

#toSimulation i {
	margin: 0 0.4em;
}

#situationBranch {
	color: white;
	background: #333;
	border-radius: 0.3em;
	padding: 0.2em 0.6em;
}
