#rule {
	font-size: 120%;
}

#rule pre {
	padding: 1em 2em;
}

.rule-type {
	padding: 0 .5em;
	font-size: 75%;
	margin-right: 1em;
	display: inline-block;
	width: 7em;
	text-align: center;
	color: #4B4B66;
	border: 2px solid #4B4B66;
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

#rule h1 {
	margin-bottom: 1%;
	color: #4B4B66;
	display: flex;
	align-items: center;
}

#rule h2 {
	font-size: 100%;
	font-weight: 400;
	border-bottom: 1px solid #4B4B66;
	display: inline-block;
	padding-right: .6em;
}

#rule .rule-type {
	font-size: 35%;
}

#rule-meta {
	display: flex;
	justify-content: flex-start;
	min-height: 5em;
}

#meta-paragraph {
	background: rgba(51, 51, 80, 0.03);
	margin: 0 3em;
	padding: 1em;
}

#rule-meta #rule-references {
	font-size: 85%;
	list-style: none;
	padding-left: 1em;
}
#rule-meta #rule-references li i {
	margin: 0 1em;
	color: #333350
}
#rule-rules {
	display: flex;
	justify-content: start;
	min-height: 5em;
}

#rule-rules section {
	margin: 1em 3em
}
.node {
	margin-top: .5em;
	padding-left: 1em;
}
.ruleProp > div > .name {
	padding: 0 1em;
	border: 1px solid black;
	background: #00ad9c
}
.mecanism {
}
.mecanism > div > .name {
	padding: 0 1em;
	border: 1px solid black;
	background: #d5911a
}
.expression {

}
.expression > div > .name {
	padding: 0 1em;
	border: 1px solid black;
	background: #6666ea;
}
#rule-rules .value {
	padding-left: 1em;
	font-weight: bold;
}

#rule-rules .value.oui {
	color: #5ab738;
}
#rule-rules .value.non {
	color: #f22c40;
}
