#RulePage {
	max-width: 45em;
	margin: 0 auto
}

#toSimulation {
	background: #333350;
	margin: 0 auto;
	display: block;
	color: white;
	font-size: 180%;
	text-align: center;
	padding: .2em .6em;
}

#toSimulation i {
	margin: 0 .6em
}


