#rule {
	font-size: 120%;
}

#rule pre {
	padding: 1em 2em;
}

.rule-type {
	padding: 0 .5em;
	font-size: 75%;
	margin-right: 1em;
	display: inline-block;
	width: 7em;
	text-align: center;
	color: #4B4B66;
	border: 2px solid #4B4B66;
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

#rule h1 {
	margin-bottom: 1%;
	color: #4B4B66;
	display: flex;
	align-items: center;
}

#rule h2 {
	font-size: 100%;
	font-weight: 400;
	border-bottom: 1px solid #4B4B66;
	display: inline-block;
	padding-right: .6em;
}

#rule .rule-type {
	font-size: 35%;
}

#rule-meta {
	display: flex;
	justify-content: flex-start;
	min-height: 5em;
	margin-left: 1%;
}

#rule-meta > div {
	margin-right: 5%;
}

#meta-paragraph {
	/*background: rgba(51, 51, 80, 0.03);*/
	/*margin: 0 3em;*/
	padding: 1em;
	width: 40%;

}
#meta-paragraph p {
	/*border-left: 3px solid #333350;*/
	padding-left: 1em;
	color: #444;
	font-size: 95%;
}

#destinataire a {
	text-decoration: none;
	color: inherit;
}
#destinataire img {
	width: 130px;
	display: block;
}
#destinataireName {
	width: 130px;
	text-align: center;
	font-size: 70%;
	line-height: 1em;
	margin-top: .3em;
}
#destinataire #calligraphy {
	color: #5B5B73;
	border: 2px solid #5B5B73;
	border-radius: .4em;
	width: 130px;
	line-height: 2em;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}


#references {
	font-size: 85%;
	list-style: none;
	padding-left: 1em;
	color: #333350;
}
#references a {
	color: inherit;
	/*text-decoration: none;*/
}
#references li {
	margin-bottom: .15em;
}
#references .meta {
	text-align: right;
	width: 16em;
	margin-right: 1.5em;
	display: inline-block;
	font-size: 75%;
}
#references .url {
	font-weight: 600;
	color: white;
	background: #333350;
	border-radius: .4em;
	font-style: italic;
	padding: .05em .6em;
}
#references img {
	vertical-align: sub;
  height: 1.2em;
	border-radius: .3em;
	margin-left: .6em;
}

#rule-rules {
	display: inline-flex;
	justify-content: start;
	min-height: 5em;
	width: 80%;
}

#rule-rules .situationValue {
	display: none;
	padding-left: 1em;
	font-weight: 600;
	color: #333350;
}

#rule-rules.showValues .situationValue {
	display: inline;
}

#showValues {
	background: rgb(74, 137, 220);
	color: white;
	border: none;
	font-size: 100%;
	padding: .4em;
	margin: auto;
	margin-left: 3em;
}

#algorithm {
	margin-top: 3em;
	width: 60%;
}

.dictionaryWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.dictionaryPanel {
	width: 35%;
	border: 1px dashed #aaa;
	margin: 1em;
	padding: .6em 1em;
	min-height: 6em;
	border-radius: .3em;

}

#rule-rules section {
	margin: 1em 3em;
	font-weight: 500;
	font-size: 90%;
	color: #444
}
#rule-rules section h2 {
	font-size: 130%;
}
.node {
	padding-left: 1em;
	color: #4B4B66
}

.nodeHead {
	margin-bottom: 1em;
}

.mecanism > .nodeHead .name {
	padding: .05em 1em;
	background: #d5911a;
	color: white;
	font-weight: 600;
	border-radius: .4em;
}
.ruleProp > .nodeHead .name {
	background: #df5320
}
.mecanism li {
}
.mecanism ul {
	margin-top: 0;
	padding-left: 1em;
	list-style-type: none;
	border-left: 1px dashed #ccc;
}
.mecanism ul .key {
	color: #d5911a;
	font-weight: 600;
	display: inline-block;
	margin-bottom: 1em;
}

.multiplication li .key {
	margin-right: .6em;
}

.mecanism.list > ul {
	list-style-type: disc;
}
.mecanism.list > ul > li {
	margin-left: .8em;
	padding-left: .3em;
}

.maximum .description {
	font-style: italic;
	font-weight: 600;
	margin-bottom: .4em;
	margin-left: 1em;
}

.condition {
	margin-bottom: .6em;
}

.node.inlineExpression {
	padding-left: 0;
	display: inline;
}
.inlineExpression .nodeContent {
	/*border-bottom: 1px solid rgba(51, 51, 80, 0.25);*/
	/*border-right: 1px solid rgba(51, 51, 80, 0.25);*/
	/*padding: .5em .6em;*/
	/*border-radius: .3em;*/
}
.nodeHead {
	display: inline-block;
}
.leaf .situationValue {
	text-align: center;
}

#rule-rules .situationValue.oui {
	color: #5ab738;
}
#rule-rules .situationValue.non {
	color: #f22c40;
}

.variable .name {
	color: #5B5B73;
	text-align: center;
  margin-top: 1em;
  padding: .05em 1em;
  line-height: 1.8em;
  border-radius: .4em;
	font-weight: 600;
	font-size: 90%;
	border: 1px solid rgba(51, 51, 80, 0.25);
}


.percentage .name {
	font-size: 110%;
	font-weight: 600;
}

.operator {
	margin: .1em .6em;
	font-size: 150%;
	font-weight: 600;
	vertical-align: middle;
}

.json {
	font-size: 60%;
}
