.satisfaction-smiley {
	font-size: 90%;
	font-weight: bold;
	border-radius: 6em;
	width: 2em;
	text-align: center;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	margin: 0 0.6em;
	padding: 0.3em 0;
	transform: rotate(90deg);
}
