#satisfaction {
	text-align: center;
	margin-top: 8em;
}

.satisfaction-smiley {
	font-size: 90%;
	font-weight: bold;
	border-radius: 6em;
	width: 2em;
	text-align: center;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	margin: 0 0.6em;
	padding: 0.3em 0;
	transform: rotate(90deg);
}

#satisfaction textarea {
	border: 1px solid rgb(74, 137, 220, 0.5);
	border-radius: 0.3em;
	width: 65%;
	height: 5em;
	padding: 0.6em;
	font-size: 85%;
}

#satisfaction input {
	border: 1px solid rgb(74, 137, 220, 0.5);
	border-radius: 0.3em;
	width: 65%;
	padding: 0.6em;
	margin-bottom: 0.3em;
	font-size: 85%;
}

#sendMessage {
	font-size: 100%;
	border: none;

	transition: color 1s;
}
#sendMessage:disabled {
	color: #bbb;
	cursor: default;
}
#sendMessage i {
	margin-right: 0.6em;
}
#messageSent {
	font-size: 160%;
}

#satisfaction p {
	font-size: 85%;
}

#satisfaction p a {
	text-decoration: underline;
}
