.comparaison-grid {
	display: grid;
	justify-items: stretch;
	justify-content: center;
	grid-template-columns: [row-legend] auto [assimilé-salarié] auto [indépendant] auto [auto-entrepreneur] auto [end];
}
.comparaison-grid > * {
	border-bottom: 1px solid var(--lighterColour);
	padding: 0.6rem 1.2rem;
	border-right: 1px solid var(--lighterColour);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.comparaison-grid > h2 {
	margin: 0;
	flex-direction: column;
	border: none;
	align-self: stretch;
}
.comparaison-grid > h2 img {
	height: 1.6rem !important;
	width: 1.6rem !important;
}
.comparaison-grid > .legend {
	max-width: 16rem;
	justify-content: flex-end;
	grid-column: row-legend;
	text-align: right;
}

.comparaison-grid > .AS-et-indep {
	grid-column: assimilé-salarié / auto-entrepreneur;
}
.comparaison-grid > .AS {
	grid-column: assimilé-salarié;
	min-width: 11rem;
}
.comparaison-grid > .indep {
	grid-column: indépendant;
}
.comparaison-grid > .auto {
	grid-column: auto-entrepreneur;
	border-right: none;

	min-width: 14rem;
}
.comparaison-grid > .all {
	border-right: none;
	text-align: left;
	grid-column: row-legend / end;
	background-color: var(--lightestColour);
}

.comparaison-grid > .indep-et-auto {
	grid-column: indépendant / end;
	border-right: none;
}
.comparaison-grid > .AS-indep-et-auto {
	grid-column: assimilé-salarié / end;
	border-right: none;
}

.comparaison-grid.hideAutoEntrepreneur {
	grid-template-columns: [row-legend] auto [assimilé-salarié] 1fr [indépendant] 1fr [auto-entrepreneur] 0 [end];
}
.comparaison-grid.hideAutoEntrepreneur > .auto {
	display: none;
}
.comparaison-grid.hideAutoEntrepreneur > .indep-et-auto {
	border-right: 1px solid var(--lighterColour);
}

.comparaison-grid.hideAssimiléSalarié {
	grid-template-columns: [row-legend] auto [assimilé-salarié] 0 [indépendant] auto [auto-entrepreneur] auto [end];
}
.comparaison-grid.hideAssimiléSalarié > .AS {
	display: none;
}

.comparaison-grid > .green {
	font-weight: bold;
	color: limegreen;
}

.comparaison-grid > .red {
	font-weight: bold;
	color: red;
}

.comparaison-grid > .no-border {
	border: none;
}
.comparaison-grid .button {
	align-self: stretch;
}

@media (max-width: 800px) {
	.comparaison-grid {
		grid-template-columns: [row-legend] 10rem [assimilé-salarié] auto [indépendant] auto [auto-entrepreneur] auto [end];
	}
	.comparaison-grid > * {
		padding: 0.6rem;
	}
}
@media (max-width: 600px) {
	.comparaison-grid {
		display: block;
		padding: 0 0.6rem;
	}
	.comparaison-grid > h2 {
		display: none;
	}
	.comparaison-grid > *::before {
		flex: 1;
		text-align: left;
		flex-shrink: 0;
		white-space: nowrap;
		font-weight: normal;
	}
	.comparaison-grid > :not(.button)::before {
		color: rgba(0, 0, 0, 0.6);
		color: var(--lighterInverseTextColour);
	}
	.comparaison-grid > .AS::before {
		content: 'Assimilé-salarié : ';
	}
	.comparaison-grid > .indep::before {
		content: 'Indépendant : ';
	}
	.comparaison-grid > .auto::before {
		content: 'Auto-entrepreneur : ';
	}
	.comparaison-grid > .indep-et-auto::before {
		content: 'Indépendant et auto-entrepreneur : ';
	}
	.comparaison-grid > .AS-et-indep::before {
		content: 'Assimilé salarié et indépendant : ';
	}
	.comparaison-grid > .legend {
		text-align: left;
		justify-content: left;
	}
	.comparaison-grid > * {
		border: none;
		max-width: inherit !important;
		text-align: right;
		justify-content: right;
	}
	.comparaison-grid > :not(.all):not(.button) {
		padding-left: 0;
	}
	.comparaison-grid > .all {
		margin: 0 -0.6rem;
		margin-top: 2rem;
	}
}
@media (min-width: 600px) {
	.comparaison-grid > h3 {
		margin: 0;
		font-weight: normal;

		font-size: 1rem;
	}
}
