#searchButton button {
	margin: 0.6em 0;
	border: none;
	font-size: 110%;
	padding: 0 0.6em;
}
#searchButton {
	display: flex;
	justify-content: flex-end;
}

#searchButton #overlayContent {
	height: 26em;
}
