#searchButton button {
	margin: 0.6em 0;
	border: none;
}
#searchButton i {
	font-size: 180%;
}
#searchButton {
	display: flex;
	justify-content: flex-end;
}

#searchButton #overlayContent {
	height: 26em;
}
