#sim {
	margin: 0 auto;

	color: #333350;
	transition: background-color .5s;
	height: 100%;
	max-width: 45em;
	font-size: 130%;

	height: 92%;

}

#sim p {
	color: inherit;
}

#sim > h1 {
	color: inherit;
	margin: 1em 0;
	font-size: 350%;
	font-weight: 800;
}


#simSubtitle {
	margin-top: -.5em;
	font-size: 120%;
	font-weight: 300;
	margin-bottom: 2.5em;
}

#sim .intro {
	font-style: italic;
	font-size: 110%;
}
#sim .intro > div {
	margin: 1em 0;
	display: flex;
	align-items: center;
}
#sim .intro i {
	opacity: .9;
	font-size: 250%;
	margin-right: .6em;
}
#sim .intro span {
	display: inline-block;
	width: 80%;
}

#sim .action {
	margin-top: 5%;
	margin-bottom: 3%;
}
#sim .action p {
	text-align: center;
}

#sim .intro button {
	color: white;
	display: block;
	text-align: center;
	background: #4A89DC;
	padding: .3em 1em;
	font-size: 140%;
	margin: 2em auto;
	width: 8em;
	border: none;
	box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
	opacity: 0.95
}
#sim .intro button:hover {
	box-shadow: none;
	opacity: 1;
}

.scrollButton {
	display: block;
	margin: 1.4em auto;
	transition: 1s opacity;
	color: #4A89DC;
	border: none;
	font-size: 100%;
	font-weight: 600;
}
.scrollButton.up {
	margin-top: 0;
}
.scrollButton.down {
	margin-bottom: 0;
}
