#sim {
	margin: 0 auto;

	color: #333350;
	transition: background-color 0.5s;
	height: 100%;
	max-width: 45em;
	font-size: 130%;

	height: 92%;
}

#sim p {
	color: inherit;
}

#sim > h1 {
	color: inherit;
	margin: 1em 0;
	font-size: 350%;
	font-weight: 800;
}

#simSubtitle {
	margin-top: -0.5em;
	font-size: 120%;
	font-weight: 300;
	margin-bottom: 2.5em;
}

#sim .intro {
	font-style: italic;
	font-size: 110%;
}
#sim .intro > div {
	margin: 1em 0;
	display: flex;
	align-items: center;
}

#sim .action {
	margin-top: 5%;
	margin-bottom: 3%;
}
#sim .action p {
	text-align: center;
}

.scrollIndication {
	display: block;
	text-align: center;
	margin: 1.4em auto;
	transition: 1s opacity;
	border: none;
	font-size: 100%;
	font-weight: 600;
}
.scrollIndication i {
	margin: 0 0.3em;
}
.scrollIndication:hover i {
	font-weight: bold;
}
.scrollIndication.up {
	margin-top: 0;
}
.scrollIndication.down {
	margin-bottom: 0;
}
