.sondage {
	background: white;
	display: inline-block;
	padding: 1em;
	border: 2px solid;
	box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.45);
	border-bottom: none;
	border-radius: 0.3em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.sondage__container {
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 0;
}
.sondage__closeButton {
	margin-left: 0.5em;
}
.sondage__text {
	margin-right: 1em;
}

.slide-blurred-bottom-enter {
	animation: slide-in-blurred-bottom 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
	animation-delay: 6s;
	transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
	transform-origin: 50% 100%;
	filter: blur(40px);
	opacity: 0;
}
.slide-blurred-bottom-leave {
	animation: slide-in-blurred-bottom 0.3s cubic-bezier(0.32, 1, 0.23, 1) both
		reverse;
}
/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@keyframes slide-in-blurred-bottom {
	0% {
		transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}
