#targets {
	width: 100%;
	margin: 10% auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#targets > .icon {
	margin: 0 0.6em;
	font-size: 200%;
	color: var(--colour);
}
#targets .value {
	font-size: 180%;
}
#targets .unit {
}

#targets .explanation {
	font-size: 150%;
	text-decoration: none;
	line-height: 0;
}
