#targetsContainer {
	padding: 0.5em;
	border-radius: 0.6em;
	box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.25);
}

#targetSelection h1 {
	margin: 0.6em;
	color: inherit;
	text-align: center;
	font-size: 180%;
}

#targetSelection #action {
	text-align: center;
	margin: 1em auto;
}

#targetSelection #action p {
	color: #4b4b66;
	margin-bottom: 1em;
	font-size: 120%;
}

#targetSelection #targets {
	margin: 0;
	list-style: none;
	/* For the checkbox that will appear */
	padding: 0;
}
#targetSelection #targets > li:last-child {
	margin-bottom: 0;
}

#targetSelection #targets > li {
	margin-bottom: 0.5em;
	background: rgba(0, 0, 0, 0.25);
	padding: 0.4em 0.6em 0.4em;
	border-radius: 0.3em;
}
#targetSelection #targets > li .main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#targetSelection #targets > li p {
	margin: 0.2em 0 0;
	opacity: 0.8;
	line-height: 1.2em;
}

#targetSelection li > .header {
	display: flex;
	align-items: center;
}

#targetSelection .progressCircle {
	margin-right: 0.6em;
}
#targetSelection .progressCircle svg {
	width: 2em;
}
#targetSelection .progressCircle i {
	color: #5de662;
	font-size: 220%;
}

#targetSelection .optionTitle {
	font-size: 115%;
	font-weight: 600;
}
#targetSelection .optionTitle a {
	color: inherit;
}
#targetSelection .optionTitle a:hover {
	text-decoration: underline;
}

#targetSelection .unit {
	margin-left: 0.4em;
	font-size: 110%;
	vertical-align: middle;
}

.input-error {
	padding: 0 0.6em;
	margin-right: 0.6em;
	font-size: 90%;
	font-style: italic;
	color: #c0392b;
	background: yellow;
	font-weight: 600;
}

#targetSelection .inputSuggestions {
	margin: 0.6em 0;
}

/* Autre idée pour styler les checkboxes https://codepen.io/KenanYusuf/pen/PZKEKd */
