#targetSelection {
	height: 35em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	font-size: 100%;
	max-width: 860px;
}

#targetSelection > div {
	width: 100%;
}

#targetSelection h2 {
	margin: 2em;
}
#targetSelection #targets {
	width: 30em;
	margin: 0 auto;
}
#targetSelection label {
	display: block;
	margin-bottom: 1.2em;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#targetSelection label i {
	font-size: 180%;
}
#targetSelection div {
	margin-left: 1em;
}

#targetSelection .optionTitle {
	font-size: 130%;
}
#targetSelection label p {
	margin: 0;
	font-weight: 400;
}

#targetSelection input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
#targetSelection input:disabled + label,
#targetSelection input:disabled + label p,
#targetSelection input:disabled + label > i {
	color: #aaa !important;
}

#targetSelection input + label > i.fa {
	max-width: 0.75em;
}

#targetSelection #action {
	text-align: center;
	margin: 1em auto;
}

#targetSelection #action p {
	font-size: 80%;
}

/* TODO styler les checkboxes https://codepen.io/KenanYusuf/pen/PZKEKd */
