#about section {
	margin-bottom: 3em;
}
#about a.button {
	margin: 2em auto;
	width: 20em;
	display: block;
	text-align: center;
}

#about iframe {
	width: 100%;
	border: none;
	height: auto;
	background: yellow;
	height: 6.5em;
}
