#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em 0;
}
#header #brand {
	display: flex;
	align-items: center;
}
#header h1 {
	font-size: calc(.8vw + 125%);
	font-weight: 600;
	display: inline-block;
	margin-left: 0em;
	color: #3c4963;
	line-height: 1em;
	margin-bottom: 0.6em;
}

#header #logo {
	width: calc(1vw + 5em);
}
#menuButton {
	font-size: 300%;
	color: #3c4963;
	margin: 0 0.4em;
	display: inline-block;
}
nav {
	font-size: 110%;
	margin-bottom: 1em;
	display: inline-block;
}
#header #marianne {
	width: calc(2vw + 3em);
}

@media screen and (min-width: 860px) {
	#header #marianne {
		vertical-align: middle;
	}
}

nav a {
	color: #666;
}
@media screen and (max-width: 860px) {
	nav {
		display: none;
	}
	nav.visible {
		display: block;
		position: absolute;
		width: 100%;
		background: white;
		left: 0;
		top: 4.8em;
		bottom: 0;
		z-index: 10;
	}
	nav.visible #links {
		margin: 6em 1em;
	}
	nav.visible a {
		font-size: 200%;
		color: #3c4963;
		display: block;
		margin: 1.2em;
	}
}
@media screen and (min-width: 860px) {
	#menuButton {
		display: none;
	}

	nav {
		margin-right: 1em;
	}

	nav a {
		margin: 0.8em;
		font-size: 85%;
		font-weight: 600;
		color: #3c4963;
	}
}

#iframeFullscreen {
	font-size: 120%;
	text-align: center;
	background: #eee;
	display: block;
	width: 12em;
	margin: 0 auto;
	padding: 0.4em 1em;
	cursor: pointer;
}
#iframeFullscreen.absolute {
	padding: 0;
}
#iframeFullscreen i {
	margin-left: 1em;
}

#iframeFullscreen.absolute i {
	position: absolute;
	top: 0.2em;
	right: 0.3em;
	font-size: 150%;
}

#footer {
	position: fixed;
	right: 1em;
	bottom: 1em;
}
#footer a {
	font-size: 95%;
	color: rgb(75, 75, 102);
}
#footer a:hover {
	color: black;
}

#footer i {
	margin: 0.1em;
}
