#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	border-bottom: 1px solid #ebebeb;
}
#header #brand {
	display: flex;
	align-items: center;
}
#header h1 {
	font-size: calc(1vw + 150%);
	font-weight: 600;
	display: inline-block;
	margin-left: 0.8em;
	color: #333;
}

#header #marianne {
	width: calc(3vw + 5em);
}
#menuButton {
	font-size: 300%;
	color: #3c4963;
	margin: 0 0.4em;
}
nav {
	font-size: 150%;
}

nav a {
	color: #666;
}
@media screen and (max-width: 860px) {
	nav {
		display: none;
	}
	nav.visible {
		display: block;
		position: absolute;
		width: 100%;
		background: white;
		left: 0;
		top: 4.8em;
		bottom: 0;
		z-index: 10;
	}
	nav.visible #links {
		margin: 6em 1em;
	}
	nav.visible a {
		font-size: 200%;
		color: #3c4963;
		display: block;
		margin: 1.2em;
	}
}
@media screen and (min-width: 860px) {
	#menuButton {
		display: none;
	}

	nav {
		margin-right: 2em;
	}

	nav a {
		margin: 0.8em;
		font-size: 85%;
	}
}

#iframeFullscreen {
	font-size: 120%;
	text-align: center;
	background: #eee;
	display: block;
	width: 20em;
	margin: 0 auto;
	padding: 0.6em 1em;
	cursor: pointer;
}
#iframeFullscreen i {
	margin-left: 1em;
}
