body {
	font-family: Open Sans;
	color: #333;
}

h1 {
	text-align: center;
	font-weight: 200;
	font-size: 215%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 0;
}

#tag-navigation {
	text-transform: capitalize;
	font-size: 140%;
	font-weight: 300;
	width: 20%;
	border-right: 1px solid #ccc;
	padding: 1em;
	display: inline-block;
}

#to-select > li {
	margin-bottom: 1.5em;
}

.choices {
	margin-top: .6em;
}
.choices li {
	font-size: 75%;
	font-weight: 400;
	display: inline-block;
	text-align: right;
	margin-right: 1em;
	background: #16a085;
	color: white;
	padding: .05em .6em;
	cursor: pointer;
	border-radius: .1em
}

#selected {
	border-bottom: 1px solid #ccc;
	padding-bottom: .6em;
	margin-bottom: 2em;
}

#variables {
	width: 70%;
	display: inline-block;
	padding: 3%;
	position: absolute;
}

.variable {
	width: 6em;
	display: inline-block;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 1em 2em;
	text-align: center;
	text-transform: capitalize;
}

.variable ul {
	padding-left: .6em
}

#selected-variable {
	width: 70%;
	display: inline-block;
	position: absolute;
}

#selected-variable h1 {
	text-transform: capitalize;
	font-size: 180%;
}

#selected-variable p {
	width: 50%;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-left: 2px solid #ddd;
	padding: 1em 2em;

}
