body {
	font-family: Open Sans;
	color: #333;
}

h1 {
	text-align: center;
	font-weight: 200;
	font-size: 200%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#tags {
	text-transform: capitalize;
	font-size: 140%;
	font-weight: 300;
	width: 20%;
	border-right: 1px solid #ccc;
	padding: 1em;
	display: inline-block;
}

#tags li {
	margin-top: 1em;
}

.choices {

}
.choices li {
	font-size: 75%;
	font-weight: 400;
	display: inline-block;
	text-align: right;
	margin-left: 1em;
	background: #16a085;
	color: white;
	padding: .05em .5em;
	cursor: pointer;
	border-radius: .1em
}

#variables {
	width: 70%;
	display: inline-block;
	padding: 3%;
}

.variable {
	width: 12em;
	display: inline-block;
}
