body {
	font-family: Open Sans;
	color: #333;
}

h1 {
	text-align: center;
	font-weight: 200;
	font-size: 215%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 0;
}

#tag-navigation {
	font-size: 130%;
	font-weight: 300;
	width: 20%;
	padding: 1em;
	display: inline-block;
}
#tag-navigation h2 {
	font-size: 120%;
	font-weight: 300;
	margin-top: 0;
	opacity: .65;
	padding-bottom: .3em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0
}
#tag-navigation .content {
	padding-top: 1.5em;
	border-right: 1px solid #ccc;

}

#to-select > li {
	margin-bottom: 1.5em;
}

.choices {
	margin-top: .6em;
}
.tag-value {
	font-size: 75%;
	font-weight: 400;
	display: inline-block;
	text-align: right;
	margin-right: 1em;
	color: #2980b9;
	border: 1px solid #2980b9;
	padding: .05em .6em;
	cursor: pointer;
	border-radius: .1em
}
#to-select span.nb {
	font-size: 60%;
	margin-left: 2em;
}

#selected {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-weight: 500;
	color: #16a085;
}

#selected .tag-value {
	margin-left: 1em;
	border: 1px solid #16a085;
	color: #16a085;
	margin-bottom: .5em;
}

#selected button {
	background: none;
	border: none;
	float: right;
	cursor: pointer;
	color: #16a085;
}

#variables {
	width: 70%;
	display: inline-block;
	padding: 3%;
	position: absolute;
}

.variable {
	width: 8em;
	min-height: 7em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 1em 2em;
	text-align: center;
}
.variable h3 {
	font-weight: 400;
	font-size: 120%;
	text-transform: capitalize;
}

.variable ul {
	padding-left: .6em
}

#selected-variable {
	width: 70%;
	display: inline-block;
	position: absolute;
}

#selected-variable h1 {
	text-transform: capitalize;
	font-size: 180%;
}

#selected-variable p {
	width: 50%;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-left: 2px solid #ddd;
	padding: 1em 2em;

}
