/* .payslip__salarySection {
	display: grid;
	grid-template-columns: auto 8.2em;
	overflow: visible;
	grid-gap: 3px 0em;
} */

.payslip__salaryLine,
.payslip__payementLine {
	display: flex;
	justify-content: space-between;
}

.payslip__salaryLine div {
	color: hsl(var(--COLOR_HUE), calc(var(--COLOR_SATURATION) - 34%), 33%);
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding: 0;
}

/* .payslip__salaryTitle {
	grid-column-end: span 2;
} */

/* .payslip__cotisationsSection {
	display: grid;
	overflow: visible;

	grid-template-columns: auto auto auto;
	grid-gap: 3px 0em;
} */

.payslip__container {
	line-height: 1.5rem;
}

.payslip__container ul {
	list-style-type: "";
	padding-left: 0;
}

.payslip__container h3 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.85);
	background-color: inherit;
	print-color-adjust: exact !important;
	margin: 0;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0;
	align-self: flex-end;
	width: 100%;
	font-size: 1.125rem;
}

.payslip__container h4 {
	font-size: 1rem;
}

.payslip__total {
	font-weight: bold;
	background-color: transparent !important;
	color: inherit;
}

.payslip__container h5 {
	margin: 0;
	background-color: inherit;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.payslip__container h5:not(:first-of-type) {
	margin-top: 1.5rem;
}

.payslip__container *::first-letter {
	text-transform: capitalize;
}

.payslip__container span,
.payslip__cotisationLine td {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: 'Courier New', Courier, monospace;
}

.payslip__cotisationsSection a:nth-of-type(2n),
.payslip__salarySection a:nth-of-type(2n) {
	background-color: rgba(255, 255, 255, 0.4);
	margin-left: -0.25rem;
	padding-left: 0.25rem;
	border-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.payslip__salaryLine:nth-of-type(2n),
.payslip__cotisationLine:nth-of-type(2n)+* {
	background-color: rgba(255, 255, 255, 0.4);
	color: inherit;
}

.payslip__cotisationsSection a:nth-of-type(2n)+*+* {
	background-color: rgba(255, 255, 255, 0.4);
	margin-right: -0.25rem;
	z-index: 1;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-right: 0.25rem;
}

.payslip__total+*+* {
	background-color: transparent !important;
}

.payslip__cotisationTitle {
	grid-column-end: span 3;
}

.payslip__salaireNet {
	font-weight: bold;
}

.payslip__cotisationTable {
	width: 100%;
	border-spacing: 0;
}

.payslip__cotisationTable:first-of-type .payslip__cotisationTitle {
	margin-top: 0;
}

.payslip__container caption {
	margin: 2rem 0 0;
	scroll-margin-top: 1rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: hsl(var(--COLOR_HUE), calc(var(--COLOR_SATURATION) - 34%), 33%);
	font-size: 1rem;
	line-height: 1.75rem;
	text-align: left;
	background-color: transparent;
}

.payslip__cotisationTable tr {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
}

.payslip__cotisationTable [scope="col"],

.payslip__cotisationTable [scope="row"] {

	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: inherit;
}

.payslip__cotisationTable [scope="row"] {
	text-align: left;
	color: inherit;
}

.payslip__cotisationTable [scope="col"] {
	color: hsl(var(--COLOR_HUE), calc(var(--COLOR_SATURATION) - 34%), 33%);
	text-align: right;
}

.payslip__cotisationLine td {
	text-align: right;
}