.env
source/public/data/*
!source/public/data/versement-mobilité.json
cypress/videos
cypress/screenshots
cypress/downloads
.deps.json
netlify*.toml
source/public/sitemap.*.txt
source/public/simulation-data*.json
dev-dist
vite*.config.ts.timestamp*
.swc