.footer-container {
	margin-top: 2rem;
}
.footer {
	background-color: rgba(41, 117, 209, 0.133);

	padding: 1rem 0;
}

.footer img {
	height: 2.5rem;
}

.footer a {
	text-decoration: none;
}

#footerIcons {
	display: flex;
	margin: 1rem 0;
	justify-content: space-around;
}
#footerIcons a::after {
	display: none;
}
.footer__registerContainer {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}
.footer__registerField {
	display: flex;
	margin: 0.3rem 0;
	background: white;
	overflow: hidden;
	border-radius: 0.3rem;
	align-self: center;
	/* margin: 0.3rem 0.6rem; */
}
.footer__registerField > input[type='submit'] {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.footer__registerField > input[type='email'] {
	width: 15rem;
	padding: 0.3rem 0.6rem;
	font-family: inherit;
	border: none;
}
.footer-container hr {
	border-color: var(--colour);
	border-color: #2975d1;
	border-width: 0.5px;
	border-style: solid;
	margin: 1rem 0;
}
