header.header {
	height: 4.4rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: white;
	flex-shrink: 0;
	padding: 0.6rem;
}

header.header img {
	height: 100%;
	width: auto;
}
