.steps-header {
	margin-bottom: 1rem;
}
.steps-header nav {
	max-width: 100%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	background: white;
}

@media (min-width: 500px) {
	.steps-header {
		padding-top: 1.5rem !important;
	}
}

.steps-header a {
	margin-right: 0.8rem;
	min-width: 4.5rem;
	text-decoration: none;
	flex-shrink: 0;
	text-align: center;
	transition: all 0.3s;
	opacity: 0.4;
}

.steps-header a:focus {
	outline: none;
}

.steps-header a:last-child {
	margin-right: 0;
}

.steps-header a img {
	height: 4rem;
	transition: all 0.2s;
}

.steps-header a:hover {
	opacity: 0.8;
}
.steps-header a.active {
	opacity: 1;
	flex: 1;
}
/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.steps-header a.active {
		min-width: 80%;
	}
	.steps-header a {
		flex-shrink: 1;
	}
}

.steps-header .progress {
	margin-top: 0.4rem;
	height: 0.5rem;
	background: rgba(41, 117, 209, 0.2);
	border-radius: 0.1rem;
	width: 100%;
}

.steps-header .progress .bar {
	transition: width 0.3s;
	background-color: rgb(41, 117, 209);
	height: 100%;
}
