.footer {
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-top: 6rem;
	background-color: rgba(41, 117, 209, 0.133);
}
@media (max-width: 500px) {
	.footer {
		margin-top: 2rem;
	}
}

.footer img {
	height: 2.5rem;
}

.footer a {
	text-decoration: none;
}

#footerIcons {
	display: flex;
	justify-content: space-evenly;
}
#footerIcons a::after {
	display: none;
}
