.footer {
	padding-top: 0.3rem;
	padding-bottom: 1rem;
	margin-top: 6rem;
	background-color: rgba(41, 117, 209, 0.133);
}

.footer img {
	height: 2.5rem;
}

.footer p {
	opacity: 0.9;
	margin-bottom: 1.2em;
}
.footer a {
	text-decoration: none;
}

#footerIcons {
	display: flex;
	justify-content: space-evenly;
}
#footerIcons a::after {
	display: none;
}
