.distribution-chart__item {
	display: flex;
	margin-top: 1em;
	min-height: 3.5em;
	padding: 0;
	width: 100%;
	border: none;
	font-weight: normal;
	align-items: center;
	font-size: 90%;
	position: relative;
}
.distribution-chart__container {
	max-width: calc(100% - 5.5em);
}

.distribution-chart__item:hover .distribution-chart__bar {
	opacity: 0.8;
}
.distribution-chart__amount--outside {
	position: relative;
	left: 5.5em;
	justify-content: flex-start;
	min-width: 5em;
}

@media (max-width: 800px) {
	.distribution-chart__item {
		flex-direction: column;
		align-items: stretch;
	}
	.distribution-chart__legend {
		align-items: flex-end !important;
		justify-content: flex-start !important;
		position: initial !important;
		flex-direction: row !important;
		width: auto !important;
		height: initial !important;
	}
	.distribution-chart__branche-name {
		padding-left: 0.4em;
		font-size: inherit !important;
	}
}

.distribution-chart__legend {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgba(0, 0, 0, 0.7);
	padding: 0.4em 0;
	padding-right: 1em;
	justify-content: space-evenly;
	width: 9em;
	flex-grow: 0;
	flex-shrink: 0;
}

.distribution-chart__branche-name {
	font-size: 90%;
}
.distribution-chart__icon {
	font-size: 200%;
	height: 1.2em;
}

.distribution-chart__bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 3em;
	color: white;
	border-radius: 0.6em;
	font-weight: bold;
}

.distribution-chart__branche-name::first-letter {
	text-transform: capitalize;
}

.distribution-chart__total {
	border-top: 1px dotted rgba(0, 0, 0, 0.7);
	color: black;
	margin-top: 1em;
	padding-top: 0.8em;
}
.distribution-chart__total {
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-column-gap: 1em;
	grid-row-gap: 0.4em;
	align-items: end;
	text-align: right;
	margin-bottom: 1em;
}

.distribution-chart__total-border {
	grid-column: 2 / span 2;
	border-top: solid 1px rgba(0, 0, 0, 0.7);
}
