.payslip__salarySection {
	display: grid;
	grid-template-columns: auto 8.2em;
	overflow: visible;
	grid-gap: 3px 0em;
}
.payslip__salaryTitle {
	grid-column-end: span 2;
}
.payslip__cotisationsSection {
	display: grid;
	overflow: visible;

	grid-template-columns: auto auto auto;
	grid-gap: 3px 0em;
}
.payslip__container {
	line-height: 1.5rem;
}
.payslip__container h3 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.85);
	color: rgba(0, 0, 0, 0.85);
	background-color: inherit;
	print-color-adjust: exact !important;
	margin: 0;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	align-self: flex-end;
}
.payslip__container h3:first-child {
	padding-left: 0;
	font-size: 1.125rem;
}

.payslip__total {
	font-weight: bold;
	margin-top: 1em;
	background-color: transparent !important;
}

.payslip__container h5 {
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	background-color: inherit;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.payslip__container h5:not(:first-of-type) {
	margin-top: 1.5rem;
}
.payslip__container *::first-letter {
	text-transform: capitalize;
}

.payslip__container span {
	display: flex;
	align-items: flex-end;
	font-family: 'Courier New', Courier, monospace;
	justify-content: flex-end;
}

.payslip__cotisationsSection h4:not(:first-child) {
	text-align: right;
}
.payslip__cotisationsSection a:nth-of-type(2n),
.payslip__salarySection a:nth-of-type(2n) {
	background-color: rgba(255, 255, 255, 0.4);
	margin-left: -0.25rem;
	padding-left: 0.25rem;
	border-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.payslip__cotisationsSection a:nth-of-type(2n) + *,
.payslip__salarySection a:nth-of-type(2n) + * {
	background-color: rgba(255, 255, 255, 0.4);
}
.payslip__cotisationsSection a:nth-of-type(2n) + * + * {
	background-color: rgba(255, 255, 255, 0.4);
	margin-right: -0.25rem;
	z-index: 1;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-right: 0.25rem;
}
.payslip__total + * + * {
	background-color: transparent !important;
}
.payslip__cotisationTitle {
	grid-column-end: span 3;
}

.payslip__salaireNet {
	font-weight: bold;
}

/* IE */
@media not print and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.payslip__cotisationsSection > h4:nth-child(1),
	.payslip__cotisationsSection > a,
	div.payslip__total {
		width: 50%;
		display: inline-block;
	}
	.payslip__cotisationsSection > h4:not(:nth-child(1)) {
		width: 25%;
		display: inline-block;
	}
	.payslip__container .montant {
		display: inline-block;
		width: 25%;
		text-align: right;
	}
	.payslip__salarySection > a {
		width: 75%;
		display: inline-block;
	}
}
