#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em 0;
}
#header #brand {
	display: flex;
	align-items: center;
	max-width: 14em;
	text-decoration: none !important;
}
#header h1 {
	font-size: calc(0.8vw + 100%);
	font-weight: 600;
	display: inline-block;
	margin-left: 0em;
	color: #3c4963;
	line-height: 1em;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

#header #logo {
	width: calc(3vw + 2em);
}

#headerRight {
	display: flex;
	align-items: center;
}

#menuButton {
	font-size: 220%;
	color: #3c4963;
	margin: 0 0.1em;
	display: inline-block;
}
nav {
	font-size: 110%;
	display: inline-block;
	line-height: 2em;
}

nav a {
	color: #666;
}
@media screen and (max-width: 860px) {
	#header {
		padding: 0 1em;
	}
	nav {
		display: none;
	}
	nav.visible {
		display: block;
		position: absolute;
		width: 100%;
		background: white;
		left: 0;
		top: 4.8em;
		bottom: 0;
		z-index: 10;
		margin: 0;
	}
	nav.visible #links {
		margin: 6em 1em;
	}
	nav.visible a {
		font-size: 200%;
		color: #3c4963;
		display: block;
		margin: 1.2em;
	}
}
@media screen and (min-width: 860px) {
	#menuButton {
		display: none;
	}

	nav a {
		margin: 0.8em;
		color: #3c4963;
	}
}

#iframeFullscreen {
	font-size: 120%;
	text-align: center;
	background: #eee;
	display: block;
	width: 12em;
	margin: 0 auto;
	padding: 0.4em 1em;
	cursor: pointer;
}
#iframeFullscreen.absolute {
	padding: 0;
}
#iframeFullscreen i {
	margin-left: 1em;
}

#iframeFullscreen.absolute i {
	position: absolute;
	top: 0.2em;
	right: 0.3em;
	font-size: 150%;
}

#langSwitcher button {
	font-size: 120%;
	border: none;
	border-radius: 0;
	margin: 0 0.6em;
	padding: 0;
}
#langSwitcher button:hover {
	border-bottom: 1px solid black;
}

#langSwitcher img {
	margin-right: 0.4em;
	height: 0.8em;
}

.menu-item {
	text-decoration: none !important;
}
