
/*
	Règles CSS d'affichage des algorithmes
*/


#rule-rules .situationValue {
	display: none;
	padding-left: 1em;
	font-weight: 700;
	color: #031bd6;
}

#rule-rules.showValues .situationValue {
	display: inline;
}

#algorithm {
}

#rule-rules section {
	margin: 1em 0 1em 0;
	font-weight: 500;
	color: #444
}
#rule-rules section > div {
	font-size: 90%;
}


#rule-rules  #ruleValue {
	font-weight: 400;
	font-size: 160%;
	margin: 2em 0 1em;
	color: #031bd6
}


.node {
	padding-left: 1em;
	color: #4B4B66
}

.mecanism > .nodeHead {
	margin-bottom: 1em;
}

.mecanism > .nodeHead .name {
	padding: .05em 1em;
	background: #34495e;
	color: white;
	font-weight: 600;
	border-radius: .4em;
}
[data-term-definition] {
	cursor: pointer;
}
[data-term-definition]:hover {
	opacity: .8
}
.ruleProp > .nodeHead .name {
	background: #9b59b6;
}
.mecanism li {
}
.mecanism .properties, .mecanism.list ul {
	margin-top: 0;
	padding-left: 1em;
	list-style-type: none;
	border-left: 1px dashed #ccc;
}
.mecanism .properties .key {
	font-weight: 600;
	display: inline-block;
	margin-bottom: .6em;
	margin-right: 0.8em;
}

.multiplication > .nodeHead .name {
	background: #2ecc71;
}

.multiplication li .key {
	margin-right: .6em;
}

.mecanism.list > ul {
	list-style-type: disc;
}
.mecanism.list > ul > li {
	margin-left: .8em;
	padding-left: .3em;
}

.maximum .description {
	font-style: italic;
	font-weight: 600;
	margin-bottom: .4em;
	margin-left: 1em;
}

.mecanism.conditions > .nodeHead .name {
	background: #3498db
}

.condition {
	margin-bottom: .6em;
}

.node.inlineExpression {
	padding-left: 0;
	display: inline;
}
.inlineExpression .nodeContent {
	/*border-bottom: 1px solid rgba(51, 51, 80, 0.25);*/
	/*border-right: 1px solid rgba(51, 51, 80, 0.25);*/
	/*padding: .5em .6em;*/
	/*border-radius: .3em;*/
}
.nodeHead {
	display: inline-block;
}
.leaf .situationValue {
	text-align: center;
}

#rule-rules .situationValue.oui {
	color: #5ab738;
}
#rule-rules .situationValue.non {
	color: #f22c40;
}

.variable .name {
	color: #5B5B73;
	text-align: center;
	margin-top: 1em;
	padding: .05em .6em;
	line-height: 1.8em;
	border-radius: .4em;
	font-weight: 600;
	font-size: 90%;
	border: 1px solid rgba(51, 51, 80, 0.25);
	white-space: nowrap
}
.variable .name:hover {
	color: black;
}


.percentage .name {
	font-size: 110%;
	font-weight: 600;
}

.inlineExpression .operator {
	margin: .1em .6em;
	font-size: 150%;
	font-weight: 600;
	vertical-align: middle;
}

.json {
	font-size: 60%;
}

.barème > .nodeHead .name {
	background: #1abc9c;
}

.barème .key {
	color: #1abc9c
}

.barème table {
	margin-top: 1em;
	width: 80%;
	text-align: left;
}
.barème table td {
	padding: .1em .4em;
	/*border: 1px solid #aaa;*/
}
.barème table tr:nth-child(2n) {
	background: #f1f1f1
}

.composantes > .nodeHead .name {
	background: #3498db;
}

.composantes > ul > li {
	display: inline-block;
}
.composantes .composante {
	width: 45%;
}
.composantes .composante .content {
	border-top: 1px solid #3498db;
	padding: 1em;
	margin-right: 2em;
}
.composantes .composanteAttributes {
	list-style-type: none;
	padding: .2em;
	color: #3498db;
}
.composantes .composanteAttributes span:last-child {
	font-weight: 600;
}

.composantes .composantesSymbol {
	font-size: 160%;
	color: #3498db;
}

#rule-content {
	margin-left: 2em;
}
