/*
	Règles CSS d'affichage des algorithmes
*/

.situationValue {
	display: none;
	text-decoration: underline white;
	border-bottom-left-radius: 3px;
	font-weight: 400;
	color: black;
	font-family: monospace;
}
.name {
	display: flex;
	align-items: baseline;
}
#rule-rules .name > .situationValue {
	border-bottom: 2px solid white;
	padding-left: 0.4em;
}

#rule-rules.showValues .situationValue {
	display: inline-block;
}

.node.inlineExpression:not(.comparison):not(.negation) {
	padding-left: 0;
	display: flex;
	align-items: baseline;
	flex-direction: row;
	flex-wrap: wrap;
}
.nodeContent {
	margin-right: 0.3em;
}
#rule-rules
	.inlineExpression:not(.comparison):not(.negation)
	> .situationValue {
	margin-left: 0.3em;
	margin-bottom: 0.6em;
	margin-top: 0.3em;
	align-items: flex-end;
	flex: 1;
	text-align: right;
}

#rule-rules section {
	margin: 1em 0;
}

#declenchement > ul {
	padding: 0;
	list-style-type: none;
}
#declenchement > ul > li {
	margin-bottom: 1em;
}

.mecanism > .nodeHead {
	border-color: inherit;
}
.mecanism > .nodeHead .name {
	position: absolute;
	top: 0;
	left: 0;
}
.inlineMecanism .name,
.mecanism > .nodeHead .name {
	padding: 0.2em 0.8em;
	display: inline-block;
	color: white !important;
	font-weight: 500;
	border-bottom-right-radius: 6px;
}
.inlineMecanism .name {
	margin: 0 0.1em;
	padding: 0.2em 0.4em;
	border-radius: 6px;
}
.mecanism > .nodeHead .name::first-letter {
	text-transform: capitalize;
}
.mecanism > .nodeHead > .situationValue {
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 0.2rem 1rem;
	border: 1px solid;
	border-color: inherit;
	font-weight: 600;
	border-bottom: none;
	border-right: none;
	border-radius: 0;
	border-top-left-radius: 3px;
}
[data-term-definition] {
	cursor: pointer;
}
[data-term-definition]:hover {
	opacity: 0.8;
}

.mecanism .properties .key {
	display: inline-block;
	margin-bottom: 0.6em;
	margin-right: 0.8em;
}

.mecanism.multiplication .key {
	color: #2ecc71;
}

.multiplication li .key {
	margin-right: 0.6em;
}

.maximum .description,
.composanteName {
	font-weight: 500;
	margin-bottom: 0.4em;
	margin-left: 1em;
}

.mecanism .conditions > ul > li {
	margin-bottom: 0.6em;
}

.leaf .situationValue {
	text-align: center;
}

#rule-rules .situationValue.✅ {
	color: #5ab738;
}
#rule-rules .situationValue.✘ {
	color: #f22c40;
}

.variable a {
	display: inline-block;
	white-space: nowrap;
}

.percentage .name {
	font-weight: 500;
}

.inlineExpression .operator {
	margin: 0 0.6em;
	vertical-align: middle;
}

.json {
	font-size: 60%;
}

.mecanism.inversion li {
	margin-top: 0.6em;
}
.mecanism.minimum > ul,
.mecanism.maximum > ul {
	list-style: disc;
	margin-left: 1em;
}

.composantes .composanteName::first-letter {
	text-transform: capitalize;
}

.mecanism ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.mecanism {
	border: 1px solid;
	max-width: 100%;
	border-radius: 3px;
	padding: 1em;
	padding-top: 1em;
	padding-bottom: 2em;
	flex: 1;
	position: relative;
}

.mecanism .key::first-letter {
	text-transform: capitalize;
}

.mecanism ul.properties > li {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.mecanism ul > li > .value {
	flex: 1;
}

.variable,
.nodeHead,
.operator {
	display: inline-block;
}

.nodeHead .name .situationValue:not(.✅):not(.✘)::before {
	content: '(';
}

.nodeHead .name .situationValue:not(.✅):not(.✘)::after {
	content: ')';
}

/* Remove style for conditions */

.situationValue.✘,
.situationValue.✅ {
	padding: 0 0.5em;
	margin-right: -1px !important;
}
.mecanism.cond *:not(.nodeContent) > .variable .name,
.mecanism.variations *:not(.nodeContent) > .variable .name,
.inlineExpression.comparison,
.inlineExpression.negation {
	display: flex;
	align-items: baseline;
}
.mecanism.cond *:not(.nodeContent) > .variable .name .situationValue,
.mecanism.variations
	> condition
	> *:first-child
	*:not(.nodeContent)
	> .variable
	.name
	.situationValue,
.inlineExpression.comparison > .situationValue,
.inlineExpression.negation > .situationValue {
	order: -1;
}

.mecanism.cond *:not(.nodeContent) > .variable .name > .situationValue,
.mecanism.variations
	> condition
	> *:first-child
	*:not(.nodeContent)
	> .variable
	.name
	> .situationValue {
	margin-bottom: -5px;
	background-color: white;
	margin-left: 0 !important;
}
