#destinataire {
	border-radius: 3px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#destinataire img {
	max-width: 100px;
	margin: auto;
	display: block;
}
#destinataireName {
	text-align: center;
	line-height: 1em;
}
#destinataire #calligraphy {
	font-size: 150%;
	padding: 0.5em;
	font-weight: bold;
	text-align: center;
}
