#examples {
}

#injectSituation {
	color: white;
	border: none;
	font-size: 100%;
	padding: 0.3em 0.6em;
	margin-bottom: 0.6em;
}

#injectSituation.selected {
	font-weight: bold;
}

#examples ul {
	padding-left: 0.6em;
	list-style-type: none;
}
#examples .example {
	font-weight: 500;
	margin: 0.6em;
	cursor: pointer;
}
#examples .example.selected .name {
	font-weight: bold;
}

#examples .name {
	border: none;
	padding: 0.2em 0.6em;
	border-radius: 0.2em;
	font-size: 100%;
}
