#examples {
}

#injectSituation {
	color: white;
	border: none;
	font-size: 100%;
	padding: 0.3em 0.6em;
	margin-bottom: 0.6em;
}

#injectSituation.selected {
	font-weight: bold;
}

#examples ul {
	padding-left: 0;
	list-style-type: none;
}
#examples .example {
	font-weight: 500;
	margin: 0.6em;
	cursor: pointer;
}
#examples .example.selected .name {
	font-weight: bold;
}

#examples i {
	margin-right: 0.6em;
}

#examples .example i {
	font-size: 200%;
	vertical-align: sub;
}

#examples .example:not(.ok) {
	color: #e74c3c;
}

#examples .example .ko {
	font-size: 80%;
	color: #666;
}

#examples .expected {
	font-weight: 700;
	color: #031bd6;
}

#examples .example.ok i {
	color: #2ecc71;
}
