#meta-content li {
	padding-bottom: 1em;
}
#rule-meta {
	content: '';
	display: table;
	clear: both;
}

#rule pre {
	padding: 1em 2em;
}
#meta-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1em;
}
#meta-header > * {
	margin-right: 1em;
}
.rule-type {
	padding: 0.2em 1em;
	text-align: center;
	border: 2px solid rgba(51, 51, 80, 0.8);
	color: rgba(51, 51, 80, 0.8);
	border-radius: 3px;
	font-size: inherit;
	text-transform: capitalize;
}

#rule h1 {
	font-size: 200%;
}
#rule h2 {
	font-size: 150%;
	font-weight: 400;
	padding-bottom: 0.1em;
}

#rule h2 small {
	font-size: 65%;
	color: rgba(51, 51, 80, 0.8);
	margin-left: 1em;
}
