#ruleHeader header {
	border-radius: 0.3em;
	padding: 1em;
}

#ruleHeader header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#ruleHeader__icon {
	font-size: 300%;
}
#rule h1 {
	margin: 0.3em 0;
}

#ruleHeader__content {
	display: flex;
}
@media (max-width: 500px) {
	#ruleHeader__content {
		align-items: center;
		flex-direction: column-reverse;
		margin: 1rem 0;
	}
}
#ruleHeader__description {
	flex: 1;
	padding-top: 1rem;
}
#ruleHeader__infobox {
	padding: 1rem;
	padding-top: 0;
	max-width: 12rem;
}
.infobox__item {
	text-align: center;
	display: flex;
	flex-direction: column;
}

#ruleHeader h4 {
	margin: 0.6em 0 0.2em;
	opacity: 0.6;
}

#rule pre {
	padding: 1em 2em;
}

#ruleHeader #PeriodSwitch {
	margin: 0.3em 1em;
}
#ruleHeader #PeriodSwitch img {
	display: none;
}
