#rule {
	font-size: 110%;
	height: 100%;
	padding-bottom: 10%;
	max-width: 45em;
	margin: 0 auto;
}
.reportErrorContainer {
	text-align: center;
	padding: 0.3em 0.6em;
	margin: 3em auto 0;
}
.reportError {
	color: #c0392b;
	font-size: 100%;
	text-align: center;
}
.reportError:hover {
	color: #b53527;
}

#notes {
	color: #666;
}
