#rule {
	font-size: 110%;
	height: 100%;
	padding-bottom: 10%;
}

@media screen and (min-width:800px) {
	#rule {
		width: 800px;
		margin: 0 auto;
	}
}

#rule-meta {
	margin-top: 1.6em;
}


#rule pre {
	padding: 1em 2em;
}

.rule-type {
	padding: 0 .5em;
	margin: 0 auto;
	width: 7em;
	text-align: center;
	color: #4B4B66;
	border: 2px solid #4B4B66;
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

#rule h1 {
	color: #4B4B66;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: .2em 0;
	border-bottom: 1px solid rgba(51, 51, 80, 0.2);
}

#rule h2 {
	font-size: 140%;
	font-weight: 400;
	border-bottom: 1px solid #4B4B66;
	display: inline-block;
	padding-right: .6em;
}

#rule ul {
	margin: 0;
}



#meta-paragraph {
	background: rgba(51, 51, 80, 0.03);
	padding: 1em;
	display: flex;
	justify-content: center;
}
#meta-paragraph p {
	/*border-left: 3px solid #333350;*/
	padding-left: 1em;
	color: #444;
	font-size: 95%;
}

#rule h3 {
	font-size: 100%;
	font-weight: 400;
	margin: .4em 0;
}

#destinataire {
	text-align: center;
	max-width: 25%;
}
#destinataire a {
	text-decoration: none;
	color: inherit;
}
#destinataire > div {
	width: 70%;
	margin: 0 auto;
}
#destinataire img {
	width: 100%;
	opacity: .8;
	display: block;
}
#destinataireName {
	text-align: center;
	font-size: 70%;
	line-height: 1em;
	margin-top: .3em;
}
#destinataire #calligraphy {
	color: #5B5B73;
	border: 2px solid #5B5B73;
	border-radius: .4em;
	width: 130px;
	line-height: 2em;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

#ruleValue {
	margin-left: 3em;
	font-weight: 600;
}




#reportError {
	background: #c0392b;
	color: white;
	border: none;
	font-size: 100%;
	padding: .3em .6em;
	margin: 3em auto 0;
	display: block;
}
