#rule {
	font-size: 110%;
	height: 100%;
	padding-bottom: 10%;
	max-width: 45em;
	margin: 0 auto;
}

#rule-meta {
	margin-top: 1.6em;
}

#meta-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#meta-header {
	line-height: 3em;
}

#namespace {
	padding: 0;
}

#namespace li {
	display: inline;
}

#rule pre {
	padding: 1em 2em;
}

.rule-type span {
	padding: 0 1em;
	margin: 0 1em;
	text-align: center;
	color: #4b4b66;
	border: 2px solid #4b4b66;
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

#rule h1 {
	color: #4b4b66;
	font-size: 200%;
}

#rule h2 {
	font-size: 150%;
	font-weight: 400;
	border-bottom: 1px solid rgba(51, 51, 80, 0.15);
	padding: 0.3em 0 0.1em;
}

#rule h2 small {
	font-size: 60%;
	color: #888;
	font-style: italic;
	margin-left: 1em;
}

#rule ul {
	margin: 0;
}

#meta-content {
	border-top: 1px solid rgba(51, 51, 80, 0.2);
	background: rgba(51, 51, 80, 0.03);
	padding: 1em;
	display: flex;
	justify-content: center;
}
#meta-content p {
	/*border-left: 3px solid #333350;*/
	padding-left: 1em;
	color: #444;
	font-size: 95%;
}

#rule h3 {
	font-size: 100%;
	font-weight: 400;
	margin: 0.4em 0;
}

#destinataire {
	text-align: center;
	max-width: 25%;
}
#destinataire a {
	text-decoration: none;
	color: inherit;
}
#destinataire > div {
	width: 70%;
	margin: 0 auto;
}
#destinataire img {
	width: 100%;
	opacity: 0.8;
	display: block;
}
#destinataireName {
	text-align: center;
	font-size: 70%;
	line-height: 1em;
	margin-top: 0.3em;
}
#destinataire #calligraphy {
	color: #5b5b73;
	border: 2px solid #5b5b73;
	border-radius: 0.4em;
	width: 130px;
	line-height: 2em;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

#reportError {
	background: #c0392b;
	color: white;
	border: none;
	font-size: 100%;
	padding: 0.3em 0.6em;
	margin: 3em auto 0;
	display: block;
}
