.RuleValueVignette .rule-box {
	display: flex;
	justify-content: space-between;
}
.rule-box:hover {
	background: rgba(255, 255, 255, 0.16);
}

.RuleValueVignette .rule-box > span {
	display: inline-block;
}
.RuleValueVignette .rule-name {
	font-weight: 600;
	font-size: 105%;
}
.Rule-value {
	transition: background 0.8s;
	font-size: 105%;
}
.Rule-value .unsatisfied {
	font-style: italic;
	font-size: 85%;
}
.Rule-value .irrelevant {
	font-style: normal;
}

/* Animation of summary figures changes : flash ! */
.flash-enter {
	background: rgba(255, 255, 255, 1);
}

.flash-leave {
	/* Completely hide the button while it's being animated and before it's removed from the DOM. */
	display: none;
}
