#rule {
	margin: 1rem auto;
}
.reportErrorContainer {
	text-align: center;
	padding: 0.3em 0.6em;
	margin: 3em auto 0;
}
.reportError {
	color: #c0392b;
	font-size: 100%;
	text-align: center;
}
.reportError:hover {
	color: #b53527;
}

#notes {
	color: #666;
}

h2 small {
	font-size: 75%;
}

#rule #ruleValue {
	font-weight: 400;
	font-size: 200%;
	color: inherit;
	margin-bottom: 0.6em;
	margin-top: 0.4em;
}

#rule #ruleDefault {
	text-align: center;
	opacity: 0.75;
}

#toggleRuleSource {
	margin-top: 1em;
	width: 100%;
}
#rule #toggleRuleSource {
	text-align: right;
	padding-right: 5em;
}
#toggleRuleSource img {
	width: 1.5em !important;
	height: 1.5em !important;
}
