#rule {
	font-size: 110%;
	height: 100%;
	padding-bottom: 10%;
}

#rule pre {
	padding: 1em 2em;
}

.rule-type {
	padding: 0 .5em;
	font-size: 75%;
	margin-right: 1em;
	display: inline-block;
	width: 7em;
	text-align: center;
	color: #4B4B66;
	border: 2px solid #4B4B66;
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
}

#rule h1 {
	margin-bottom: 1%;
	color: #4B4B66;
	display: flex;
	align-items: center;
}

#rule h2 {
	font-size: 140%;
	font-weight: 400;
	border-bottom: 1px solid #4B4B66;
	display: inline-block;
	padding-right: .6em;
}

#rule ul {
	margin: 0;
}

#rule .rule-type {
	font-size: 35%;
}

#rule-meta {
	display: flex;
	justify-content: flex-start;
	min-height: 5em;
	margin-left: 1%;
}

#rule-meta > div {
	margin-right: 5%;
}

#meta-paragraph {
	/*background: rgba(51, 51, 80, 0.03);*/
	/*margin: 0 3em;*/
	padding: 1em;
	width: 40%;

}
#meta-paragraph p {
	/*border-left: 3px solid #333350;*/
	padding-left: 1em;
	color: #444;
	font-size: 95%;
}

#destinataire a {
	text-decoration: none;
	color: inherit;
}
#destinataire img {
	width: 130px;
	display: block;
}
#destinataireName {
	width: 130px;
	text-align: center;
	font-size: 70%;
	line-height: 1em;
	margin-top: .3em;
}
#destinataire #calligraphy {
	color: #5B5B73;
	border: 2px solid #5B5B73;
	border-radius: .4em;
	width: 130px;
	line-height: 2em;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

#rule-rules {
	display: inline-flex;
	justify-content: start;
	min-height: 5em;
}

#rule-rules .situationValue {
	display: none;
	padding-left: 1em;
	font-weight: 700;
	color: #031bd6;
}

#rule-rules.showValues .situationValue {
	display: inline;
}

#algorithm {
	margin-top: 3em;
	margin-right: 10em;
}
.dictionaryPanelWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.86);
	z-index: 1;
}
.dictionaryPanel {
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 33%;
	border: 2px solid #333350;
	margin: 1em;
	padding: 0em 1.5em;
	min-height: 6em;
	border-radius: .3em;
}
.dictionaryPanel h3 {
	color: #333350
}
.dictionaryPanel blockquote {
	font-style: italic;
	border-left: 4px solid #eee;
	padding-left: 1em;
	margin-left: 0;
}
.dictionaryPanel blockquote p {
	color: #666;
}
.dictionaryPanel code {
	border: 1px solid #aaa;
	padding: .05em .3em;
	border-radius: .3em;
}

#rule-rules section {
	margin: 1em 0 1em 3em;
	font-weight: 500;
	color: #444
}
#rule-rules section > div {
	font-size: 90%;
}
.node {
	padding-left: 1em;
	color: #4B4B66
}

.mecanism > .nodeHead {
	margin-bottom: 1em;
}

.mecanism > .nodeHead .name {
	padding: .05em 1em;
	background: #34495e;
	color: white;
	font-weight: 600;
	border-radius: .4em;
}
[data-term-definition] {
	cursor: pointer;
}
[data-term-definition]:hover {
	opacity: .8
}
.ruleProp > .nodeHead .name {
	background: #9b59b6;
}
.mecanism li {
}
.mecanism .properties, .mecanism.list ul {
	margin-top: 0;
	padding-left: 1em;
	list-style-type: none;
	border-left: 1px dashed #ccc;
}
.mecanism .properties .key {
	font-weight: 600;
	display: inline-block;
	margin-bottom: .6em;
	margin-right: 0.8em;
}

.multiplication > .nodeHead .name {
	background: #2ecc71;
}

.multiplication li .key {
	margin-right: .6em;
}

.mecanism.list > ul {
	list-style-type: disc;
}
.mecanism.list > ul > li {
	margin-left: .8em;
	padding-left: .3em;
}

.maximum .description {
	font-style: italic;
	font-weight: 600;
	margin-bottom: .4em;
	margin-left: 1em;
}

.mecanism.conditions > .nodeHead .name {
	background: #3498db
}

.condition {
	margin-bottom: .6em;
}

.node.inlineExpression {
	padding-left: 0;
	display: inline;
}
.inlineExpression .nodeContent {
	/*border-bottom: 1px solid rgba(51, 51, 80, 0.25);*/
	/*border-right: 1px solid rgba(51, 51, 80, 0.25);*/
	/*padding: .5em .6em;*/
	/*border-radius: .3em;*/
	display: flex;

}
.nodeHead {
	display: inline-block;
}

.properties .variable.node {
	display: inline-block;
}

.variable.leaf {
	padding-left: 1em;
	display: block;
}

.variable.explanation {
	padding-left: 0;
}
.variable.explanation .nodeContent {
	padding-top: .6em;
}
.variable.explanation .formula .mecanism {
	border-left: 1px dashed #9b59b6;
}

.leaf .situationValue {
	text-align: center;
}

#rule-rules .situationValue.oui {
	color: #5ab738;
}
#rule-rules .situationValue.non {
	color: #f22c40;
}

.variable .name {
	color: #5B5B73;
	text-align: center;
	margin-top: 1em;
	padding: .05em .6em;
	line-height: 1.8em;
	border-radius: .4em;
	font-weight: 600;
	font-size: 90%;
	border: 1px solid rgba(51, 51, 80, 0.25);
	white-space: nowrap
}


.percentage .name {
	font-size: 110%;
	font-weight: 600;
}

.operator {
	margin: .1em .6em;
	font-size: 150%;
	line-height: 80%;
	font-weight: 600;
}

.json {
	font-size: 60%;
}

.barème > .nodeHead .name {
	background: #1abc9c;
}

.barème .key {
	color: #1abc9c
}

.barème table {
	margin-top: 1em;
	width: 80%;
	text-align: left;
}
.barème table td {
	padding: .1em .4em;
	/*border: 1px solid #aaa;*/
}
.barème table tr:nth-child(2n) {
	background: #f1f1f1
}

.composantes > .nodeHead .name {
	background: #3498db;
}

.composantes > ul > li {
	display: inline-block;
}
.composantes .composante {
	width: 45%;
}
.composantes .composante .content {
	border-top: 1px solid #3498db;
	padding: 1em;
	margin-right: 2em;
}
.composantes .composanteAttributes {
	list-style-type: none;
	padding: .2em;
	color: #3498db;
}
.composantes .composanteAttributes span:last-child {
	font-weight: 600;
}

.composantes .composantesSymbol {
	font-size: 160%;
	color: #3498db;
}



#rule-calc {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
