.ui__.card {
	box-shadow: 0 1px 3px rgba(41, 117, 209, 0.12),
		0 1px 2px rgba(41, 117, 209, 0.24);
	padding-left: 1rem;
	padding-right: 1rem;
	background: white;
	will-change: transform;
	user-select: text;
	border-radius: 0.3rem;
	transition: box-shadow 0.2s;
}

.ui__.card.disabled .ui__.button.simple,
.ui__.card.disabled a {
	/* opacity: 0.7; */
	color: var(--grayColor);
}

.ui__.card.plain {
	color: white;
	color: var(--textColor);
	background: linear-gradient(60deg, #215da6 0%, #297da1 100%);
	background: linear-gradient(60deg, var(--darkColor) -100%, var(--color) 100%);
}
.ui__.card.plain h1,
.ui__.card.plain h2,
.ui__.card.plain h3,
.ui__.card.plain h4,
.ui__.card.plain h5,
.ui__.card.plain h6 {
	color: white;
	color: var(--textColor);
}

.ui__.card.light {
	background: linear-gradient(
		60deg,
		var(--lighterColor) -100%,
		var(--lightestColor) 100%
	);
}

.ui__.card.disabled img {
	filter: saturate(0);
}

.ui__.card.disabled .ui__.card.plain,
.ui__.card.disabled.plain {
	background: linear-gradient(
		60deg,
		var(--grayColor) -40%,
		var(--grayColor) 70%
	);
	opacity: 0.7;
}

.ui__.label a,
.ui__.card.plain a,
.ui__.label .link-button,
.ui__.card.plain .link-button {
	color: white !important;
}
.ui__.card.plain a:hover {
	text-decoration: underline;
}
.ui__.card.colored {
	box-shadow: 0 1px 3px 0 var(--color), 0 0 0 1px var(--color);
}
.ui__.card.plain small,
.ui__.card.plain .notice {
	color: rgba(255, 255, 255, 0.8);
}

.ui__.card.plain .targetInput {
	border-color: white;
	border-color: var(--textColor);
	color: white;
	color: var(--textColor);
}

.ui__.interactive.card {
	user-select: text;
	-webkit-user-drag: none;
}
.ui__.interactive.card:hover {
	box-shadow: 0px 2px 4px -1px rgba(41, 117, 209, 0.2),
		0px 4px 5px 0px rgba(41, 117, 209, 0.14),
		0px 1px 10px 0px rgba(41, 117, 209, 0.12);
	opacity: inherit !important;
}
.ui__.ui__.interactive.card:active {
	animation: push-button-down 0.1s ease-out alternate-reverse 2;
}

.ui__.card.box {
	min-width: 14.333rem;
	flex: 0.3;
	max-width: 17rem;
	display: flex;
	flex-direction: column;
	text-align: center;

	margin: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-decoration: none;
	align-items: center;
	color: inherit;
	font-size: inherit !important;
}
.ui__.card.box .ui__.box-icon > img {
	margin: 0.8rem !important;
	transform: scale(1.5) translateY(0.1rem);
}
.ui__.card.box:active .ui__.box-icon > img {
	transform: scale(1.5) translateY(0.1rem);
}
.ui__.card.box .ui__.big.box-icon > img {
	transform: scale(2.3) translateY(0.2rem);
}

.ui__.card.box.inverted-colors {
	background: #4e575b;
}

.ui__.card.box.inverted-colors * {
	color: #f3f3f3;
}

@media (max-width: 500px) {
	.ui__.card.box {
		max-width: 100%;
		flex: 1;
	}
}
