.info-bulle__interrogation-mark {
	color: var(--color);
	border: 1px solid var(--color);
	display: inline-block;
	font-weight: bold;
	user-select: none;
	font-size: 75%;
	width: 2.8ex;
	line-height: initial;
	border-radius: 50%;
	/* margin-right: 0.2em;
	margin-bottom: 0.5em; */
	padding: 1px;
	text-align: center;
	text-decoration: none;
}
.info-bulle__interrogation-mark:focus {
	outline: 1px dotted var(--darkColor);
}
.info-bulle__text {
	text-align: left;
	position: absolute;
	line-height: 1.2rem !important;
	z-index: -1;
	/* border: 1px solid var(--lighterColor); */
	padding: 0.4rem;
	min-width: 10rem;
	font-weight: normal;
	display: block;
	border-radius: 3px;
	font-family: 'Roboto';
	background-color: white;
	transition: opacity 0.2s, transform 0.2s;
	opacity: 0;
	box-shadow: 0px 2px 4px -1px hsla(213, 67%, 49%, 0.2),
		0px 4px 5px 0px hsla(213, 67%, 49%, 0.14),
		0px 1px 10px 0px hsla(213, 67%, 49%, 0.12);
	pointer-events: none;
	transform: translate(2.8ex, -5px);
}

.info-bulle__interrogation-mark:hover + .info-bulle__text,
.info-bulle__interrogation-mark:focus + .info-bulle__text {
	transform: translate(2.8ex, 1px);
	z-index: 1;
	opacity: 1;
}
.info-bulle__interrogation-mark:focus {
	position: relative;
}
