button {
	font-weight: normal;
}

ul {
	margin: 0 0 0.6rem;
}

ul {
	list-style: '› ';
	padding-left: 0.8rem;
}

ol {
	margin: 0;
	padding-left: 1.1rem;
}

li {
	padding: 0.2em 0;
}

p img {
	max-width: 100%;
}

strong,
b {
	font-weight: bold;
}

textarea {
	font-family: inherit;
}
