.landing__banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.landing__banner h1 {
	color: inherit;
}

.landing__banner header {
	min-height: 15rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: linear-gradient(
		80deg,
		rgba(39, 69, 195, 0.87) 0%,
		rgba(41, 117, 209, 1) 50%,
		rgba(39, 69, 195, 0.87) 100%,
		rgba(41, 117, 209, 1) 150%
	);
	background-size: 200%;
	color: white;
	animation: move-background 30s linear infinite;
	padding: 1rem;
	padding-bottom: 5rem;
}
@keyframes move-background {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 200%;
	}
}
.landing__header {
	height: 3.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	background: white;
	flex-shrink: 0;
	padding-bottom: 1rem;
}

.landing__header img {
	height: 100%;
	margin: 0 1rem;
	width: auto;
}

.landing__banner__svg {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 3rem;
}

.landing__choice {
	display: block;
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid;
	position: relative;
	border-color: rgba(41, 117, 209);
	opacity: 0.8 !important;
	border-radius: 0.3rem;
	text-decoration: none;
	font-size: 1.2rem;
	transition: opacity, box-shadow 0.2s;
}
.landing__choice--soon {
	border-color: lightgray;
	color: gray;
	position: relative;
	opacity: 0.8;
	pointer-events: none;
	cursor: default;
}
.landing__choice--soon img {
	filter: saturate(0%);
}
.landing__choice-label {
	position: absolute;
	top: 0;
	font-size: 66%;
	right: 0;
	padding: 0.2rem 0.4rem;
	color: white;
	background: gray;
	opacity: 0.8;
	border-bottom-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}
.landing__choice img {
	margin-right: 0.5rem !important;
	transition: transform 0.2s;
}

.landing__choice:hover,
.landing__choice:focus {
	opacity: 1 !important;
	box-shadow: 0 1px 3px rgba(41, 117, 209, 0.12),
		0 1px 2px rgba(41, 117, 209, 0.24);
}
.landing__choice:hover img,
.landing__choice:focus img {
	transform: scale(1.5);
}
@media (min-width: 600px) {
	.landing__choice:hover::after,
	.landing__choice:focus::after {
		content: '›';
		position: absolute;
		right: 40px;
	}
}
