.landing__banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.landing__banner h1 {
	color: inherit;
}

.landing__banner .lead {
	margin: 0.6em;
	color: #1e266d;
}
.landing__banner header {
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1rem;
}
.landing__header {
	height: 2.8rem;
	width: 100%;
	display: flex;
	justify-content: center;
	background: white;
	flex-shrink: 0;
	padding-bottom: 1rem;
}

.landing__header img {
	height: 100%;
	margin: 0 1rem;
	width: auto;
}

.landing__banner__svg {
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 3rem;
}

.ui__ .button-choice {
	background: #1e266d;
	color: white;
	border-left: 0.6em solid #1091fc;
}
