.barème > .nodeHead .name {
	background: #1abc9c;
}

.barème .key {
	color: #1abc9c;
}
.mecanism.barème {
	border-color: #1abc9c;
}

.barème table {
	margin: 1em 0;
	width: 100%;
	text-align: left;
	font-weight: 400;
}
.barème table td {
	padding: 0.1em 0.4em;
}
.barème table th {
	font-weight: 600;
}
.barème table th:first-letter {
	text-transform: uppercase;
}
.barème .tranche:nth-child(2n) {
	background: #f1f1f1;
}
.barème .tranche.activated {
	background: yellow !important ;
}
