/* mécanisme somme */
.somme table {
	width: 100%;
	border-collapse: collapse;
}
.somme td.blank {
	background: white;
	border: 1px solid white;
	border-right: 1px solid rgba(51, 51, 80, 0.15);
}
.somme tr {
	border: 1px solid rgba(51, 51, 80, 0.15);
	text-align: right;
}
.somme tr:hover {
	background: rgba(51, 51, 80, 0.02);
}
.somme tr .element {
	text-align: left;
	padding: 0.1em 0.6em;
}
.somme tr .value span {
	text-align: right;
}
.somme .leaf .name {
	border: none;
}
.somme .operator + .element {
	border-left: none;
}

.mecanism-somme__row > .element > * > .nodeContent + * {
	display: none;
}
.mecanism-somme__row > .element > * > .nodeContent {
	display: flex;
	align-items: center;
}
.mecanism-somme__row > .element > * > .nodeContent > .operator:first-child {
	margin-left: 0;
}

#rule-rules .somme table .leaf .situationValue {
	display: none;
}

#rule-rules .somme table .situationValue {
	padding: 0 1em;
}

.somme .nested {
	padding: 0;
	border: none;
}
.somme .nested tr:first-child {
	border-top: none;
}
.somme .noNest {
	border-bottom: none;
}
.somme > table {
	border-bottom: 1px solid rgba(51, 51, 80, 0.15);
}

#sommeBase {
	text-align: center;
}

.detailsRow {
	background: rgba(51, 51, 80, 0.02);
}

.mecanism-somme__table {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}

.mecanism-somme__row {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	border-top: 1px solid rgba(51, 51, 80, 0.15);
}
.mecanism-somme__row:first-child {
	border-top: none;
}

.mecanism-somme__row .element {
	flex: 1;
	max-width: 100%;
	display: flex;
	align-items: baseline;
	padding: 0.1em 0.4em;
	padding-top: 0.2em;
	overflow: hidden;
}
.mecanism-somme__row .element .unfoldIndication {
	text-transform: capitalize;
	flex: 1;
	margin-left: 0.6rem;
	text-align: left;
}

.mecanism-somme__row .value {
	padding: 0.1em 0.4em;
}
.mecanism-somme__row .operator {
	align-self: center;
}

.mecanism-somme__row .element .variable,
.mecanism-somme__row .element .nodeHead {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.mecanism-somme__row .element .situationValue {
	display: none !important;
}

/* Nested Mecanism */
.mecanism-somme__row + .nested {
	padding-left: 2em;
	border-top: 1px dashed rgba(51, 51, 80, 0.15);
}
