.mecanism.variations > ol {
	margin-left: 1rem;
	margin-top: 1rem;
}
.variations > ol > li {
	margin-bottom: 0.3em;
}
.variations > ol > li span.consequenceType {
	margin: 0 0.6em 0.6em 0;
}

.variations > ol > li span.consequenceType.satisfied {
	background: yellow;
}
