#home {
	height: 400px;
	/*display:flex;
	justify-content: center;
	align-items: center;*/
}

#brand {
	position: relative;
	color: #333350;
	width: 120px;
	margin: 4em auto;
}

#brand img {
	display: block;
	width: 120px;
	margin-bottom: .6em;
}

#brand #name {
	font-size: 180%;
	line-height: .9em;
}
#brand #version {
	font-style: italic;
	font-size: 90%;
	position: absolute;
	bottom: 0;
	right: 0;
}

#description p {
	font-size: 130%;
	width: 40em;
	margin: 0 auto;
	font-weight: 300;
}

#description .insist {
	color: #333350;
	font-weight: 400
}

#aboutLink {
	font-style: italic;
	color: inherit;
	opacity: .45;
	font-size: 80%;
	float: right;
}

#roads {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 4%;
}
#roads > section {
	width: 45%;
	padding: 1%;
	min-width: 20em;
}
#roads > section:last-child {
	border-left: 1px solid #eee;
}
#roads h1 {
	margin: 0 auto;
	display: block;
  font-size: 200%;
	font-weight: 600;
	color: #333350;
	text-align: center;
	margin-bottom: 6%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#roads h1 i {
	margin-right: 1em;
	font-size: 160%;
}

#exploration input {
	border: 1px solid #333350;
	border-radius: 3.8px;
	padding: .8em 2em;
	font-size: 110%;
	box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1);
	margin: 4em auto;
	display: block;
	width: 40%;
}

#search-results ul {
	width: 65%;
	margin: 0 auto;
	margin-bottom: 5em;
	list-style: none;
}

#search-results li {
	margin: .5em 0;
}

#search-results a {
	font-size: 120%;
	color: #333350;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px solid #333350;
	padding: 0 .3em 0 .2em;
	text-transform: capitalize;
}

#simulation ul {
	list-style: none;
	width: 65%;
	margin: 4em auto;
}
#simulation li {
	font-size: 120%;
	margin-bottom: 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#simulation .simulateur {
	font-size: 110%;
	border-bottom: 1px solid #aaa
}

#simulation button {
	background: #4A89DC;
	color: white;
	padding: .6em 1.2em;
	font-size: 100%;
	margin: 0 1em;
	width: 12em;
	border: none;
	box-shadow: 0px 9px 14px 0px rgba(0, 0, 0, 0.1)
}
#simulation button.disabled {
	border: 1px solid #4A89DC;
	background: white;
	color: #4A89DC;
	opacity: .6;
	cursor: default;
	box-shadow: none;
}
