#home {
	height: 400px;
	/*display:flex;
	justify-content: center;
	align-items: center;*/
}

#brand {
	position: relative;
	color: #333350;
	width: 120px;
	margin: 4em auto;
}

#brand img {
	display: block;
	width: 120px;
	margin-bottom: .6em;
}

#brand #name {
	font-size: 180%;
	line-height: .9em;
}
#brand #version {
	font-style: italic;
	font-size: 90%;
	position: absolute;
	bottom: 0;
	right: 0;
}


#search {
	width: 400px;
	margin: 4em auto;
}

#search input {
	font-weight: 300;
	text-align: center;
	font-size: 120%;
	width: 100%;
	border: none;
	border-bottom: 1px solid #333350
}

#search-results ul {
	width: 30%;
	margin: 0 auto;
	list-style: none;
}

#search-results li {
	margin: .5em 0;
}

#search-results .rule-type {
	border: 1px solid lightGrey;
	padding: 0 .5em;
	font-size: 75%;
	margin-right: 1em;
}
