body {
	font-family: 'Open Sans';
	margin: 0;
	height: 100%;
}

#content {
	margin-top: 1.5em;
}

#site-logo {
	width: 60px;
	position: fixed;
  left: 1%;
  top: 4.5%;
}

a {
	color: inherit;
}

h1 {
	margin: 6% 3% 0;
	font-size: 250%;
	font-weight: 400;
}

#warning {
	padding: .2em 0;
	background: #8a1c1c;
	color: white;
	font-style: italic;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1000000;
}
#main {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#ninetyPercent {
	width: 100%;
	flex-grow: 1;
	overflow: auto;
}

#page-type {
	display: inline-block;
	position: fixed;
	right: 3%;
	top: 9%;
	opacity: .4;
	color: #333350;
  opacity: 0.8;
}

#page-type span {
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
}

#page-type i {
	display: block;
	font-size: 700%;
}
