html {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	margin: 0;
	height: 100%;
	font-size: calc(8px + 0.35vw);
	background: white;
}
#js,
#js > div {
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	margin: 0 0.1em;
	font-weight: 400;
}

#page-type {
	display: inline-block;
	position: fixed;
	right: 3%;
	top: 9%;
	opacity: 0.4;
	color: #333350;
	opacity: 0.8;
}

#page-type span {
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
}
