html {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	margin: 0;
	height: 100%;
	font-size: calc(8px + .35vw)
}
#js, #js>div {
	height: 100%
}


#header h1 {
	margin-top: 3em;
	text-align: center;
	font-size: 300%
}

#header #marianne {
	position: absolute;
	left: 2em;
	top: 2em;
	width: 8em;
}


#content {
	margin-top: 1.5em;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	margin: 0 .1em;
	font-size: 250%;
	font-weight: 400;
}


#page-type {
	display: inline-block;
	position: fixed;
	right: 3%;
	top: 9%;
	opacity: .4;
	color: #333350;
  opacity: 0.8;
}

#page-type span {
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
}
