body {
	font-family: 'Open Sans';
}

#site-logo {
	position: fixed;
	left: 1em;
	top: 1.5em;
}

#warning {
	padding: .2em 0;
	background: #8a1c1c;
	color: white;
	font-style: italic;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
