.steps-header {
	margin: 0.6rem 0;
}
.steps-header nav {
	max-width: 100%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	background: white;
}

.steps-header a {
	display: flex;
	padding-right: 0.8rem;
	text-decoration: none;
	flex-shrink: 0;
	text-align: center;
	align-items: center;
}

.steps-header a:focus {
	outline: none;
}

.steps-header a:last-child {
	margin-right: 0;
}

.steps-header a img {
	height: 3rem;
}
.steps-header a {
	transition: transform 0.2s, border-bottom 0.2s;
	will-change: transform;
	border-bottom: 2px solid;
}

.steps-header a:hover {
	/* padding-bottom: 3px; */
	transform: translateY(-3px);
}
.steps-header a.active {
	font-weight: 500;
}
.steps-header a:not(.active) {
	border-color: transparent;
}
