.payslip__salarySection {
	display: grid;
	grid-template-columns: auto 8em;
	grid-gap: 0.3em 0em;
}
.payslip__salaryTitle {
	grid-column-end: span 2;
}

.payslip__cotisationsSection {
	display: grid;
	grid-template-columns: auto 8em 8em;
	grid-gap: 0.3em 0em;
}

.payslip__salarySection > a,
.payslip__salarySection > a + *,
.payslip__cotisationsSection > a,
.payslip__cotisationsSection > a + *,
.payslip__cotisationsSection > a + * + * {
	background-color: aliceblue;
}

.payslip__container a {
	color: blue;
	font-weight: 600;
}

.payslip__container a:hover {
	color: rgb(0, 0, 150) !important;
}

.payslip__container h4 {
	border-bottom: 1px solid black;
	margin: 0;
	margin-top: 1.5em;
	padding-bottom: 0.5em;
	align-self: end;
	margin-bottom: 0.5em;
}

.payslip__total {
	font-weight: bold;
	margin-top: 1em;
	background-color: transparent !important;
}

.payslip__container *:not(.payslip__montant) {
	padding-left: 0.2em;
}

.payslip__container h5 {
	margin: 0;
	font-style: italic;
}
.payslip__container h5:not(:first-of-type) {
	margin-top: 0.6em;
}
.payslip__container *::first-letter {
	text-transform: capitalize;
}

.payslip__cotisationsSection h4:not(:first-child) {
	text-align: right;
}

.payslip__cotisationTitle {
	grid-column-end: span 3;
	font-size: inherit;
	font-weight: normal;
}

.payslip__montant {
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 0.2em;
}

.payslip__salaireNet {
	font-weight: bold;
}
