#about section {
	margin-bottom: 3em;
}
#about a.button {
	margin: 2em auto;
	width: 20em;
	display: block;
	text-align: center;
}

#about iframe {
	width: 100%;
	border: none;
	height: auto;
	background: yellow;
	height: 8em;
	border-radius: 1em;
}

#about i {
	font-size: 1.6em;
	margin-left: 0.2em;
	vertical-align: middle;
}
