.ui__.banner {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}

.ui__.banner img {
	margin-right: 0.6rem !important;
	font-size: 1.4rem;
	margin-bottom: 0.6rem !important;
}

.ui__.banner.news {
	justify-content: space-between;
	background: var(--lightestColor);
	font-size: 0.9em;
	width: auto;
	max-width: 450px;
	margin: auto;
	padding: 4px 15px 0px;
	border-radius: 15px;
}

.ui__.banner.news img {
	vertical-align: middle !important;
	top: 4px;
	position: relative;
}

.ui__.close-button {
	cursor: pointer;
	font-size: 1.3em;
	margin-left: 1rem;
}

.ui__.close-button:hover {
	color: black;
}
