#objectifSelection .targets {
	list-style: none;
	padding: 0;
	margin: -1rem 0;
}

#objectifSelection .targets > li:first-child {
	border-top: none;
}

#objectifSelection .targets li.small-target {
	font-size: 85%;
}
#objectifSelection .targets li.small-target .optionTitle a {
	font-weight: normal;
}

#objectifSelection .targets li.small-target {
	border-top: none;
	padding: 0.4rem 1rem;
}

#objectifSelection .targets li.small-target .targetInput,
#objectifSelection .targets li.small-target .editableTarget {
	border-width: 1px;
	border-radius: 0.2rem;
	padding-top: 0;
	padding-bottom: 0;
}

#objectifSelection .targets > li {
	border-top: 1px dashed rgba(255, 255, 255, 0.6);
	padding: 0.8rem 1rem;
	margin-left: -1rem;
	margin-right: -1rem;
}
.light #objectifSelection .targets > li {
	border-top: 1px dashed var(--darkColor);
}
.light #objectifSelection .targets > li.small-target,
.light #objectifSelection .targets > li:not(.small-target):first-of-type {
	border-top: none;
}

#objectifSelection .targets > li .main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#objectifSelection .targets > li .guide-lecture {
	flex: 1;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
	margin-left: 1rem;
}

#objectifSelection li .header {
	display: flex;
	align-items: center;
}
#objectifSelection li:not(.small-target) .header {
	flex: 1;
}
#objectifSelection .targets > li.small-target .header p {
	display: none;
}
#objectifSelection .optionTitle + p {
	margin-top: 0.2rem;
	margin-bottom: 0;
}
#objectifSelection .optionTitle a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
#objectifSelection .small-target .targetInputOrValue a {
	text-decoration: none;
}
#objectifSelection .optionTitle a:hover,
#objectifSelection .small-target .targetInputOrValue a:hover,
#objectifSelection .aidesGlimpse a:hover {
	text-decoration: underline;
}

@media (min-width: 660px) {
	#objectifSelection {
		font-size: 115%;
	}
}

@media (hover: none) {
	#objectifSelection .optionTitle a,
	#objectifSelection .small-target .targetInputOrValue a {
		text-decoration: underline;
	}
}

#objectifSelection #labelNew {
	background: #e2011c; /* Couleur de la marianne */
	border-radius: 0.3em;
	padding: 0 0.3em;
}

#objectifSelection .targetInputOrValue {
	font-size: 115%;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 0.25rem;
}

#objectifSelection .aidesGlimpse {
	font-size: 70%;
	display: flex;
}
#objectifSelection .aidesGlimpse a {
	display: inline-block;
	text-decoration: none;
}

#objectifSelection input {
	margin: 2.7px 0;
}

#objectifSelection .targetInput {
	width: 5.5em;
	max-width: 7.5em;
	text-align: right;
	background: rgba(255, 255, 255, 0.2);
	padding: 0.2rem 0.6rem;
	border-radius: 0.3rem;
	border: 1px solid;
	font-size: inherit;
}

#objectifSelection .targetInput.focused {
	box-shadow: 0 0 0px 2px white;
}

.light #objectifSelection .targetInput {
	color: var(--darkColor);
	border-color: var(--darkColor);
	background: white;
}
.light #objectifSelection .targetInput.focused {
	box-shadow: 0 0 0px 2px var(--darkColor);
}
.light #objectifSelection .optionTitle {
	color: var(--darkColor);
}

#objectifSelection .editableTarget {
	max-width: 7.5em;
	width: 5.5em;

	display: inline-block;
	transition: all 0.2s;
	text-align: right;
	padding: 0.2rem 0.6rem;

	background: transparent;
	border: 1px dashed rgba(255, 255, 255, 0.5);
	border-radius: 0.3rem;

	font-size: inherit;
}

#objectifSelection .unit {
	margin-left: 0.4em;
	font-size: 110%;
	vertical-align: middle;
}

/* Autre idée pour styler les checkboxes https://codepen.io/KenanYusuf/pen/PZKEKd */
