.ais-InfiniteHits-list > .ais-InfiniteHits-item {
	margin-top: 0.7em;
	padding: 0.5em;
}

.ais-InfiniteHits-list > .ais-InfiniteHits-item > .hit-content {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.ais-InfiniteHits-list
	> .ais-InfiniteHits-item
	> .hit-content
	> .ais-Highlight {
	display: block;
	flex-grow: 1;
}
