.ais-Hits-list > .ais-Hits-item {
	margin-top: 0.7em;
	padding: 0.5em;
}

.ais-Hits-list > .ais-Hits-item > .hit-content {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.ais-Hits-list > .ais-Hits-item > .hit-content > .ais-Highlight {
	display: block;
	flex-grow: 1;
}
