#targetSelection .targets {
	list-style: none;
	padding: 0;
	margin: -1rem 0;
}

#targetSelection .targets > li:first-child {
	border-top: none;
}

#targetSelection .targets li.small-target {
	font-size: 85%;
}
#targetSelection .targets li.small-target .optionTitle a {
	font-weight: normal;
}

#targetSelection .targets li.small-target {
	border-top: none;
	padding: 0.4rem 1rem;
}

#targetSelection .targets li.small-target .targetInput,
#targetSelection .targets li.small-target .editableTarget {
	border-width: 1px;
	border-radius: 0.2rem;
	padding-top: 0;
	padding-bottom: 0;
}

#targetSelection .targets > li {
	border-top: 1px dashed #ffffff99;
	padding: 0.8rem 1rem;
	margin-left: -1rem;
	margin-right: -1rem;
}
.light #targetSelection .targets > li {
	border-top: 1px dashed var(--darkColor);
}
.light #targetSelection .targets > li.small-target,
.light #targetSelection .targets > li:not(.small-target):first-of-type {
	border-top: none;
}

#targetSelection .targets > li .main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#targetSelection .targets > li .guide-lecture {
	flex: 1;
	border-bottom: 1px dashed #ffffff40;
	margin-left: 1rem;
}

#targetSelection li .header {
	display: flex;
	align-items: center;
}
#targetSelection li:not(.small-target) .header {
	flex: 1;
}
#targetSelection .targets > li.small-target .header p {
	display: none;
}
#targetSelection .optionTitle + p {
	margin-top: 0.2rem;
	margin-bottom: 0;
}
#targetSelection .optionTitle a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
#targetSelection .small-target .targetInputOrValue a {
	text-decoration: none;
}
#targetSelection .optionTitle a:hover,
#targetSelection .small-target .targetInputOrValue a:hover,
#targetSelection .aidesGlimpse a:hover {
	text-decoration: underline;
}

@media (min-width: 660px) {
	#targetSelection {
		font-size: 115%;
	}
}

@media (hover: none) {
	#targetSelection .optionTitle a,
	#targetSelection .small-target .targetInputOrValue a {
		text-decoration: underline;
	}
}

#targetSelection #labelNew {
	background: #e2011c; /* Couleur de la marianne */
	border-radius: 0.3em;
	padding: 0 0.3em;
}

#targetSelection .targetInputOrValue {
	font-size: 115%;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#targetSelection .aidesGlimpse {
	font-size: 70%;
	display: flex;
}
#targetSelection .aidesGlimpse a {
	display: inline-block;
	text-decoration: none;
}

#targetSelection input {
	margin: 2.7px 0;
}

#targetSelection .targetInput {
	width: 5.5em;
	max-width: 7.5em;
	text-align: right;
	background: #ffffff33;
	padding: 0.2rem 0.6rem;
	border-radius: 0.3rem;
	border: 1px solid;
	font-size: inherit;
}

#targetSelection .targetInput.focused {
	box-shadow: 0 0 0px 2px white;
}

.light #targetSelection .targetInput {
	color: var(--darkColor);
	border-color: var(--darkColor);
	background: white;
}
.light #targetSelection .targetInput.focused {
	box-shadow: 0 0 0px 2px var(--darkColor);
}
.light #targetSelection .optionTitle {
	color: var(--darkColor);
}

#targetSelection .editableTarget {
	max-width: 7.5em;
	width: 5.5em;

	display: inline-block;
	transition: all 0.2s;
	text-align: right;
	padding: 0.2rem 0.6rem;

	background: transparent;
	border: 1px dashed #ffffff80;
	border-radius: 0.3rem;

	font-size: inherit;
}

#targetSelection .unit {
	margin-left: 0.4em;
	font-size: 110%;
	vertical-align: middle;
}

/* Autre idée pour styler les checkboxes https://codepen.io/KenanYusuf/pen/PZKEKd */
