.footer {
	margin-top: 5rem;
}
.footer img {
	height: 2.5rem;
}

#footerIcons {
	display: flex;
	margin: 2rem 0;
	justify-content: space-around;
}
#footerIcons a::after {
	display: none;
}
.footer__newsletterContainer {
	display: flex;

	justify-content: center;
}

.footer__separator {
	margin: 2rem 0;
	border-top: 1px solid var(--lighterColour);
	border-bottom: none;
}

@media (max-width: 800px) {
	.footer__newsletterContainer {
		flex-wrap: wrap;
	}
	.footer__registerContainer {
		margin-left: 0rem;
		margin-top: 1rem;
	}
}

.footer__registerContainer {
	display: flex;
	margin-left: 1rem;
}
