
section#integrations a {
	text-decoration: none;
}

#integrationList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#integrations article {
	vertical-align: top;
	width: 15em;
	padding: 0 2%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	margin-bottom: 2em;
}

#integrations article img {
	width: 8em;
	height: 8em;
	border-radius: 8em;
	border: 3px solid #3c4963;
}

#integrations .question-mark {
	display: inline-block;
	font-size: 6.5em;
	border: 1px solid white;
	border-radius: 10em;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
}

#integrations {
	padding-bottom: 0;
	border-bottom: none;
}

#contribution .block-wrap {
	margin-top: 3em;
	width: 100%;
}

#contribution article {
	padding: 0 5% 2em;
	margin-bottom: 0;
	font-size: 90%;
}

#contribution article h2 {
	font-weight: 600;
	color: #3c4963;
}

#contribution article p {
	display: inline;
}

#contribution article img {
	width: 8em;
	border-radius: 0;
}
