.ui__.inverted-button:active,
.ui__.button:active {
	animation: push-button-down 0.1s ease-out alternate-reverse 2;
}

.ui__.button,
.ui__.inverted-button,
.ui__.skip-button {
	font-size: 1.1rem;
	padding: 0.8rem 1.6rem;
	text-decoration: none;
	border: 1px solid;
	/* outline: none; */
	display: inline-block;
	border-radius: 0.6rem;
	transition: all 0.15s;
	margin: 0.8rem 0;
	margin-right: 1.6em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.ui__.button {
	border-color: rgb(41, 117, 209);
	color: rgb(41, 117, 209);
	background: linear-gradient(
		45deg,
		rgba(39, 69, 195, 0.87) 5%,
		rgba(41, 117, 209, 1) 25%,
		rgba(200, 40, 120, 0.52) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background-size: 250%;
	background-position-x: 99%;
}
.ui__.button:hover,
.ui__.button.selected {
	background-position-x: 0%;
	border-color: white;
	color: white;
}
.ui__.button.cta,
.ui__.inverted-button.cta {
	margin: 3em auto;
	display: inline-block;
	align-self: center;
	font-size: 120%;
}
.ui__.inverted-button {
	color: white;
	border-color: white;
}
.ui__.inverted-button:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: rgb(41, 117, 209);
	border-color: rgb(41, 117, 209);
}

.ui__.link-button {
	border: none;
	display: inline-block;
	font-size: inherit;
	padding: none;
	text-decoration: underline;
	color: rgb(41, 117, 209);
}
.ui__.link-button:hover {
	opacity: 0.8;
}

.ui__.button_next {
	color: rgb(41, 117, 209);
}

.ui__.skip-button {
	opacity: 0.6;
	border-color: black;
	color: black;
}
.ui__.skip-button:hover {
	opacity: 0.8;
	transform: translateX(3px);
}

.ui__.skip-button:active {
	animation: push-button-right 0.1s ease-out alternate-reverse 2;
}

.ui__.small.button {
	font-size: 80%;
	padding: 0.4rem 0.8rem;
	border-radius: 0.3rem;
}

@keyframes push-button-down {
	from {
		transform: translateY(3px);
	}
	to {
		transform: translate3d(0);
	}
}

@keyframes push-button-right {
	from {
		transform: translate3d(5px, 0, 0);
	}
	to {
		transform: translate3d(3px, 0, 0);
	}
}
