
/* mécanisme somme */
.somme table {
	width: 100%;
	border-collapse: collapse;
}
.somme td.blank {
	background: white;
	border: 1px solid white;
	border-right: 1px solid rgba(51, 51, 80, 0.15);
}
.somme tr {
	border: 1px solid rgba(51, 51, 80, 0.15);
	text-align: right;
}
.somme tr:hover {
	background: rgba(51, 51, 80, 0.02)
}
.somme tr:nth-child(2n) {

}
.somme tr .element {
	text-align: left;
	padding: .1em .6em;
}
.somme .element .unfoldIndication {
	font-size: 68%;
	color: #888;
	cursor: pointer;
}
.somme tr .value span {
	text-align: right;
}
.somme .leaf .name {
	border: none;
}
.somme .operator {
	text-align: center;
	width: 1em;
	padding: 0 .4em;
	font-weight: 600;
	font-size: 120%;
	color: black;
}
#rule-rules .somme table .leaf .situationValue {
	display: none;
}

#rule-rules .somme table .situationValue {
	padding: 0 1em;
}
#rule-rules .somme table .situationValue span {
}

.somme .nested {
  padding: 0;
	border: none;
}
.somme .nested tr:first-child {
	border-top: none;
}
.somme .noNest {
	border-bottom: none;
}
.somme > table  {
	border-bottom: 1px solid rgba(51, 51, 80, 0.15);
}


#sommeBase {
	text-align: center;
}

.somme .annotation {
	color: #2975D1;
	font-weight: 600;
}
