/* mécanisme somme */
.somme table {
	width: 100%;
	border-collapse: collapse;
}
.somme td.blank {
	background: white;
	border: 1px solid white;
	border-right: 1px solid rgba(51, 51, 80, 0.15);
}
.somme tr {
	border: 1px solid rgba(51, 51, 80, 0.15);
	text-align: right;
}
.somme tr:hover {
	background: rgba(51, 51, 80, 0.02);
}
.somme tr .element {
	text-align: left;
	padding: 0.1em 0.6em;
}
.somme tr .value span {
	text-align: right;
}
.somme .leaf .name {
	border: none;
}
.somme .operator {
	text-align: center;
	width: 1em;
	padding: 0 0.4em;
	font-weight: 600;
	border: none !important;
	font-size: 120%;
	color: black;
}
.somme .operator + .element {
	border-left: none;
}
#rule-rules .somme table .leaf .situationValue {
	display: none;
}

#rule-rules .somme table .situationValue {
	padding: 0 1em;
}

.somme .nested {
	padding: 0;
	border: none;
}
.somme .nested tr:first-child {
	border-top: none;
}
.somme .noNest {
	border-bottom: none;
}
.somme > table {
	border-bottom: 1px solid rgba(51, 51, 80, 0.15);
}

/* Specific to ResultsGrid.css. Somme.js and ResultsGrid.js should be merged */
.resultsGrid table {
	font-size: 90%;
}
.resultsGrid table a {
	color: inherit;
}
.resultsGrid td {
	line-height: 1.6em;
	border: 1px solid #e3e3ee;
}
.resultsGrid .operator {
	border-right-color: transparent;
	margin-right: 0.4em;
}
.resultsGrid .element.category {
	font-weight: 600;
	font-size: 100%;
}
.resultsGrid .detailsRow .name {
	padding-left: 1.2em;
}
.resultsGrid .detailsRow .name:hover {
	color: #111;
	text-decoration: underline;
}

.resultsGrid .name {
	font-size: 90%;
}
.resultsGrid .value {
	font-weight: 700;
	color: #031bd6;
}
#sommeBase {
	text-align: center;
}

.resultsGrid .annotation {
	color: #333350;
	border: 1px solid #333350;
	background: #031bd61a;
	font-weight: 600;
	font-size: 95%;
	padding: 0 0.6em;
	margin-left: 0.3em;
	border-radius: 0.2em;
	white-space: nowrap;
}

.detailsRow {
	background: rgba(51, 51, 80, 0.02);
}

.mecanism-somme__table {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}

.mecanism-somme__row {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	border-top: 1px solid rgba(51, 51, 80, 0.15);
}
.mecanism-somme__row:first-child {
	border-top: none;
}

.mecanism-somme__row .element {
	flex: 1;
	max-width: 100%;
	display: flex;
	align-items: center;
	padding: 0.1em 0.4em;
	padding-top: 0.2em;
	overflow: hidden;
}
.mecanism-somme__row .element .unfoldIndication {
	text-transform: capitalize;
	font-size: 90%;
	align-self: baseline;
	flex: 1;
	text-align: left;
	color: rgb(51, 51, 80);
}

.somme > :not(.mecanism-somme__table) .element .unfoldIndication {
	font-size: 60%;
	color: #888;
	cursor: pointer;
	font-weight: 400;
	white-space: nowrap;
}

.mecanism-somme__row .value {
	padding: 0.1em 0.4em;
}
.mecanism-somme__row .operator {
	align-self: center;
	display: none;
}

.mecanism-somme__row .element .variable,
.mecanism-somme__row .element .nodeHead {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: inline-block;
}

.mecanism-somme__row .element .situationValue {
	display: none !important;
}

/* Nested Mecanism */
.nested .mecanism-somme__row {
	padding-left: 2em;
	border-top: 1px dashed rgba(51, 51, 80, 0.15);
	font-size: 90%;
}
