/* mécanisme somme */
.somme table {
	width: 100%;
	border-collapse: collapse;
}
.somme td.blank {
	background: white;
	border: 1px solid white;
	border-right: 1px solid rgba(51, 51, 80, 0.15);
}
.somme tr {
	border: 1px solid rgba(51, 51, 80, 0.15);
	text-align: right;
}
.somme tr:hover {
	background: rgba(51, 51, 80, 0.02);
}
.somme tr:nth-child(2n) {
}
.somme tr .element {
	text-align: left;
	padding: 0.1em 0.6em;
}
.somme .element .unfoldIndication {
	font-size: 60%;
	color: #888;
	cursor: pointer;
	font-weight: 400;
	white-space: nowrap;
}
.somme tr .value span {
	text-align: right;
}
.somme .leaf .name {
	border: none;
}
.somme .operator {
	text-align: center;
	width: 1em;
	padding: 0 0.4em;
	font-weight: 600;
	font-size: 120%;
	color: black;
}
#rule-rules .somme table .leaf .situationValue {
	display: none;
}

#rule-rules .somme table .situationValue {
	padding: 0 1em;
}
#rule-rules .somme table .situationValue span {
}

.somme .nested {
	padding: 0;
	border: none;
}
.somme .nested tr:first-child {
	border-top: none;
}
.somme .noNest {
	border-bottom: none;
}
.somme > table {
	border-bottom: 1px solid rgba(51, 51, 80, 0.15);
}

/* Specific to ResultsGrid.css. Somme.js and ResultsGrid.js should be merged */
.resultsGrid table {
	font-size: 90%;
}
.resultsGrid table a {
	color: inherit;	
}
.resultsGrid td {
	line-height: 1.6em;
	border: 1px solid #e3e3ee;
}
.resultsGrid .operator {
	border-right-color: transparent;
}
.resultsGrid .element.category {
	font-weight: 600;
	font-size: 100%;
}
.resultsGrid .detailsRow .name {
	padding-left: 1.2em;
}
.resultsGrid .detailsRow .name:hover {
	color: #111;
	text-decoration: underline;
}

.resultsGrid .name {
	font-size: 90%;
}
.resultsGrid .value {
	font-weight: 700;
	color: #031bd6;
}
#sommeBase {
	text-align: center;
}

.resultsGrid .annotation {
	color: #333350;
	border: 1px solid #333350;
	background: #031bd61a;
	font-weight: 600;
	font-size: 95%;
	padding: 0 0.6em;
	margin-left: 0.3em;
	border-radius: 0.2em;
	white-space: nowrap;
}

.detailsRow {
	background: rgba(51, 51, 80, 0.02);
}
