.mecanism.variations > ul {
	margin-left: 1em;
	margin-top: 1em;
}
.variations > ul > li {
	margin-bottom: 0.3em;
	list-style: circle;
}

.variations > ul > li .consequenceType {
	padding: 0 0.2em;
	margin: 0 0.3em;
}
.variations > ul > li.satisfied .consequenceType {
	background: yellow;
}
