.mecanism.variations > ul {
	margin-left: 1em;
}
.variations > ul > li {
	margin-bottom: 1em;
	list-style: circle;
}
.variations > ul > li.satisfied .consequence {
	background: yellow;
	padding: 0 0.6em;
}
