.steps-header {
	margin-top: 0.6rem;
	padding-top: 1.5rem;
}
.steps-header nav {
	max-width: 100%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	background: white;
}

.steps-header a {
	margin-right: 0.8rem;
	min-width: 4.5rem;
	text-decoration: none;
	flex-shrink: 0;
	text-align: center;
	transition: all 0.3s;
	will-change: flex;
}

.steps-header a:focus {
	outline: none;
}

.steps-header a:last-child {
	margin-right: 0;
}

.steps-header a img {
	height: 4rem;
	transition: all 0.2s;
	border: 1px solid transparent;
	padding: 0.1rem;
	border-radius: 100%;
	will-change: transform;
}
.steps-header a.active {
	flex-grow: 1;
}
.steps-header a:hover img {
	transform: translateY(-3px);
}

.steps-header a.active img {
	border-color: rgb(41, 117, 209);
	border-style: solid;
	border-color: var(--colour);
}
/* IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.steps-header a.active {
		min-width: 70%;
	}
	.steps-header a {
		flex-shrink: 1;
		min-width: 7rem;
	}
}

.steps-header .progress {
	margin: 0.4rem -0.2rem -0.2rem 0;
	/* margin-top: 0.4rem; */
	height: 0.2rem;
	background: rgba(41, 117, 209, 0.2);
	border-radius: 0.1rem;
}

.steps-header .progress .bar {
	transition: width 0.3s;
	background-color: rgb(41, 117, 209);
	height: 100%;
}
