.references {
	list-style: none;
	padding: 0;
}
.references a {
	flex: 1;
	min-width: 45%;
	text-decoration: underline;
}

.references li {
	margin-bottom: 0.6em;
	width: 100%;
	display: flex;
	align-items: center;
}
#noOfficialReferences {
	text-align: left;
	font-style: italic;
}
.references .imageWrapper {
	width: 4.5rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}
.references img {
	max-height: 3rem;
	vertical-align: sub;
	max-width: 100%;
	border-radius: 0.3em;
}

li#complementary {
	margin-top: 1.2em;
}
li#complementary a {
	font-style: italic;
	text-decoration: none;
	width: auto;
}

#complementary i {
	margin-right: 0.6em;
}
