.Rule-value {
	position: relative;
}

.evaporate {
	font-size: 80%;
	display: block;
	position: absolute;
	right: 0;
	top: -20px;
	opacity: 0;
	animation: evaporate 2.5s ease-out;
	transform: scaleY(0.1);
}

@keyframes evaporate {
	5% {
		opacity: 1;
		transform: scaleY(1);
	}
	70% {
		opacity: 1;
	}

	to {
		transform: translateY(-15px);
		opacity: 0;
	}
}
