.Rule-value {
	font-size: 105%;
	position: relative;
}

.evaporate {
	display: none;
	font-size: 80%;
	/* text-shadow: 0 0 2px var(--colour); */
}
.evaporate-enter {
	display: block;
	position: absolute;
	right: 0;
	top: -20px;
	opacity: 0;
	animation: evaporate 1.6s ease-out;
	transform: scaleY(0.1);
}
@keyframes evaporate {
	5% {
		opacity: 1;
		transform: scaleY(1);
	}
	70% {
		opacity: 1;
	}

	to {
		transform: translateY(-15px);
		opacity: 0;
	}
}
