.ui__.card {
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.3rem;
	max-width: 100%;
}

.ui__.card.plain {
	color: var(--textColour);
	background: linear-gradient(60deg, var(--darkColour) 0%, var(--colour) 100%);
}

.ui__.card.plain a {
	color: white !important;
	text-decoration: none;
}
.ui__.card.plain a:hover {
	text-decoration: underline;
}
.ui__.card.coloured {
	box-shadow: 0 1px 3px 0 var(--colour), 0 0 0 1px var(--colour);
}
