.ui__.card {
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	padding: 1rem;
	overflow: hidden;
	border-radius: 0.3rem;
}
.ui__.card.disabled .ui__.button.simple,
.ui__.card.disabled a {
	/* opacity: 0.7; */
	color: var(--grayColour);
}

.ui__.card.plain {
	color: white;
	color: var(--textColour);
	background: linear-gradient(60deg, #215da6 0%, #297da1 100%);
	background: linear-gradient(
		60deg,
		var(--darkColour) -100%,
		var(--colour) 100%
	);
}
.ui__.card.plain h1,
.ui__.card.plain h2,
.ui__.card.plain h3,
.ui__.card.plain h4,
.ui__.card.plain h5,
.ui__.card.plain h6 {
	color: white;
	color: var(--textColour);
}

.ui__.card.disabled img {
	filter: saturate(0);
}

.ui__.card.disabled .ui__.card.plain,
.ui__.card.disabled.plain {
	background: linear-gradient(
		60deg,
		var(--grayColour) -40%,
		var(--grayColour) 70%
	);
	opacity: 0.7;
}

.ui__.card.plain a,
.ui__.card.plain .link-button {
	color: white !important;
}
.ui__.card.plain a:hover {
	text-decoration: underline;
}
.ui__.card.coloured {
	box-shadow: 0 1px 3px 0 var(--colour), 0 0 0 1px var(--colour);
}
.ui__.card.plain small,
.ui__.card.plain .notice {
	color: rgba(255, 255, 255, 0.8);
}
