@import './Button/button.css';
@import './Typography.css';
@import './reset.css';

:root {
	--colour: rgb(41, 117, 209);
}
html:fullscreen {
	background-color: white;
	overflow: auto !important;
}
body {
	overflow-x: hidden !important;
}

button {
	border: none;
	border-radius: 0;
}

.ui__.answer-group {
	display: flex;
	align-items: center;
	justify-content: end;
}
@media (max-width: 500px) {
	.ui__.answer-group {
		flex-wrap: wrap;
	}
	.ui__.answer-group > * {
		flex-grow: 1;
		flex-shrink: 0;
		margin: 0.5rem !important;
	}
}

.ui__.container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 0 0.6rem;
}

.ui__.notice {
	font-size: 90%;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 2em;
}
ul.ui__.no-bullet {
	list-style: none;
}
span.ui__.enumeration:not(:last-of-type)::after {
	content: '·';
	margin: 0 0.3rem;
	display: inline-block;
}

#js {
	opacity: 1;
	transform: translateY(0px);
}
#lds-ellipsis {
	display: none;
}

#betaTag {
	background: #333;
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	border-radius: 1em;
	padding: 0.1em 0.5em;
	margin: 1rem;
	font-size: 1rem;
	vertical-align: middle;
}
