@import './Button/button.css';
@import './Typography.css';
@import './Card.css';
@import './reset.css';

:root {
	--colour: yellow;
	--darkColour: green;
	--textColour: red;
}
html:fullscreen {
	background-color: white;
	overflow: auto !important;
}
body {
	overflow-x: hidden !important;
}

button {
	border: none;
	border-radius: 0;
}

.ui__.answer-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 1rem 0;
}
@media (min-width: 500px) {
	.ui__.answer-group > :not(:last-child) {
		margin-right: 1rem;
	}
}
@media (max-width: 500px) {
	.ui__.answer-group {
		flex-wrap: wrap;
	}
	.ui__.answer-group > * {
		flex: 1;
		white-space: nowrap;
		margin: 0.5rem !important;
	}
}

.ui__.container {
	width: 100%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}
.ui__.container .ui__.full-width {
	margin: 0 calc((800px - 100vw) / 2);
}
@media (max-width: 800px) {
	.ui__.container .ui__.full-width {
		margin: 0;
	}
}

.ui__.notice {
	font-size: 85%;
	color: rgba(0, 0, 0, 0.6);
}
ul.ui__.no-bullet {
	list-style: none;
}
span.ui__.enumeration:not(:last-of-type)::after {
	content: '·';
	margin: 0 0.3rem;
	display: inline-block;
}
