@import './Button/button.css';
@import './Typography.css';
@import './reset.css';

:root {
	--colour: rgb(41, 117, 209);
}
html:fullscreen {
	background-color: white;
}

body {
	overflow-x: hidden !important;
}

button {
	border: none;
	border-radius: 0;
}

.ui__.answer-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.ui__.route-trans {
	display: flex;
}
.ui__.route-trans > * {
	min-width: 100%;
	margin-right: 2em;
}

.ui__.container {
	max-width: 45em;
	margin-right: auto;
	margin-left: auto;
	padding: 0 0.6em;
}
p.ui__.notice {
	font-size: 90%;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 2em;
}
ul.ui__.no-bullet {
	list-style: none;
}

#js {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.4s, transform 0.4s;
}
#lds-ellipsis {
	display: none;
}
