.scheme-card__container {
	width: 24rem;
	margin: 1rem;
}
.scheme-card__container:not(.is-IE) {
	display: flex;
	flex-direction: column;
}

.scheme-card__inside {
	flex: 1;
}
.scheme-card__inside:not(.is-IE) {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.scheme-card__header {
	text-align: center;
}
.scheme-card__icon {
	font-size: 2rem;
}
.scheme-card__title {
	margin: 0.5rem 0;
}
.scheme-card__subtitle {
	color: var(--grayColour);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.scheme-card__top-text {
	text-transform: uppercase;
	text-align: center;
	margin: -1rem -1rem 1rem;
	align-self: stretch;
	/* visibility: hidden; */
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 0.5rem;
}
.scheme-card__top-text--hidden {
	visibility: hidden;
}
.scheme-card__top-text--featured {
	color: var(--colour);
	border-bottom: 1px solid var(--colour);
}
.scheme-card__top-text--disabled {
	color: var(--grayColour);
	border-bottom: 1px solid #d4d4d5;
}
.scheme-card__content {
	flex: 1;
	align-self: stretch;
}
.scheme-card__cta {
	text-align: center;
}
.scheme-card__amount {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto !important;
	margin-right: auto !important;
	align-items: center;
	width: fit-content;
	margin: 1rem auto;
}
.scheme-card__amount p {
	margin-top: 0.6rem;
	margin-bottom: 0rem;
}
@media (max-width: 800px) {
	.scheme-card__title::before {
		content: '▶';
		font-size: 1rem;
		margin-right: 0.6rem;
		transition: transform 0.3s;
	}
	.scheme-card__title--unfold::before {
		transform: rotate(90deg);
	}

	.scheme-card__title {
		position: relative;
		display: flex;
		align-items: center;
		font-weight: 500;
		order: -1;
	}
	.scheme-card__icon {
		margin-left: 0.3rem;
		flex: 1;
		text-align: right;
		font-size: 1.6rem;
	}
	.scheme-card__subtitle {
		margin: 0;
		font-size: 1.2rem;
	}
	.scheme-card__container {
		margin: 0;
	}
	.scheme-card__container--featured {
		order: -1;
	}
	.scheme-card__container--disabled {
		order: 1;
		margin-top: 2rem;
	}
	.scheme-card__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		cursor: pointer;
		justify-content: flex-start;
		font-size: 1rem;
	}
	.scheme-card__header + div {
		/* flex: 1; */
		text-align: center;
		width: 100%;
	}
	.scheme-card__amount {
		flex-direction: row;
		display: flex;
		align-items: center;
		width: 100%;
	}
	.scheme-card__amount p {
		margin: 0;
	}
	.scheme-card__amount + p {
		margin: 0;
		text-align: center;
	}
	.scheme-card__cta:not(.scheme-card__cta--visible) {
		display: none;
	}
	.scheme-card__content {
		margin-top: 1rem;
	}
	.scheme-card__content:not(.scheme-card__content--visible) {
		display: none;
	}
}
