.scheme-card__container {
	width: 24rem;
	margin: 1.2rem;
	display: flex;
	flex-direction: column;
}

.scheme-card__inside {
	display: flex;
	flex: 1;
	align-items: center;
	flex-direction: column;
}
.scheme-card__header {
	text-align: center;
}
.scheme-card__icon {
	font-size: 2rem;
}
.scheme-card__title {
	margin: 0.5rem 0;
}
.scheme-card__subtitle {
	color: var(--grayColour);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.scheme-card__top-text {
	text-transform: uppercase;
	text-align: center;
	margin: -1rem -1rem 1rem;
	align-self: stretch;
	/* visibility: hidden; */
	font-family: 'IBM Plex Sans', sans-serif;
	padding: 0.5rem;
}
.scheme-card__top-text--hidden {
	visibility: hidden;
}
.scheme-card__top-text--featured {
	color: var(--colour);
	border-bottom: 1px solid var(--colour);
}
.scheme-card__top-text--disabled {
	color: var(--grayColour);
	border-bottom: 1px solid #d4d4d5;
}
.scheme-card__content {
	flex: 1;
	align-self: stretch;
}

.scheme-card__amount {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto !important;
	margin-right: auto !important;
	align-items: center;
	width: fit-content;
	margin: 1rem auto;
}
