.scrollIndication {
    margin: 1em;
	text-align: center
}

#foldedSteps {
	padding: 1em;
	margin-bottom: 1em;
}

#foldedSteps .header button {
	font-size: 80%;
	border: none;
	display: block;
	margin: 0 auto;
}
#foldedSteps .header button i {
	margin-right: 0.3em;
	vertical-align: top;
}

#myScrollToElement {
    padding-top: .6em
}

.step {
	position: relative;
}

.step {
	opacity: 1;
}

.step:first-child {
	opacity: 1;
}

.form-group {
	position: relative;
	margin-bottom: 4.5em;
}

.form-group.explicit > .group-content {
	margin-left: 1em;
	padding: 0.8em 0 0 1.3em;
}

.form-group.folded .group-content {
	border: none;
}

.form-group .header {
	margin: 4em 0 0.6em 0;
}

.group-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Group items animation */

.group-animated-enter {
	opacity: 0;
}

.group-animated-enter.group-animated-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.group-animated-leave {
	opacity: 1;
	transform: scaleY(1);
}

.group-animated-leave.group-animated-leave-active {
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity 200ms ease, transform 200ms ease-out;
}

/* END Group items animation */

/* Group ignore buttons */
.form-group .header #ignore {
	margin-left: 3em;
}

.group-title {
	position: relative;
	display: inline-block;
}
.group-title h1 {
	font-size: 100%;
	font-weight: 400;
	padding: 0.5em 0.8em;
	margin: 0;
	border-radius: 1em;
	position: relative;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.step-question {
	max-width: 70%;
}

.unfoldedHeader {
	margin-bottom: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.step h1 {
	border: 2px solid #333350;
	color: #333350;
	display: inline-block;
	font-size: 110%;
	font-weight: 600;
	padding: 0.6em 1em;
	margin: 0;
	border-radius: 1.4em;
	position: relative;
	/* Give some space for the explicable's icon */
	max-width: 90%;
}

.step.completed .edit:hover {
	background: #333350;
	color: white;
}

.step-subquestion {
	margin: 0.3em;
	font-style: italic;
	font-size: 80%;
	margin-left: 1em;
}
.step-subquestion p {
	display: inline;
	color: #666;
	margin: 0;
}

/* Our little help icon */
.help-button {
	display: inline-block;
	float: right;
	margin-top: 0.5em;
	line-height: 1.1em;
	border-radius: 1em;
	font-size: 90%;
	color: #777;
	border: 1px solid;
	background: none;
	text-align: center;
	cursor: pointer;
	color: #aaa;
	text-transform: uppercase;
	font-size: 60%;
	padding: 0.25em 0.6em;
}
.help-button:hover {
	color: #333;
	border: 1px solid #333;
}

.step fieldset {
	margin: 0.8em 0;
}

.step fieldset ul {
	list-style-type: none;
	padding-left: 2em;
}

.step.question .variant {
	margin-bottom: 1em;
}

.step.question .variant > ul {
	border-left: 1px dashed #ccc;
	margin-top: 0.6em;
	padding-left: 0.6em;
	padding-top: 0.6em;
	margin-left: 1em;
}
.step.question .variant > div {
	padding-left: 0.6em;
	font-weight: 600;
	font-style: italic;
}

.step.question fieldset > div {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.step.question fieldset span {
	white-space: nowrap;
}
.step.question .variantLeaf {
	margin-bottom: 0.6em;
}
.step.question .variant .variantLeaf {
	display: inline-block;
}
.step.question .variantLeaf.aucun label {
	font-weight: bold;
}

.step.question .sendWrapper {
	float: right;
}
.step label.radio,
/* A resume of what's been answered */ .resume {
	text-align: center;
	margin-left: 1em;
	margin-top: 2em;
	cursor: pointer;
	background: none;
	padding: 0 0.8em;
	line-height: 1.8em;
	border-radius: 1em;
}

.step label.radio {
	text-align: center;
	margin-left: 1em;
	margin-top: 1em;
	cursor: pointer;
	padding: 0.25em 0.85em;
	line-height: 1.8em;
	border-radius: 1em;
	font-weight: 600;
	font-size: 105%;
}

.resume {
	transition: 1s display;
}

.answer-ignored {
	font-size: 80%;
	opacity: 0.8;
	margin-left: 0.4em;
	vertical-align: middle;
}

.step.question input[type='radio'] {
	display: none;
}

.step input[type='text'] {
	border-bottom: 1px solid;
	display: inline-block;
	line-height: 1.6em;
	height: 1.6em; /* IE 11 needs this */
	font-size: 100%;
	padding: 0;
	padding-right: 0.4em;
	width: 8em;
	text-align: right;
	padding-left: 0.2em;
}

/* Remove IE's clear button the appears before our suffix */
.step input::-ms-clear {
	width: 0;
	height: 0;
}

.step input::placeholder {
	font-style: italic;
}

.step input.suffixed {
	padding: 0.1em 1em 0;
	border-radius: 0.2em;
	font-size: 120%;
}

.step input:not(.suffixed) {
	margin-right: 1em;
}

.step label.suffix {
	font-size: 110%;
	vertical-align: baseline;
	transition: color 0.1s;
	margin: 0 1.5em 0.1em 0.6em;
}

.step input[type='text']:focus,
.step input[type='number']:focus {
	border-color: #d0d4d8;
	outline: none;
}

.step .inputSuggestions {
	font-style: italic;
	float: right;
	clear: right;
	font-size: 75%;
	color: #222;
}
.step .inputSuggestions ul {
	padding-left: 0;
	list-style: none;
	display: inline-flex;
	align-items: flex-end;
}
.step .inputSuggestions li {
}
.step .inputSuggestions span {
	padding: 0.1em 0.9em;
	font-weight: 600;
	cursor: pointer;
}
.step .inputSuggestions span:hover {
	text-decoration: none;
}

.help-box {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
}

.help-box p {
	padding: 1em;
	font-size: 90%;
	font-style: italic;
}

.close-help {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 105%;
}
.close-text {
	text-transform: uppercase;
	font-size: 60%;
}

.close-text .icon {
	font-size: 150%;
	vertical-align: middle;
}

.sendWrapper {
	position: relative;
}

.step .send {
	padding: 0.1em 0.4em 0em 1em;
	background: none;
	cursor: pointer;
	border: 1px solid;
	border-radius: 0.4em;
	line-height: 0em;
}

.step .send:disabled {
	opacity: 0.2;
}

.step .send i {
	margin: 0 0.3em;
	font-size: 160%;
}

.step .send .text {
	text-transform: uppercase;
	font-size: 135%;
	line-height: 2em;
}

.answer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.foldedQuestion .answer {
	float: right;
}

.step-input-error {
	position: absolute;
	right: 0;
	bottom: -1.5em;
	font-size: 0.8em;
	font-style: italic;
	color: #c0392b;
	font-weight: 600;
}

.step textarea {
	vertical-align: middle;
	margin-right: 1em;
}

#share-link {
	color: white;
	padding: 0.3em 0.3em;
	display: inline-block;
	margin-top: 0.3em;
	border-radius: 0.25em;
}
#share-icon {
	font-size: 200%;
	vertical-align: middle;
	line-height: 0em;
	margin-left: 0.3em;
}

.select-answer.commune .Select {
	width: 50%;
}

.info-zone {
	font-size: 65%;
	text-align: center;
	font-style: italic;
	color: #666;
	line-height: 1.6em;
}

.input-tip {
	height: 2em;
}

.input-tip p {
	margin: 0.1em;
}

#show-advanced {
	font-weight: bold;
}

/* Positioning the animated elements absolutely + transition-delay will make it possible
for the appearing element to appear without stacking up below the first one */
#user-next-action {
	position: relative;
	height: 2em;
	margin-bottom: 3em;
}

.input-tip {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#reinit {
	position: static;
	display: block;
	text-align: center;
	font-size: 65%;
}

.user-next-action-animation-enter {
	opacity: 0;
}

.user-next-action-animation-enter.user-next-action-animation-enter-active {
	opacity: 1;
	transition: opacity 700ms;
	transition-delay: 700ms;
}

.user-next-action-animation-leave {
	opacity: 1;
}

.user-next-action-animation-leave.user-next-action-animation-leave-active {
	opacity: 0;
	transition: opacity 700ms ease;
}

.foldedQuestion {
	margin-left: 1.2em;
}

.foldedQuestion .edit {
	vertical-align: middle;
	margin-left: 0.5em;
	border: none;
	font-size: 80%;
}

.foldedQuestion .borderWrapper {
	padding: 0.1em 0;
	display: inline-block;
	width: calc(100% - 6em);
	border-bottom: 1px solid #eee;
}

.keyIcon {
	position: absolute;
	font-size: 80%;
	text-align: center;
	font-weight: bold;
	background: #ddd;
	color: white;
	margin-left: 0.6em;
	padding: 0.5em 0.4em;
	border-radius: 0.2em;
	transition: 0.2s opacity;
}

@media screen and (max-width: 860px) {
	.keyIcon {
		display: none;
	}
}
