.explicable {
	display: flex;
	align-items: center;
}

.explicable .icon {
	text-align: center;
	width: 1.3em;
	line-height: 1.3em;
	border-radius: 0.2em;
	display: inline-block;
	margin-left: 0.4em;
	padding: 0.15em;
	opacity: 0.65;
	border: 1px solid transparent;
	border-radius: 1em;
	cursor: pointer;
	vertical-align: baseline;
	font-size: 95%;
}

.explicable .icon:hover {
	opacity: 1;
}
/* Add explanation text to icon, feels too heavy
.explicable .icon:hover::after {
  content: '+ d\'infos';
  margin-left: .2em;
  font-size: 90%;
  opacity: .3
}
*/
