.inputSuggestions {
	text-align: right;
}
.inputSuggestions ul {
	padding-left: 0;
	list-style: none;
	display: inline-flex;
	align-items: flex-end;
	font-weight: 600;
}
.inputSuggestions li {
	text-align: center;
	margin: 0;
	margin-left: 1em;
	min-width: 2em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	cursor: pointer;
}
