#inversionRadios {
}
#inversionRadios label {
	display: block;
	margin-bottom: 0.6em;
	margin-left: 1em;
	font-size: 110%;
	cursor: pointer;
}
#inversionRadios label.unselected {
	opacity: 0.7;
}
#inversionRadios label.selected {
	font-weight: 600;
}
#inversionRadios .explicable {
	display: inline;
}
