{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-do-expressions",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
    ["webpack-alias", { "config": "./source/webpack.config.js" }]
  ]
}
