{
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"browsers": ["last 2 versions", "safari >= 7"]
				},
				"modules": false
			}
		],
		"@babel/react",
		"@babel/flow"
	],
	"plugins": [
	 ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
		"@babel/plugin-proposal-do-expressions",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-dynamic-import",
		"react-hot-loader/babel",
		["webpack-alias", { "config": "./source/webpack.dev.js" }]
	]
}
