rules:
  indent:
    - 1
    - tab
  linebreak-style:
    - 2
    - unix
  semi:
    - 1
    - never
  no-unused-vars: 1
  no-console: 1
  no-global-assign: 0
  no-unsafe-negation: 0

parser: babel-eslint

env:
  browser: true
  commonjs: true
  es6: true
extends:
  - eslint:recommended
parserOptions:
  ecmaFeatures:
    jsx: true
