.navigation .progress {
	height: 2px;
	position: absolute;
	bottom: 5px;
	background: rgba(41, 117, 209, 0.2);
	border-radius: 0.1rem;
	width: 100%;
}

.navigation .progress .bar {
	transition: width 0.3s;
	background-color: rgb(41, 117, 209);
	height: 100%;
}

.navigation {
	padding: 1rem 2rem 3rem 1rem;
	margin-right: 2rem;
	background-color: #f3f3f3;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-shrink: 0;
	min-width: 20rem;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0.7rem;
}
.navigation li {
	padding: 0;
}
.navigation__item:not(.opened) + ul {
	visibility: hidden;
	height: 0;
}
.navigation__item:hover {
	opacity: 0.8;
}
.navigation__item:hover * {
	opacity: 1 !important;
}

.navigation__caret {
	width: 30px;
	text-align: center !important;
	transition: transform 0.2s;
	font-size: 120% !important;
}
.navigation__item.opened .navigation__caret {
	transform: rotate(90deg) translateX(1px) translateY(-1px);
}
.navigation__item {
	left: -30px;
	white-space: nowrap;
	position: relative;
}
.navigation__item.active {
	color: rgb(41, 117, 209);
	color: var(--colour);
}

.navigation li > :first-child {
	position: relative;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	padding: 0.2rem 0;
	line-height: 1.7rem;
}
.navigation > ul > li ul > li > :first-child:not(.active):not(:hover) {
	opacity: 0.6;
}
.navigation a:not(.active) {
	color: inherit;
}
.navigation a:hover {
	text-decoration: underline;
}
.navigation > ul > li > :first-child,
.navigation > ul > li > :first-child * {
	text-decoration: none !important;
	line-height: 2.5rem;
}
