ul.ui__.checklist {
	padding-left: 0.3rem;
}

.ui__.checklist-button {
	color: inherit;
	display: flex;
	outline: none;
	padding: 0.6rem;
	text-align: left;
	flex: 1;
	color: var(--color);
	font-family: inherit;
	transition: all 0.1s;
	font-size: inherit;
}
.ui__.checklist-button:hover {
	opacity: 0.8;
}
.ui__.checklist-button::after {
	content: '›';
	margin-left: 0.3rem;
}
.ui__.checklist-button.opened::after {
	transform: rotate(90deg);
	margin-left: 0.4rem;
}

.ui__ .checkItemLabel {
	display: flex;
	align-items: center;
}

.ui__.checklist-explanation {
	padding-left: calc(0.6rem + 10px);
	border-left: 1px solid var(--lighterColor);
	margin: 0 0 -1rem 8px;
}
