.ui__.inverted-button:active,
.ui__.button:active {
	animation: push-button-down 0.1s ease-out alternate-reverse 2;
}

.ui__.button,
.ui__.inverted-button,
.ui__.skip-button {
	font-size: 1.1rem;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	border: 1px solid;
	/* outline: none; */
	line-height: initial;
	display: inline-block;
	border-radius: 0.6rem;
	transition: all 0.15s;
	margin: 0.8rem 0;
	margin-right: 1rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	cursor: pointer;
}

.ui__.button:last-child,
.ui__.inverted-button:last-child,
.ui__.skip-button:last-child {
	margin-right: 0;
}

.ui__.button:disabled,
.ui__.inverted-button:disabled,
.ui__.skip-button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
.ui__.button {
	/* ie11 */
	border-color: rgb(41, 117, 209);
	border-color: var(--colour);
	/* ie11 */
	color: rgb(41, 117, 209);
	color: var(--colour);
	background: linear-gradient(
		50deg,
		rgba(39, 69, 195, 0.87) 5%,
		rgb(41, 117, 209) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background: linear-gradient(
		50deg,
		rgba(39, 69, 195, 0.87) 5%,
		var(--colour) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background-size: 260%;
	background-position-x: 99%;
}
.ui__.button:not(:disabled):hover,
.ui__.button.selected {
	background-position-x: 0%;
	border-color: white;
	color: white;
}
.ui__.button.cta,
.ui__.inverted-button.cta {
	margin: 3rem auto;
	display: inline-block;
	align-self: center;
	font-size: 120%;
	padding: 0.9rem 1.8rem;
}
.ui__.inverted-button {
	color: white;
	border-color: white;
}
.ui__.inverted-button:not(:disabled):hover {
	background-color: rgba(255, 255, 255, 1);
	color: rgb(41, 117, 209);
	color: var(--colour);
	border-color: rgb(41, 117, 209);
	border-color: var(--colour);
}

.ui__.link-button,
.ui__.dashed-button {
	border: none;
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	margin: 0;
}
.ui__.link-button {
	text-decoration: underline;
	padding: 0;
	color: rgb(41, 117, 209);
	color: var(--colour);
}

.ui__.dashed-button::before {
	padding: 0.8rem 0;
	display: block;
}
.ui__.dashed-button {
	border-bottom: 1px dashed;
	border-color: rgb(41, 117, 209);
	color: inherit;
	border-color: var(--colour);
	padding: 0.15em 0em;
}

.ui__.link-button:not(:disabled):hover,
.ui__.dashed-button:not(:disabled):hover {
	opacity: 0.8;
}

.ui__.button_next {
	color: rgb(41, 117, 209);
	color: var(--colour);
}

.ui__.skip-button {
	opacity: 0.6;
	border: none;
	padding: 0.6rem 0;
	color: inherit;
}

.ui__.skip-button:not(:disabled):hover {
	opacity: 0.8;
	transform: translateX(3px);
}
.ui__.skip-button.left:not(:disabled):hover {
	transform: translateX(-3px);
}

.answer-list button.answer:hover {
	opacity: 0.8;
}

.ui__.skip-button:active {
	animation: push-button-right 0.1s ease-out alternate-reverse 2;
}
.ui__.skip-button.left:active {
	animation: push-button-left 0.1s ease-out alternate-reverse 2;
}

.ui__.small.button {
	font-size: 80%;
	padding: 0.4rem 0.8rem;
	border-radius: 0.3rem;
}
.ui__.button-container > * {
	margin-top: 0.5rem;
}
.ui__.button-container > :not(:last-child) {
	margin-right: 0.5rem;
}

@keyframes push-button-down {
	from {
		transform: translateY(3px);
	}
	to {
		transform: translate3d(0);
	}
}

@keyframes push-button-right {
	from {
		transform: translate3d(5px, 0, 0);
	}
	to {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes push-button-left {
	from {
		transform: translate3d(-5px, 0, 0);
	}
	to {
		transform: translate3d(-3px, 0, 0);
	}
}
