.ui__.inverted-button:not(:disabled):active,
.ui__.button:not(:disabled):active {
	animation: push-button-down 0.1s ease-out alternate-reverse 2;
}

.ui__.button,
.ui__.inverted-button {
	font-size: 1.2rem;
	display: inline-block;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	border: 1px solid;
	/* outline: none; */
	line-height: initial;
	display: inline-block;
	border-radius: 0.3rem;
	transition: all 0.15s;
	text-align: center;
	text-transform: uppercase;

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	cursor: pointer;
}

.ui__.button:disabled,
.ui__.inverted-button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.ui__.button {
	/* ie11 */
	border-color: rgb(41, 117, 209);
	border-color: var(--colour);
	/* ie11 */
	color: rgb(41, 117, 209);
	color: var(--colour);
	background-image: linear-gradient(
		50deg,
		rgba(39, 69, 195, 0.87) 5%,
		rgb(41, 117, 209) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background-image: linear-gradient(
		50deg,
		var(--colour) 5%,
		var(--lightColour) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background-size: 280%;
	background-position-x: 99%;
}
.ui__.button.plain {
	background-image: linear-gradient(
		50deg,
		rgba(39, 69, 195, 0.87) 5%,
		var(--colour) 50%,
		rgba(41, 117, 209, 0.9) 55%
	);
	background-image: linear-gradient(
		50deg,
		var(--darkColour) -50%,
		var(--colour) 50%,
		var(--lightColour) 55%
	);

	color: white;
}
.ui__.button:not(:disabled):not(.simple):hover,
.ui__.button.selected {
	background-position-x: 0%;
	border-color: white;
	color: white;
}

.ui__.button.simple,
.ui__.button.simple.small {
	border: none;
	padding-left: 0;
	padding-right: 0;
}
.ui__.button.simple:hover,
.ui__.button.simple.selected {
	opacity: 0.8;
}
.ui__.button.cta,
.ui__.inverted-button.cta {
	margin: 2rem;
	display: inline-block;
	align-self: center;
	font-size: 120%;
	padding: 0.9rem 1.8rem;
}
.ui__.inverted-button {
	color: white;
	border-color: white;
}
.ui__.inverted-button:not(:disabled):hover,
.ui__.inverted-button:not(:disabled).selected {
	background-color: rgba(255, 255, 255, 1);
	color: rgb(41, 117, 209);
	color: var(--colour);
	border-color: rgb(41, 117, 209);
	border-color: var(--colour);
}

.ui__.link-button,
.ui__.dashed-button,
.ui__.text-button {
	border: none;
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	margin: 0;
}
.ui__.link-button img[src*='twemoji.maxcdn'],
.ui__.dashed-button img[src*='twemoji.maxcdn'],
.ui__.text-button img[src*='twemoji.maxcdn'] {
	margin-right: 0.2rem !important;
	margin-left: 0.2rem !important;
}
.ui__.link-button,
.ui__.text-button {
	text-decoration: none;
	color: inherit;
	text-align: left;
	padding: 0;
}
.ui__.link-button {
	text-decoration: underline;
	color: rgb(41, 117, 209);
	color: var(--colour);
}

.ui__.dashed-button::before {
	padding: 0.8rem 0;
	display: block;
}
.ui__.dashed-button {
	border-bottom: 1px dashed;
	border-color: rgb(41, 117, 209);
	border-color: var(--colour);
	padding: 0.15em 0em;
}

.ui__.link-button:not(:disabled):hover,
.ui__.text-button:not(:disabled):hover,
.ui__.dashed-button:not(:disabled):hover,
.ui__.link-button:not(:disabled).selected,
.ui__.text-button:not(:disabled).selected,
.ui__.dashed-button:not(:disabled).selected {
	opacity: 0.8;
}

.ui__.button_next {
	color: rgb(41, 117, 209);
	color: var(--colour);
}

.ui__.skip.button {
	border: none;
	padding: 0;
	will-change: transform;
}

.ui__.skip.button:not(:disabled):hover {
	opacity: 0.8;
	transform: translateX(3px);
}
.ui__.skip.button.left:not(:disabled):hover {
	transform: translateX(-3px);
}

.answer-list button.answer:hover {
	opacity: 0.8;
}

.ui__.skip.button:active {
	animation: push-button-right 0.1s ease-out alternate-reverse 2;
}
.ui__.skip.button.left:active {
	animation: push-button-left 0.1s ease-out alternate-reverse 2;
}

.ui__.small.button,
.ui__.small.inverted-button {
	font-size: 90%;
	line-height: 1rem;
	transition: all 0.08s;
	padding: 0.4rem 0.8rem;
	border-radius: 0.3rem;
}
.ui__.button-choice:first-of-type {
	margin-top: 2rem;
}
.ui__.button-choice:last-of-type {
	margin-bottom: 2rem;
}
.ui__.button-choice {
	display: flex;
	align-items: center;
	padding: 1rem;
	background: white;
	color: var(--darkColour);
	line-height: 2rem;
	margin: 1rem 0;
	position: relative;
	border-radius: 0.3rem;
	text-decoration: none;
	font-size: 1.2rem;
	box-shadow: 0 1px 3px rgba(41, 117, 209, 0.12),
		0 1px 2px rgba(41, 117, 209, 0.24);
	transition: box-shadow 0.2s;
}
.ui__.button-choice small {
	margin-left: 0.2rem;
}
.ui__.button-choice--soon {
	border-color: lightgray;
	color: gray;
	position: relative;
	opacity: 0.8;
	pointer-events: none;
	cursor: default;
}

.ui__.button-choice--soon img {
	filter: saturate(0%);
}
.ui__.button-choice-label {
	font-size: 80%;
	padding: 0 0.8rem;
	color: white;
	background: gray;
	margin-left: 0.8rem;

	font-weight: 500;
	opacity: 0.8;
	border-radius: 0.3rem;
}
.ui__.button-choice img {
	margin-right: 2rem !important;
	margin-left: 0.5rem !important;
	transform: scale(1.5);
	transition: transform 0.2s;
}

.ui__.button-choice:hover,
.ui__.button-choice:focus {
	opacity: 1 !important;
	box-shadow: 0px 2px 4px -1px rgba(41, 117, 209, 0.2),
		0px 4px 5px 0px rgba(41, 117, 209, 0.14),
		0px 1px 10px 0px rgba(41, 117, 209, 0.12);
}
.ui__.button-choice:hover img,
.ui__.button-choice:focus img {
	transform: scale(1.5);
}
@media (min-width: 600px) {
	.ui__.button-choice:not(.button-choice--soon)::after {
		content: '›';
		position: absolute;
		right: 20px;

		font-size: 2rem;
	}
}

@keyframes push-button-down {
	from {
		transform: translateY(3px);
	}
	to {
		transform: translate3d(0);
	}
}

@keyframes push-button-right {
	from {
		transform: translate3d(5px, 0, 0);
	}
	to {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes push-button-left {
	from {
		transform: translate3d(-5px, 0, 0);
	}
	to {
		transform: translate3d(-3px, 0, 0);
	}
}
