name: PR clean up
on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  deploy-context:
    runs-on: ubuntu-22.04
    outputs:
      env-name: ${{ steps.deploy-env.outputs.name }}
    steps:
      - id: deploy-env
        run: echo "name=${{ github.event.number || '${GITHUB_REF#refs/*/}' }}" >> $GITHUB_OUTPUT

  algolia-rm-temp-index:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
    needs: deploy-context
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
        env:
          # Secrets of all kinds for fetching stats & releases
          GITHUB_API_SECRET: ${{ secrets.GITHUB_TOKEN }}
          ATINTERNET_API_SECRET_KEY: ${{ secrets.ATINTERNET_API_SECRET_KEY }}
          ATINTERNET_API_ACCESS_KEY: ${{ secrets.ATINTERNET_API_ACCESS_KEY }}
          CRISP_API_IDENTIFIER: ${{ secrets.CRISP_API_IDENTIFIER }}
          CRISP_API_KEY: ${{ secrets.CRISP_API_KEY }}
          CRISP_WEBSITE_ID: ${{ secrets.CRISP_WEBSITE_ID }}
      - name: Remove temporary Algolia index
        run: yarn workspace site algolia:clean
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_ADMIN_KEY: ${{ secrets.ALGOLIA_ADMIN_KEY }}
          ALGOLIA_INDEX_PREFIX: monentreprise-${{needs.deploy-context.outputs.env-name}}-
