name: PR clean up
on:
  pull_request:
    types: [closed]

jobs:
  deploy-context:
    runs-on: ubuntu-22.04
    outputs:
      env-name: ${{ steps.deploy-env.outputs.name }}
    steps:
      - id: deploy-env
        run: echo "::set-output name=name::${{ github.event.number || '${GITHUB_REF#refs/*/}' }}"

  algolia-rm-temp-index:
    needs: deploy-context
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
        env:
          # Secrets of all kinds for fetching stats & releases
          GITHUB_API_SECRET: ${{ secrets.GITHUB_TOKEN }}
          ZAMMAD_API_SECRET_KEY: ${{ secrets.ZAMMAD_API_SECRET_KEY }}
          ATINTERNET_API_SECRET_KEY: ${{ secrets.ATINTERNET_API_SECRET_KEY }}
          ATINTERNET_API_ACCESS_KEY: ${{ secrets.ATINTERNET_API_ACCESS_KEY }}
          PLAUSIBLE_API_KEY: ${{ secrets.PLAUSIBLE_API_KEY }}
      - name: Remove temporary algolia index
        run: yarn workspace site algolia:clean
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_ADMIN_KEY: ${{ secrets.ALGOLIA_ADMIN_KEY }}
          ALGOLIA_INDEX_PREFIX: monentreprise-${{needs.deploy-context.outputs.env-name}}-
