name: Publish
on:
  workflow_run:
    workflows: ['Tests']
    types: [completed]

permissions:
  contents: read

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        package: ['modele-social', 'exoneration-covid']
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - uses: ./.github/actions/install
      - run: yarn workspace ${{ matrix.package }} run build
        env:
          NODE_ENV: production
      - uses: JS-DevTools/npm-publish@ac1995d18e7a4676972d0638229508a92ceaf299 # v2
        with:
          token: ${{ secrets.NPM_PUBLISH_SECRET }}
          dry-run: ${{ github.event.workflow_run.head_branch != 'master' }}
          package: ./${{ matrix.package }}/package.json
