name: Publish
on:
  workflow_run:
    workflows: ['Tests']
    types: [completed]

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        package: ['modele-social', 'exoneration-covid']
    steps:
      - name: Debug workflow_run context
        run: |
          echo "head_branch: ${{ github.event.workflow_run.head_branch }}"
          echo "github.ref: ${{ github.ref }}"
          echo "dry-run condition: ${{ github.event.workflow_run.head_branch != 'master' }}"
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
      - run: yarn workspace ${{ matrix.package }} run build
        env:
          NODE_ENV: production
      - uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_PUBLISH_SECRET }}
          dry-run: ${{ github.event.workflow_run.head_branch != 'master' }}
          package: ./${{ matrix.package }}/package.json
