name: Tests
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
      - run: yarn lint

  typecheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
        env:
          # Secrets of all kinds for fetching stats & releases
          GITHUB_API_SECRET: ${{ secrets.GITHUB_TOKEN }}
          ATINTERNET_API_SECRET_KEY: ${{ secrets.ATINTERNET_API_SECRET_KEY }}
          ATINTERNET_API_ACCESS_KEY: ${{ secrets.ATINTERNET_API_ACCESS_KEY }}
          CRISP_API_IDENTIFIER: ${{ secrets.CRISP_API_IDENTIFIER }}
          CRISP_API_KEY: ${{ secrets.CRISP_API_KEY }}
          CRISP_WEBSITE_ID: ${{ secrets.CRISP_WEBSITE_ID }}
      - run: yarn test:type

  unit:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
      - run: yarn test

  i18n:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install
      # La traduction auto des règles est cassée
      # CF https://github.com/betagouv/mon-entreprise/issues/2078
      # - run: yarn workspace site run i18n:check
      - run: yarn workspace site run i18n:ui:check
