name: Test external integrations
on:
  schedule:
    - cron: '47 3,15 * * *'

permissions:
  contents: read

jobs:
  test-external-integrations:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/cache@v3
        # Custom cache as we do not care about installing all the other dependancies
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: cypress-cache-${{ runner.os }}-${{ hashFiles('package-lock.json', 'package.json') }}

      - uses: ./.github/actions/install

      - name: Test external integration
        uses: cypress-io/github-action@248bde77443c376edc45906ede03a1aba9da0462 # v5.8.4
        with:
          install: false
          working-directory: site
          record: true
          tag: external-integration
          config: specPattern=cypress/integration/external/**/*.{js,jsx,ts,tsx},baseUrl=https://mon-entreprise.urssaf.fr
